{% extends "base.html" %}
{% block header %}
<div id="header" style="position: relative"><a href="{% url 'rus_start' %}"><img src="{{ STATIC_URL }}images/header.jpg" /></a>
  </div>
{% endblock %}
{% block menu %}
<li class="trigger">
<a href="{% url 'rus_start' %}">Start</a>
<ul class="subnav">
  <li><a href="{% url 'rus_kontakt' %}">Kontakt</a></li>
  <li><a href="{% url 'rus_dinData' %}">Din data</a></li>
  {#<li><a href="{% url 'rus_nyheder' %}">Nyheder</a></li>#}
  {#<li><a href="{% url 'rus_rse' %}">Dansk som andetsprog</a></li>#}
  {% if rus %}
  <li><a href="{% url 'rus_password_change' %}">Skift kodeord</a></li>
  {% endif %}
</ul>
</li>
<li class="trigger">
<a href="{% url 'rus_program' %}">Program</a>
<ul class="subnav">
  <li><a href="{% url 'rus_kalender' %}">Kalender</a></li>
</ul>
</li>
<!---
<li class="trigger">
<a href="{% url 'rus_holdlisterne' %}">Holdlisterne</a>
{% if rus %}
<ul class="subnav">
  <li><a href="{% url 'rus_profil' %}">Mine oplysninger</a></li>
</ul>
{% endif %}
</li>
--->
<li class="trigger">
<a href="{% url 'rus_bogliste' %}">Bogliste</a>
</li>
<li class="trigger">
<a href="{% url 'rus_nyheder' %}">Meddelelser</a>
</li>
<!--
<li class="trigger">
<a href="{% url 'rus_gallery' %}">Billeder</a>
</li>
-->
{% endblock %}
