{% extends "base.html" %}
{% block header %}
<div id="rusheader" style="position: relative"><a href="/"><img src="{{ STATIC_URL }}tutor2013-header.jpg" /></a>
<img src="{{ STATIC_URL }}dmlogo-ilove-hvid.png" style="position: absolute; left: 2px; bottom: -3px; width: 110px; height: 83px;" />
</div>
{% endblock %}
{% block menu %}
<li class="trigger">
<a href="{% url rus_start %}">Start</a>
<ul class="subnav">
  <li><a href="{% url rus_kontakt %}">Kontakt</a></li>
  <li><a href="{% url rus_nyheder %}">Nyheder</a></li>
</ul>
</li>
<li class="trigger">
<a href="{% url rus_program %}">Program</a>
<ul class="subnav">
  <li><a href="{% url rus_kalender %}">Kalender</a></li>
</ul>
</li>
<li class="trigger">
<a href="{% url rus_rusbrev %}">Rusbrev</a>
<ul class="subnav">
  <li><a href="{% url rus_rusbog %}">Rusbog</a></li>
</ul>
</li>
<li class="trigger">
<a href="{% url rus_holdlister %}">Holdlister</a>
<ul class="subnav">
</ul>
</li>
{% endblock %}
