{% extends "rus/base.html" %}
{% block title %}Program{% endblock %}

{% block content %}
<h1>Boglister</h1>
<p>Her er en oversigt over de forskellige studieretningers boglister for første kvarter. Der vil under rusdagene være
mulighed for at købe bøgerne fra ny. Vær opmærksom på, at det er specifikke versioner af bøger, der bruges i kurserne.
Derfor anbefaler vi kraftigt at købe dem fra ny for at være sikker på at være rigtigt klædt på til kurserne.</p>
<ul>
    <li><a href="https://dl.dropboxusercontent.com/u/3863546/rusbogliste-16/rusbogliste-dat.pdf">Datalogi</a></li>
    <li><a href="https://dl.dropboxusercontent.com/u/3863546/rusbogliste-16/rusbogliste-fys.pdf">Fysik</a></li>
    <li><a href="https://dl.dropboxusercontent.com/u/3863546/rusbogliste-16/rusbogliste-it.pdf">IT</a></li>
    <li><a href="https://dl.dropboxusercontent.com/u/3863546/rusbogliste-16/rusbogliste-mat.pdf">Matematik</a></li>
    <li><a href="https://dl.dropboxusercontent.com/u/3863546/rusbogliste-16/rusbogliste-mok.pdf">Matematik-Økonomi</a></li>
    <li><a href="https://dl.dropboxusercontent.com/u/3863546/rusbogliste-16/rusbogliste-nan.pdf">Nanoscience</a></li>
</ul>

{% endblock %}
