{% extends "rus/base.html" %}
{% block title %}Kalender{% endblock %}

{% block content %}

<h1>Kalender</h1>

<h2 onclick="cornify_add();return false;" title="click me!">Rusdagene
</h2><script type="text/javascript" src="http://www.cornify.com/js/cornify.js"></script>
<h3>Onsdag 19. august 2015 til fredag 21. august 2015</h3>

<p>Dette er dine første dage på universitetet. Rusdagene (eller introdagene) er
tre dage, der afholdes inden studiestart. Formålet med dagene er at give dig og
dit hold en god start på studiet. I rusdagene vil dine tutorer sørge for, at
holdet bliver rystet sammen og at I får købt bøger, og der vil også være oplæg om
arbejdsformer og læsegrupper. Onsdag starter dagen kl. 8.30 hvor alle russer
møder og bliver registreret og samlet med deres hold og deres tutorer. Mere
præcis information om hvor man skal møde kommer med brevet der bliver sendt
til alle nye studerende. Det kan også findes på denne hjemmeside under
<a href="{% url 'rus_program' %}">Program</a>.</p>

<h2>SØØL</h2>
<h3>Onsdag 19. august 2015</h3>

<p>Onsdag i rusdagene holdes der SØØL, hvor alle tutorer og russer nyder en øl
(eller [sø]vand) ved søen i uniparken. Hvis det skulle gå hen og blive dårligt
vejr flyttes både sø og øl ind i Matematisk Kantine og Vandrehallen.</p>

<h2>Spis en Rus</h2>
<h3>Fredag 21. august 2015</h3>

<p>Fredag i rusdagene er der tradition for at hvert hold spiser sammen hjemme
hos en af russerne. Hvordan det præcis foregår planlægges af de enkelte hold i
løbet af rusugen. Dog kan du allerede nu overveje om du har en lejlighed med
plads til 20–25 personer eller om du har adgang til et fællesrum, hvor der
ville kunne være et rushold.</p>

<h2>Ordinær studiestart</h2>
<h3>Mandag 24. august 2015</h3>

<p>Dette er den første almindelige undervisningsdag. Hvis ikke du kan komme til
Rusdagene, så skal du i det mindste tilstræbe at komme denne dag (og for
fremtiden). Husk at kontakte os, hvis ikke du kommer i Rusdagene, se mere under
kontakt.</p>

<h2>Rushyg</h2>
<h3>Fredag 28. august 2015</h3>

<p>
<tt style="white-space: nowrap"
title="TAAGEKAMMERET er andet end slips og fisk!"><span
style="vertical-align: -0.4pt">T</span><span
style="font-weight: bold">&Aring;</span>G<span
style="display: inline-block; transform: rotate(8deg); -webkit-transform:
rotate(8deg)">E</span><span
style="vertical-align: -0.6pt">K</span><span
style="vertical-align: 0.2pt; font-weight: bold">A</span><span
style="vertical-align: -0.6pt">M</span><span
style="display: inline-block; transform: rotate(-8deg); -webkit-transform:
rotate(-8deg); font-weight: bold">M</span>ER<span
style="vertical-align: 0.6pt">ET</span></tt>,

der er fest- og foredragsforeningen ved Naturvidenskab, holder en fest kun for russerne.
Festen finder sted fredag den 28. august og er med spisning for alle.

<h2>Rustur</h2>
<h3>Fredag 11. september 2015 – søndag 13. september 2015</h3>

<p>Efter de første tre undervisningsuger tager alle russer og deres tutorer på
rustur i en hytte ikke så langt fra universitetet. Man tager afsted to eller
tre rushold og lærer hinanden at kende på tværs
af holdene. Rusturen både starter og slutter med Matematisk Instituts
parkeringsplads – dine tutorer vil give dig meget mere praktisk information om
turen. Husk, at du selv skal betale en del af turen. Det kan du læse mere om i
rusbrevet.</p>

<h2>Sportsdag</h2>
<h3>Fredag 25. september 2015</h3>

<p>Russerne kæmper i små hold mod hinanden i hyggelige discipliner som
knæ-volley eller pingvin-fodbold. Efter kåringen af vinderholdet vil Matematisk
Kantine servere kolde fadøl og god mad til SU-venlige priser.</p>

{% endblock %}
