{% extends "rus/base.html" %}
{% block title %}Kontakt{% endblock %}

{% block content %}
<h1>Kontakt os</h1>

<p><em>Bemærk, at vi fra 5. august 2013 har fået et nyt telefonnummer.</em></p>

<p>Skulle du have spørgsmål til din studiestart skal du være velkommen til at kontakte os, dine hengivne tutorer.</p>

<p>Inden du møder første gang onsdag den 21. august 2013 kan du rette henvendelse til Buret, der er vores kommandocentral.
Du kan skrive en mail til os på <a href="mailto:bur@matfystutor.dk">bur@matfystutor.dk</a> eller ringe på <b>28&nbsp;46&nbsp;48&nbsp;90</b>.
Vores telefontider er</p>

<ul>
    <li>6.-28. august 2013: Hverdage kl. 10-14</li>
    <li>21.-23. august 2013: Kl. 07-22</li>
</ul>
{% endblock %}
