{% extends "rus/base.html" %}
{% block title %}Kontakt{% endblock %}

{% block content %}
<h1>Kontakt os</h1>

<p>Skulle du have spørgsmål til din studiestart skal du være velkommen til at kontakte os, dine hengivne tutorer.</p>

<p>Inden du møder første gang onsdag den 24. august 2021 kan du rette henvendelse til Buret, der er vores kommandocentral.
Du kan skrive en mail til os på <a href="mailto:buret@matfystutor.dk">buret@matfystutor.dk</a> eller ringe på
<b>21 95 50 26</b>.
Vores telefontider er
<ul>
    <li>10.-23. august 2022: Alle hverdage kl. 10-14</li>
    <li>24.-26. august 2022: Kl. 07-22</li>
    <li>29.-31 august 2022: Kl. 07:30-14</li>
</ul>
</p>
{% endblock %}
