{% extends "rus/base.html" %}
{% block title %}Kontakt{% endblock %}

{% block content %}
<h1>Kontakt os</h1>

<p>Skulle du have spørgsmål til din studiestart skal du være velkommen til at kontakte os, dine hengivne tutorer.</p>

<p>Inden du møder første gang onsdag den {{ firstDateRusuge }}. {{ månedRusuge }} kan du rette henvendelse til Buret, der er vores kommandocentral.
Du kan skrive en mail til os på <a href="mailto:buret@matfystutor.dk">buret@matfystutor.dk</a> eller ringe på
<b>21 95 50 26</b>.
Vores telefontider er
<ul>
    <li>{{ firstDateBurMobil }}.-{{ secondDateBurMobil }}. {{ månedRusuge }} {{ årstal0Stormøde }}: Alle hverdage kl. 10-14</li>
    <li>{{ thirdDateBurMobil }}.-{{ fourthDateBurMobil }}. {{ månedRusuge }} {{ årstal0Stormøde }}: Kl. 07-22</li>
    <li>{{ fifthDateBurMobil }}.-{{ sixthDateBurMobil }}. {{ månedRusuge }} {{ årstal0Stormøde }}: Kl. 07:30-14</li>
</ul>
</p>
{% endblock %}
