{% extends "rus/base.html" %}
{% block title %}Skift kodeord{% endblock %}

{% block content %}

<h1>Skift kodeord</h1>

{% if success %}
<p class="success_message">Dit kodeord er ændret!</p>
{% else %}

<form method="post" class="twocol">{% csrf_token %}
{{ form.non_field_errors }}
<div class="label"><label for="id_old_password">Gammel kode:</label></div>
<div class="field">{{ form.old_password }}</div>
{{ form.old_password.errors }}
<div class="label"><label for="id_new_password1">Ny kode:</label></div>
<div class="field">{{ form.new_password1 }}</div>
{{ form.new_password1.errors }}
<div class="label"><label for="id_new_password2">Gentag:</label></div>
<div class="field">{{ form.new_password2 }}</div>
{{ form.new_password2.errors }}
<div class="field"><input type="submit" value="Skift kodeord" /></div>
</form>

{% endif %}

{% endblock %}
