{% extends "rus/base.html" %}
{% block title %}Program{% endblock %}

{% block content %}
<h1>Studiestartsprogram</h1>

<p>De tre første dage på Universitetet (rusdagene) er tæt pakkede med aktiviteter af enhver slags; både faglige, administrative men ikke mindst også sociale.</p>

<p>Programmet er (så vidt vi ved) endeligt.
Skulle der komme småændringer kommer de ikke til at påvirke hvornår du skal møde eller får fri.
Studiestartsprogrammet dækker kun de tre første dage (som vi kalder rusdagene eller intro-dagene),
så husk at tjekke <a href="{% url 'rus_kalender' %}">kalenderen</a> for vigtige datoer.</p>

<p>Herunder kan du finde programmet for de enkelte uddannelser. Under punktet 'Information fra tutorerne' 
og dernæst 'Introdagene' vil du yderligere kunne finde information om arrangementer så som ParXafari:</p>

<ul>
    <li><a target="blank" href="https://matfystutor.dk/upload/docs/2022/udgivelser/datalogi.pdf">Datalogi</a></li>
    <li><a target="blank" href="https://matfystutor.dk/upload/docs/2022/udgivelser/datavidenskab.pdf">Datavidenskab</a></li>
    <li><a target="blank" href="https://matfystutor.dk/upload/docs/2022/udgivelser/fysik.pdf">Fysik</a></li>
    <li><a target="blank" href="https://matfystutor.dk/upload/docs/2022/udgivelser/matematik.pdf">Matematik</a></li>
    <li><a target="blank" href="https://matfystutor.dk/upload/docs/2022/udgivelser/matematikoekonomi.pdf">Matematik-økonomi</a></li>
    <li><a target="blank" href="https://matfystutor.dk/upload/docs/2022/udgivelser/nanoscience.pdf">Nanoscience</a></li>
</ul>

{% endblock %}
