{% extends "rus/base.html" %}
{% block title %}Dansk som andetsprog{% endblock %}

{% block content %}
<h1>Rådgivning og støtte til studerende med dansk som andetsprog på AU</h1>

<p>Rådgivnings- og støtteenheden (RSE) ved Aarhus Universitet har i efteråret
2013 forskellige undervisnings- og vejledningstilbud til studerende med andet
modersmål end dansk på Aarhus Universitet.</p>

<p>RSE udbyder kurser i Skriftlig akademisk formidling og i Mundtlig akademisk
kommunikation og formidling. Kurserne starter i uge 39 på Campus Aarhus og i
uge 40 på Campus Emdrup. Et kursus strækker sig over i alt 6 undervisningsgange
a 3 lektioner.</p>

<p>Undervisningen fokuserer på bl.a.:</p>

<ul>
<li>Videnskabeligt sprog</li>
<li>Klart sprog</li>
<li>Korrekt sprog</li>
<li>Ordforråd</li>
<li>Argumentation</li>
<li>Det gode mundtlige oplæg</li>
</ul>

<p>RSE udbyder også i et begrænset omfang individuelle studiestøtteforløb med
akademisk læse-skrivevejleder eller en faglig mentor til tosprogede studerende
med dansksproglige og studiemæssige vanskeligheder.</p>

{% endblock %}
