{% extends "rus/base.html" %}
{% block title %}Rusbog{% endblock %}

{% block content %}
<h1>Rusbog</h1>
<p>
Fra rusbogens forord:
</p>
<blockquote>
Om ikke så længe starter en ganske ny epoke i dit liv – du
går nemlig fra at være et almindeligt dødeligt menneske til at
være universitetsstuderende. Lige nu sidder du med en masse
ubesvarede spørgsmål, der tumler rundt i dit hoved: Hvor skal
jeg hen? Hvordan er det at læse på universitetet? Hvad er det
i det hele taget, jeg har meldt mig til? Når du har læst dette
hæfte, vil i hvert fald en del af disse spørgsmål have fundet svar.
Her har vi nemlig prøvet at samle de fleste af de oplysninger og
råd, vi som ældre studerende kan give omkring det sociale og
faglige miljø, introdagene, hytteturen, studiet osv., altså ting vi
føler er rare at vide som kommende studerende.
</blockquote>

<p>
Bogen får du tilsendt med rusbrevet medio august, men du kan smugkigge (eller
læse det hele) allerede nu – vi har nemlig lagt rusbogen her på siden i en fiks
PDF-fil, lige til at hente. For at læse den skal du have en PDF-læser såsom
<a href="http://blog.kowalczyk.info/software/sumatrapdf/download-free-pdf-viewer.html">Sumatra PDF</a>
(eller ækvivalent) installeret.
</p>

<p>
Der findes tre udgaver af bogen alt efter hvilket studie du skal starte på:
</p>

<ul>
    <li><a href="http://matfystutor.dk/upload/docs/2013/udgivelser/datit-final_1.pdf">Datalogi eller IT</a></li>
    <li><a href="http://matfystutor.dk/upload/docs/2013/udgivelser/fysnan-final_2.pdf">Fysik eller Nanoscience</a></li>
    <li><a href="http://matfystutor.dk/upload/docs/2013/udgivelser/matmok-final.pdf">Matematik eller Matematik-Økonomi</a></li>
</ul>

<p>
Du skal dog være hjerteligt velkommen til at læse alle tre udgaver, men du vil
nok opdage, at de har en del til fælles.
</p>

{% endblock %}
