{% extends "rus/base.html" %}
{% block title %}Rusbrev{% endblock %}

{% block content %}

<h1>Rusbrevet</h1>

<p>I løbet af de første to uger af august modtager du et brev fra
universitetet. I dette brev finder du blandt andet en velkomst fra tutorerne,
bogbestillingsliste og andet godt. Så snart vi har disse dele vil du kunne læse
dem som PDF her på siden.</p>

<p>Her kan du snart finde online udgaven af rusbrevet, der indeholder meget
vigtig information om studiestarten. Vi vil opdatere denne liste, så snart der
sker ændringer, men det er desværre ikke alle informationer vi har i digital
udgave. For at læse dokumenterne skal du have en PDF-læser såsom
<a href="http://blog.kowalczyk.info/software/sumatrapdf/download-free-pdf-viewer.html">Sumatra PDF</a>
(eller ækvivalent) installeret.</p>

<p>Brevet bliver i år afsendt fredag d. 9. august 2013, hvilket vil sige, at
du gerne skulle have det <b>mandag d. 12. august.</b> Vi ved godt det er sent,
men vi kan ikke få adresserne inden da.</p>

<h3>Datalogi</h3>
<ul>
  <li><a href="http://www.matfystutor.dk/upload/rusbrev13/MatKant.pdf">Velkomst fra tutorerne</a></li>
  <li><a href="http://studerende.au.dk/studier/fagportaler/datalogi/studiestart/min-studiestart/program-for-introdagene/">Program for rusdagene</a></li>
  <li><a href="http://matfystutor.dk/upload/docs/2013/udgivelser/datit-final_1.pdf">Rusbog</a></li>
  <li><a href="http://www.matfystutor.dk/upload/rusbrev13/rusbogliste-dat.pdf">Bogbestillingsliste for dataloger</a></li>
  <li><a href="http://www.matfystutor.dk/upload/rusbrev13/datambrev13.pdf">Særlig information til datamatikere</a></li>
  <li><a href="http://studerende.au.dk/studier/fagportaler/datalogi/studiestart/">Fakultetets studiestartsportal</a></li>
  <li>Brev fra dekanen</li>
</ul>

<h3>Fysik</h3>
<ul>
  <li><a href="http://www.matfystutor.dk/upload/rusbrev13/FysKant.pdf">Velkomst fra tutorerne</a></li>
  <li><a href="http://studerende.au.dk/studier/fagportaler/fysik/studiestart/min-studiestart/program-for-introdagene/">Program for rusdagene</a></li>
  <li><a href="http://matfystutor.dk/upload/docs/2013/udgivelser/fysnan-final_2.pdf">Rusbog</a></li>
  <li><a href="http://www.matfystutor.dk/upload/rusbrev13/rusbogliste-fys.pdf">Bogbestillingsliste for fysikere</a></li>
  <li><a href="http://studerende.au.dk/studier/fagportaler/fysik/studiestart/">Fakultetets studiestartsportal</a></li>
  <li>Brev fra dekanen</li>
</ul>

<h3>IT</h3>
<ul>
  <li><a href="http://www.matfystutor.dk/upload/rusbrev13/MatKant.pdf">Velkomst fra tutorerne</a></li>
  <li><a href="http://studerende.au.dk/studier/fagportaler/datalogi/studiestart/min-studiestart/program-for-introdagene/">Program for rusdagene</a></li>
  <li><a href="http://matfystutor.dk/upload/docs/2013/udgivelser/datit-final_1.pdf">Rusbog</a></li>
  <li><a href="http://www.matfystutor.dk/upload/rusbrev13/rusbogliste-it.pdf">Bogbestillingsliste for IT-bachelorer</a></li>
  <li><a href="http://studerende.au.dk/studier/fagportaler/datalogi/studiestart/">Fakultetets studiestartsportal</a></li>
  <li>Brev fra dekanen</li>
</ul>

<h3>Matematik</h3>
<ul>
  <li><a href="http://www.matfystutor.dk/upload/rusbrev13/MatLab.pdf">Velkomst fra tutorerne</a></li>
  <li><a href="http://studerende.au.dk/studier/fagportaler/matematik/studiestart/min-studiestart/program-for-introdagene/">Program for rusdagene</a></li>
  <li><a href="http://matfystutor.dk/upload/docs/2013/udgivelser/matmok-final.pdf">Rusbog</a></li>
  <li><a href="http://www.matfystutor.dk/upload/rusbrev13/rusbogliste-mat.pdf">Bogbestillingsliste for matematikere</a></li>
  <li><a href="http://studerende.au.dk/studier/fagportaler/matematik/studiestart/">Fakultetets studiestartsportal</a></li>
  <li>Brev fra dekanen</li>
</ul>

<h3>Matematik-Økonomi</h3>
<ul>
  <li><a href="http://www.matfystutor.dk/upload/rusbrev13/MatLab.pdf">Velkomst fra tutorerne</a></li>
  <li><a href="http://studerende.au.dk/studier/fagportaler/matematik/studiestart/min-studiestart/program-for-introdagene/">Program for rusdagene</a></li>
  <li><a href="http://matfystutor.dk/upload/docs/2013/udgivelser/matmok-final.pdf">Rusbog</a></li>
  <li><a href="http://www.matfystutor.dk/upload/rusbrev13/rusbogliste-mok.pdf">Bogbestillingsliste for matematik-økonomi</a></li>
  <li><a href="http://studerende.au.dk/studier/fagportaler/matematik/studiestart/">Fakultetets studiestartsportal</a></li>
  <li>Brev fra dekanen</li>
</ul>

<h3>Nanoscience</h3>
<ul>
  <li><a href="http://www.matfystutor.dk/upload/rusbrev13/FysKant.pdf">Velkomst fra tutorerne</a></li>
  <li><a href="http://studerende.au.dk/studier/fagportaler/nanoscience/studiestart/min-studiestart/program-for-introdagene/">Program for rusdagene</a></li>
  <li><a href="http://matfystutor.dk/upload/docs/2013/udgivelser/fysnan-final_2.pdf">Rusbog</a></li>
  <li><a href="http://www.matfystutor.dk/upload/rusbrev13/rusbogliste-nan.pdf">Bogbestillingsliste for nanoteknologi</a></li>
  <li><a href="http://studerende.au.dk/studier/fagportaler/nanoscience/studiestart/">Fakultetets studiestartsportal</a></li>
  <li>Brev fra dekanen</li>
</ul>

{% endblock %}
