{% extends "rus/base.html" %}
{% block title %}Start{% endblock %}

{% block content %}

{% if rus %}
<h1>{{ rusclass }}</h1>

{% if my_info_form %}
{% if params.form_saved %}
<p>Dine kontaktoplysninger er gemt.</p>
{% elif params.form_errors %}
{% else %}
<p>Du mangler at udfylde dine kontaktoplysninger!</p>
{% endif %}
{{ my_info_form.non_field_errors }}
<form class="twocol" method="post">{% csrf_token %}
    <div class="label"><label for="id_phone">Telefonnummer:</label></div>
    <div class="field">{{ my_info_form.phone }}</label> {{ my_info_form.phone.errors }}</div>
    <div class="label"><label for="id_email">Email:</label></div>
    <div class="field">{{ my_info_form.email }}</label> {{ my_info_form.email.errors }}</div>
    <div class="field"><input type="submit" value="Gem" /></div>
</form>
{% endif %}

<table class="person_list" cellspacing="0">
<col span="3" />
<tr class="heading"><td colspan="3"><h3>Tutorer</h3></td></tr>

<tr>
    <th>Navn</th>
    <th>Mobil</th>
    <th>Email</th>
</tr>
{% for tutor in rusclass_tutors %}
    <tr>
        <td>{{ tutor.profile.get_full_name }}</td>
        <td class="phone"><a href="tel:{{ tutor.profile.phone }}">{{ tutor.profile.phone }}</a></td>
        <td><a href="mailto:{{ tutor.profile.email }}">{{ tutor.profile.email }}</a></td>
    </tr>
{% endfor %}

<tr class="heading"><td colspan="3"><h3>Russer</h3></td></tr>

<tr>
    <th>Navn</th>
    <th>Mobil</th>
    <th>Email</th>
</tr>
{% for rus in rusclass_russes %}
    <tr>
        <td>{{ rus.profile.get_full_name }}</td>
        <td class="phone"><a href="tel:{{ rus.profile.phone }}">{{ rus.profile.phone }}</a></td>
        <td><a href="mailto:{{ rus.profile.email }}">{{ rus.profile.email }}</a></td>
    </tr>
{% endfor %}
</table>

<div style="height: 1em"></div>

{% endif %}

<h1>Information til kommende russer</h1>

<p>
Hvad og hvornår er rusdagene?
Er du helt fortabt?
Så er du kommet til det rette sted, hvis du skal starte på et af følgende studier:
</p>

<ul>
    <li><a target="blank" 
           href="http://studerende.au.dk/studier/fagportaler/datalogi/studiestart/bachelor-studiestart/">
        Datalogi</a></li>
    <li><a target="blank" 
           href="http://studerende.au.dk/studier/fagportaler/fysik/studiestart/ny-bachelorstuderende/">
        Fysik</a></li>
    <li><a target="blank" 
           href="http://studerende.au.dk/studier/fagportaler/matematik/studiestart/ny-bachelorstuderende/">
        Matematik og matematik-økonomi</a></li>
    <li><a target="blank" 
           href="http://studerende.au.dk/studier/fagportaler/nanoscience/studiestart/ny-bachelorstuderende/">
        Nanoscience</a></li>
</ul>

<h2>Om rusdagene</h2>

<p>Rusdagene (eller introduktionsdagene) er tre dage, der afholdes inden
studiestart. Formålet med dagene er at give dig og dit hold en god start på
studiet. I rusdagene vil dine tutorer sørge for, at holdet bliver rystet samme,
at I får købt bøger, og der vil også være oplæg om arbejdsformer og læsegrupper.
Rusdagene er ikke obligatoriske, men vi vil på det stærkeste anbefale, at du
deltager. Hvis du er forhindret (eller ikke ønsker at deltage) vil vi meget
gerne <a href="{% url 'rus_kontakt' %}">have besked om det</a>.</p>

<h2>Hjælpen er nær</h2>

<p>
På denne hjemmeside kan du blandt andet finde en <a href="{% url 'rus_kalender' %}">kalender</a>
med de vigtigste datoer for studiestarten
(f.eks. hvorn&aring;r du skal starte og hvorn&aring;r du skal p&aring; rustur) og ikke
mindst <a href="{% url 'rus_program' %}">studiestartsprogrammet</a>,
s&aring; du kan se, hvad du skal lave de f&oslash;rste dage p&aring; universitetet.
</p>

<p>
Hvis du har sp&oslash;rgm&aring;l eller kommentarer skal du v&aelig;re mere end velkommen til at kontakte os.
Se hvordan under <a href="{% url 'rus_kontakt' %}">Kontakt os</a>.
</p>

<p>
Vi gl&aelig;der os til at se dig!
</p>

{# 2015-08-03 hidden: #}
<!--
<h2>Vil du fortælle om din studiestart?</h2>

<p>
Vi er, ligesom I, meget spændte på den kommende studiestart her på Aarhus
Universitet. Science and Technology søger i den forbindelse nogle studerende,
der vil hjælpe os med at dække studiestarten på sociale medier eller deltage i
et par interviews. Hvis du har lyst til at være med, så skriv til Frederik på
<a href="mailto:frros@science.au.dk">frros@science.au.dk</a>.
</p>
-->

<h2>Vejviser</h2>

<p><iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=ny+munkegade+118,+8000+%C3%A5rhus,+denmark&amp;aq=&amp;sll=56.16617,10.199861&amp;sspn=0.009271,0.033023&amp;g=ny+munkegade+116,+8000+%C3%A5rhus,+denmark&amp;ie=UTF8&amp;hq=&amp;hnear=Ny+Munkegade+118,+8000+Aarhus,+Aarhus+C,+Denmark&amp;ll=56.166164,10.199862&amp;spn=0.001159,0.004128&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=ny+munkegade+118,+8000+%C3%A5rhus,+denmark&amp;aq=&amp;sll=56.16617,10.199861&amp;sspn=0.009271,0.033023&amp;g=ny+munkegade+116,+8000+%C3%A5rhus,+denmark&amp;ie=UTF8&amp;hq=&amp;hnear=Ny+Munkegade+118,+8000+Aarhus,+Aarhus+C,+Denmark&amp;ll=56.166164,10.199862&amp;spn=0.001159,0.004128&amp;t=m&amp;z=14" style="color:#0000FF;text-align:left">Vis st&oslash;rre kort</a></small></p>
</p>

{% endblock %}
{% block bottom %}
<div style="margin-top: 1em; text-align: center">
<a href="{{ STATIC_URL }}matfys-2017.jpg">
<img src="{{ STATIC_URL }}matfys-2017.jpg" style="width: 800px; height: 533px" />
</a>
</div>
{% endblock %}
