<!DOCTYPE html>
<!-- vim:set sw=2 sts=2 et: -->
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{{ STATIC_URL }}stylesheet.css" type="text/css" media="screen, projection" />
  <title>{% block fulltitle %}{% block title %}Forside{% endblock %} - Mat/Fys-Tutorgruppen{% endblock %}</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=750px" />
  <script type="text/javascript" src="{{ STATIC_URL }}css_browser_selector.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}script.js"></script>
  {% block head %}{% endblock %}
</head>
<body class="{{ BODY_CLASS }} {% block bodyclass %}{% endblock %}">
<div id="background">
<div id="main">
<div id="header"><a href="/"><img src="{{ STATIC_URL }}images/header.jpg" /></a></div>
<div id="menu">
  <div id="menu-list">
    <ul class="topnav">
      {% block menu %}
      <li class="trigger">
      <a href="{% url news %}">Info</a>
      <ul class="subnav">
        <li><a href="{% url intro %}">Introduktion</a></li>
        <li><a href="{% url news %}">Nyheder</a></li>
        <li><a href="{% url board %}">Bestyrelsen</a></li>
        <li><a href="{% url vedtaegter %}">Vedtægter</a></li>
        <li><a href="{% url events %}">Kalender</a></li>
        <li><a href="{% url gruppekatalog %}">Gruppekatalog</a></li>
        <li><a href="{% url rus2tur %}">Rus2Tur</a></li>
        <li><a href="{% url sponsor %}">Sponsor</a></li>
        <li><a href="{% url kontakt %}">Kontakt</a></li>
      </ul>
      </li>
      {% if user.is_authenticated %}
      <li class="trigger">
      <a href="{% url tutors %}">Tutorer</a>
      <ul class="subnav">
        <li><a href="{% url gallery %}">Billeder</a></li>
        <li><a href="{% url tutors %}">Adresser</a></li>
        <li><a href="{% url aliases %}">Mailalias</a></li>
        <li><a href="{% url list_guides %}">Guides</a></li>
        <li><a href="{% url list_udgivelser %}">Udgivelser</a></li>
        <li><a href="{% url list_referater %}">Referater</a></li>      
        <li><a href="{% url feeds %}">Feeds</a></li>      
      </ul>
      </li>
      <li class="trigger">
      <a href="#" style="cursor: default" onclick="return false">Personligt</a>
      <ul class="subnav">
        <li><a href="{% url profile_view %}">Profil</a></li>
        <li><a href="{% url groups_view %}">Mine Grupper</a></li>
        <li><a href="{% url password_change %}">Ændre kodeord</a></li>
        <li><a href="{% url events %}">Tilmeldinger</a></li>
        <li><a href="{% url upload_picture_view %}">Upload Billede</a></li>
        <!--<li><a href="{% url shirt_preference %}">T-shirt-størrelse</a></li>-->
        <li><a href="{% url own_confirmation %}">Tutorbekræftelse</a></li>
      </ul>
      </li>
      {% else %}
      <li class="trigger">
      <a href="{% url kontakt %}">Kontakt</a>
      </li>
      {% endif %}
      {% if tutor.is_tutorbest %}
      <li class="trigger">
      <a href="{% url admin:index %}">Administration</a>
      <ul class="subnav">
        <li><a href="{% url admin:aliases_alias_changelist %}">Aliaser</a></li>
        <li><a href="{% url todo %}">Evalueringer</a></li>
        <li><a href="{% url admin:news_newspost_changelist %}">Forsidenyheder</a></li>
        <li><a href="{% url admin:events_event_changelist %}">Kalender</a></li>
        <li><a href="{% url todo %}">Referater</a></li>
        <li><a href="{% url confirmation_table %}">Tutorbekræftelser</a></li>
        <li><a href="{% url confirmation_card %}">Tutorkort</a></li>
      </ul>
      </li>
      {% endif %}
      {% endblock %}
    </ul>
  </div>
  <div id="login">
    {% if tutor %}
    {{ profile.user.get_full_name }}&nbsp;&nbsp;
    <a href="{% url tutor.views.logout_view %}?next={{ request.get_full_path }}">Log ud</a>
    {% else %}
    <form method="post" action="{% url tutor.views.login_view %}">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ request }}" />
      <fieldset>
        <input name="username" type="text" id="user-login" value="Årskortnr" onfocus="if (this.value == 'Årskortnr') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Årskortnr';}" />
        <input name="password" type="text" id="password-login" value="Password" onfocus="if (this.value == 'Password') {this.value = '';} if (this.type == 'text') {this.type = 'password'};" onblur="if (this.value == '') {this.value = 'Password';} if (this.type == 'password' &amp;&amp; this.value == 'Password') {this.type = 'text'};" />
        <input name="login" type="submit" class="submit-button" value="LOGIN" />
        <!--<a href="{% url register %}">Aktivering</a> -->
      </fieldset>
    </form>
    {% endif %}
  </div>
</div>
<div id="content">
  {% block content %}{% endblock %}
<div class="clear"></div>
</div>
</div>
</div>
</body>
</html>
