{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Bestyrelsen{% endblock %}
{% block bodyclass %}board{% endblock %}
{% block content %}
<div class="tutorlist">
{% for tutor in tutor_list %}
<div class="tutoraddress">
 <div class="pic">
  {% if tutor.tutor.profile.picture %}
  <a target="_blank" href="{{ tutor.tutor.profile.picture.url }}">
{% thumbnail tutor.tutor.profile.picture "130x130" crop="center" as im %}
<img class="tutorpicture" src="{{ im.url }}" /></a>
{% endthumbnail %}
  {% endif %}
 </div> <!-- /pic -->
 <div class="detailscontainer">
  <div class="detailsmagic"></div><div class="details">
   <div class="name">
    {{ tutor.tutor.profile.get_full_name }}
   </div> <!-- /name -->
   <ul>
    <li>{{ tutor.title }}</li>
    <li>{{ tutor.tutor.profile.email }}</li>
   </ul>
  </div> <!-- /details -->
  <div class="detailsoverflow"></div>
 </div> <!-- /detailscontainer -->
</div> <!-- /tutoraddress -->

{% endfor %}
</div>
{% endblock %}
