{% extends "base.html" %}

{% block content %}
<h1>Krydsliste generator</h1>

<form action="" method="POST">{% csrf_token %}
    <textarea name='value' rows="10" cols="30" value=''
        placeholder="Write the names of the people that are going on the trip here, each name on a new line"
        style="width: 100%;"></textarea>
    <input type="submit">
    <label>
        Skal der være mulighed for at krydse RTD?
        <input id="id_check_rtd" name="check_rtd" type="checkbox">
    </label>
</form>

{% endblock %}