{% extends "base.html" %}

{% block content %}
<h1>Krydsliste generator</h1>

<form action="" method="POST">{% csrf_token %}
    <textarea name='value' rows="10" cols="30" value=''
        placeholder="Skriv navnene på de folk der skal med på turen her, hvert navn skal være på en ny linje..."
        style="width: 100%;"></textarea>
    <input type="submit" value="Generer PDF">
    <label>
        <input id="id_check_rtd" name="check_rtd" type="checkbox">
                Skal der være mulighed for at krydse RTD?
    </label>
</form>

{% endblock %}