{% extends "base.html" %}
{% block title %}Princippapir{% endblock %}

{% block content %}

<div class="princip">
<h1>Princippapir</h1>

Vedtaget 22. november 2023. 

<h3>I udvælgelsen af holdtutorer tilstræber bestyrelsen følgende</h3>

<h3>1. princip</h3>
<p>I tutorbekræftelsen bliver hver tutor bedt om at angive, om de ønsker at blive holdtutor. De
    kan angive op til tre uddannelser, som de kunne tænke sig at være holdtutor for. Hvis de så
    bliver tilbudt at blive tutor for en af de prioriterede uddannelser, fanger bordet som
    udgangspunkt. De enkeltes prioriteringer sætter rammen for bestyrelsens udvælgelse af
    holdtutorer og fordelingen af holdtutorer på hold.
</p>

<h3>2. princip</h3>
<p>Til hvert rushold knyttes et tutorteam med typisk 4 tutorer. På hvert tutorteam bør der også
    være mindst én tutor, der har været holdtutor før, og mindst én tutor, der studerer samme
    uddannelse som rusholdet. Der lægges også vægt på kønsfordeling på hvert tutorteam.
</p>

<h3>3. princip</h3>
<p>Tutorer, der ikke har været holdtutorer før, og som gerne vil prøve det, prioriteres så vidt
    muligt ifm. udvælgelsen. Tutorer, der tidligere har ønsket at blive holdtutor, men som
    dengang blev fravalgt, prioriteres så vidt muligt særligt højt i udvælgelsen. Det er med til at
    sende et vigtigt signal til dem, som bliver fravalgt som holdtutorer, om, at det ikke er
    personligt, og at de fortsat er meget velkomne til at søge igen næste år. Der skal selvfølgelig
    tages hensyn som beskrevet ovenfor, og ingen er garanteret at blive holdtutor.
</p>

<h3>4. princip</h3>
<p>Bestyrelsen udvælger holdtutorer, hurtigst muligt efter at instituttet har meddelt, hvor
    mange rushold der forventes oprettet på hver uddannelse. Umiddelbart efter beslutningen
    er truffet, skal den enkelte tutor have besked om, om vedkommende er blevet holdtutor
    eller ej. Der gives ikke besked om på hvilken uddannelse eller for hvilket rushold, da det kan
    nå at ændre sig, jf. 5. og 6. princip
</p>

<h3>5. princip</h3>
<p>Hvis der efter udmeldingen, jf. 4. princip, bliver nedlagt et rushold, sørger bestyrelsen for at
    rykke rundt på de valgte holdtutorer, så vidt muligt så der så stadig er plads til alle, og så
    alle stadig er holdtutor for en af deres op til tre prioriteter. Dette kan give enkelte
    tutorteam med 5 tutorer.
</p>

<h3>6. princip</h3>
<p>Hvis der efter udmeldingen, jf. 4. princip, bliver oprettet et rushold, sørger bestyrelsen
    ligeledes rykke rundt på de valgte holdtutorer, så der opstår et ekstra tutorteam. For at det
    kan lade sig gøre, kan det være en god idé at planlægge med enkelte tutorteams med 5
    tutorer fra starten, så der er en buffer at tage af. Om nødvendigt kan bestyrelsen tilbyde
    dem, der i første omgang fik afslag på at blive holdtutorer, at blive holdtutorer alligevel.
</p>

</div>

{% endblock %}