{% extends "base.html" %}
{% block title %}Princippapir{% endblock %}

{% block content %}

<div class="princip">
<h1>Princippapir</h1>

Vedtaget 6. november 2024.

<h3>I udvælgelsen af holdtutorer tilstræber bestyrelsen følgende</h3>

<h3>1. princip</h3>
<p>I tutorbekræftelsen bliver hver tutor bedt om at angive, om de ønsker at blive holdtutor.
    Hvis man ønsker at blive holdtutor angiver man en prioriteret rækkefølge for alle 6 uddannelser.
    De enkeltes prioriteringer sætter rammen for bestyrelsens udvælgelse af holdtutorer og fordelingen af holdtutorer på hold.
</p>

<h3>2. princip</h3>
<p>Til hvert rushold knyttes et tutorteam med typisk 5 tutorer.
    På hvert tutorteam skal mindst halvelen af tutorerne læse uddannelsen der er tutorer for.
    Der skal også være mindst en erfaren tutor og holdets kønsfordeling skal afspejles på tutorholdet i så udbredt grad som muligt.
</p>

<h3>3. princip</h3>
<p>Tutorer der går på 3. semester og som gerne vil prøve at være holdtutor, prioriteres så vidt muligt højest ifm. udvælgelsen.
    Derefter prioriteres de erfarne tutorer således at de som har været tutorer færrest gange udvælges før dem som har prøvet det flere gange.
    Dette sikrer at holdtutorerne generelt er nyere.
    Dog skal der tages højde for at de erfarne tutorer har erfaring med at afholde hytteture, dog er ingen garanteret at blive holdtutor.
</p>

<h3>4. princip</h3>
<p>
    Bestyrelsen udvælger holdtutorer, hurtigst muligt efter at instituttet har meddelt, hvor mange rushold der forventes oprettet på hver uddannelse.
    Umiddelbart efter beslutningen er truffet, skal den enkelte tutor have besked om, om vedkommende er blevet holdtutor eller ej.
    Man får uddannelsen man er blevet holdtutor for at vide, med forbehold for at dette kan ændre sig, indtil rusugens start
</p>

<h3>5. princip</h3>
<p>Hvis der efter udmeldingen, jf. 4. princip, bliver nedlagt eller oprettet et rushold vil bestyrelsen sørge for at
    rykke rundt på de valgte holdtutorer således at ingen mister deres plads som holdtutor, samtidig med at der tages højde for de
    givne prioriteter for uddannelser. Dette vil kunne give anledning til rushold med størrelser der afviger fra
    udgangspunktet på 5 holdtutorer pr. hold. Om nødvendigt kan bestyrelsen tilbyde dem, der i første omgang fik afslag
    på at blive holdtutorer, at blive holdtutorer alligevel.
</p>

</div>

{% endblock %}