{% extends "base.html" %}
{% block title %}Adresseliste{% endblock %}
{% block head %}
<script>
/*
$0.onkeydown = null;
$0.onkeypress = function (e) {
var t = this.value;
var c = e.charCode;
var ss = this.selectionStart;
var se = this.selectionEnd;
if (e.ctrlKey) {
    return;
}
if (c == 0) {
    var k = e.keyCode;
    if (k == 8) { // backspace
        c = '';
        if (ss == se && ss > 0) --ss;
    } else if (k == 46) { // delete
        c = '';
        if (ss == se && se < t.length) ++se;
    } else {
        //console.log(e);
        return;
    }
} else {
    c = String.fromCharCode(c);
}
var a = t.substring(0, ss);
var b = t.substring(se, t.length);
document.getElementById('text').textContent = a+c+b;
}
*/
var navneleg_activated = false;
function navneleg() {
  if (navneleg_activated) return;
  navneleg_activated = true;

  var aliases = {
    "Alexandra Fogtmann-Schulz":          ["tform"],
    "Lauge Hoyer":                        ["efuit", "burløs"],
    "Mathias Jaquet Mavraganis":          ["mavraganis"],
    "Maiken Haahr Hansen":                ["gvc", "fuma", "mølle"],
    "Mathias Rav":                        ["rav", "not so much", "webfar", "webtumling", "webbaby"],
    //"Maja Harborg Slot":                "",
    "Marie Ulsø":                         ["øko", "økomor", "kromutter"],
    //"Anne Nielsen":                     "",
    "Mette Lysgaard Schulz":              ["metten", "koorbaby"],
    "Mai Olsen":                          ['3. mai'],
    "Camilla Ulbæk Pedersen":             ['fuul'],
    "Christina Gøttsche":                 ["gøttsche", "mullemus", "gotye"],
    "Frederik Jerløv":                    ["furi"],
    "Mads Fabricius":                     ["cerm", "trefuan"],
    "Jonas Termansen":                    ["sortie", "sortiecat", "sortie@cs.au.dk", "sortie@maxsi.org"],
    "Lasse Ellegaard Jørgensen":          ["nano-peter"],
    "Martin Sand":                        ["furt"],
    //"Signe Greve":                      "",
    "Peter Lystlund Matzen":              ["matzen"],
    //"Mette Bjerre":                     "",
    "Nick Bakkegaard":                    ["justin", "bieber", "justin bieber"],
    "Kasper Lynderup Jensen":             ["jomfru jensen"],
    //"Simon Aagaard Enni":               "",
    "Hans Christian Tankred":             ["hc"],
    "Kristoffer Winge":                   ["bpr", "fuan", "winge", "vinge"],
    "Morten Henriksen Birk":              ["birk"],
    "Niclas Spas Sørensen":               ["spas"],
    "Mathias Dannesbo":                   ["fuhi"],
    "Philip Tchernavskij":                ["tchernavskij", "mini-sean", "mini sean", "minisean"],
    "Frederik Brinck Truelsen":           ["ålen"],
    "Marianne Ostenfeldt Mortensen":      ["fumo"],
    "Andreas Bendix Nuppenau":            ["funu"],
    "Henrik Knakkegaard Christensen":     ["knakke", "kendrik", "kenrik"],
    "Jacob Albæk Schnedler":              ["fuco"],
    "Asbjørn Stensgaard Nielsen":         ["funi"],
    "Sandra Bleuenn Picard S Pedersen":   ["fubs"],
    //"Diana Christensen":                "",
    "Johan Johannes Johannessen":         ["3j", "triple j", "triple-j", "jjj"],
    "Jakob Ørhøj":                        ["ørhøj"],
    "Katrin Debes Kristensen":            ["solmor"],
    "Line Bjerg Sørensen":                ["fuli"],
    "Sabrina Tang Christensen":           ["gcerm"],
    "Henrik Lund Mortensen":              ["fuan"],
    "Jakob Rørsted Mosumgaard":           ["sekr", "fuan", "lokalemus"],
    "Britt Fredsgaard":                   ["gkass", "gka$$", "fredslund", "fulu"],
    "Jakob Grünewald Hjørringgaard":      ["gotye"],
    "Casper Grønne Christensen":          ["grønne"],
    "Daniel Holst Hviid":                 ["hviid", "minihahn", "mini-hahn", "mini hahn"]
  };

  var tutorelements = document.getElementsByClassName('tutoraddress');
  var tutors = [];
  for (var i = 0, l = tutorelements.length; i < l; ++i) {
    var e = tutorelements[i];
    var name = e.getElementsByClassName('name')[0].innerHTML.replace(/^[ \t\n\r]+|[ \t\n\r]+$/g, '');
    var pic = e.getElementsByClassName('tutorpicture')[0].src;
    tutors.push({'name': name, 'pic': pic});
  }

  var remainingTutors;
  var level = 1;

  var reset_tutors = function reset_tutors() {
    remainingTutors = [];
    for (var i = 0, l = tutors.length; i < l; ++i) {
      remainingTutors.push(tutors[i]);
    }
  };

  reset_tutors();

  var content = document.getElementById('content');
  content.innerHTML = '<h1>Navneleg<\/h1>\n'+
  '<p id="navneleg_stats"><\/p>\n'+
  '<p id="navneleg_status"><\/p>\n'+
  '<p style="height: 300px"><img style="max-width: 300px; max-height: 300px" id="navneleg_tutorpicture"><\/p>\n'+
  '<p><input id="navneleg_input"><\/p>\n'+
  '<p><input type="button" id="navneleg_submit" value="Indsend gæt"><\/p>\n'
  ;

  var currentIdx;
  var wins = 0, losses = 0, streak = 0;

  var stats = document.getElementById('navneleg_stats');
  var status = document.getElementById('navneleg_status');
  var pic = document.getElementById('navneleg_tutorpicture');
  var input = document.getElementById('navneleg_input');
  var submitButton = document.getElementById('navneleg_submit');

  var plural = function plural(n, noun) {
    if (n == 1) return n+" "+noun;
    else return n+" "+noun+"e";
  };

  var next_timer = null;

  var next_tutor = function next_tutor() {
    next_timer = null;
    currentIdx = Math.floor(Math.random()*remainingTutors.length);
    var t = remainingTutors[currentIdx];
    pic.src = t.pic;
    input.value = '';
    var statString = plural(wins, "korrekt")+", "+plural(losses, "forkert");
    if (streak > 1) {
      statString += ", "+plural(streak, "korrekt")+" i streg";
    }
    stats.innerHTML = statString;
    var levelText = (level == 1) ? "" : (" (level "+level+")");
    document.title = "Navneleg"+levelText+"! "+wins+"/"+losses+" ("+streak+")";
    status.innerHTML = "Hvem er følgende tutor? Indtast fornavnet eller et kendt kaldenavn.";
    input.focus();
  };

  var clear_next_timer = function clear_next_timer() {
    if (next_timer) {
      clearTimeout(next_timer);
      next_timer = null;
    }
  };
  var set_next_timer = function set_next_timer() {
    clear_next_timer();
    next_timer = setTimeout(next_tutor, 2000);
  };
  var submit = function submit() {
    var fullName = remainingTutors[currentIdx].name;
    var currentName = remainingTutors[currentIdx].name.replace(/ .*/, '');
    var als = aliases[fullName] ? aliases[fullName] : [];
    var guess = input.value.toLowerCase();
    if (guess == currentName.toLowerCase() || als.indexOf(guess) != -1) {
      status.innerHTML = "Korrekt! Det fulde navn er "+remainingTutors[currentIdx].name+".";
      remainingTutors.splice(currentIdx, 1);
      if (remainingTutors.length == 0) {
        reset_tutors();
        ++level;
        status.innerHTML = "Welcome to experience level "+level+".";
      }
      ++wins;
      ++streak;
    } else if (guess == 'jeppe' || guess = 'henrijeppe') {
      status.innerHTML = "Korrekt! Ish...";
    } else {
      status.innerHTML = "Nej, det var "+remainingTutors[currentIdx].name+".";
      ++losses;
      streak = 0;
    }
    set_next_timer();
  };
  submitButton.onclick = submit;
  next_tutor();

  var input_key_down = function input_key_down(e) {
    if (next_timer == null && e.keyCode == 13) {
      submit();
    }
    e.stopPropagation();
  };
  input.onkeydown = input_key_down;
}

function win_key_down(e) {
  if (!e) e = window.event;
  if (e.keyCode == 78) {
    navneleg();
    e.preventDefault();
    return false;
  }
  return true;
}
window.addEventListener('keydown', win_key_down, false);
</script>
{% endblock %}
{% block bodyclass %}tutors{% endblock %}
{% block content %}
<p>
Vælg gruppe:
<select onchange="location = this.value">
<option value="{% url tutors %}">----</option>
{% for g in groups %}
<option value="{% url tutorgroup g.handle %}"{% if group == g.handle %} selected="selected"{% endif %}>{{ g.name }}</option>
{% endfor %}
</select>
</p>
<p>Vis som:
<label>
<input onclick="document.getElementsByClassName('tutorcontainer')[0].className = 'tutorcontainer tutorlist'"
name="tutorcontainer" type="radio" value="tutorlist" checked="checked"> Liste</label>
<label>
<input onclick="document.getElementsByClassName('tutorcontainer')[0].className = 'tutorcontainer tutortable'"
name="tutorcontainer" type="radio" value="tutortable"> Tabel</label>
</p>
<p>
Gruppeansvarlig:
</p>
<div class="tutorcontainer tutorlist">
{% for tutor in tutor_list %}
<div class="tutoraddress tutor{{ tutor.studentnumber }}">
 <div class="pic">
  {% if tutor.picture %}
  <a target="_blank" href="{{ tutor.picture }}">
<img class="tutorpicture" src="{{ tutor.picture }}" /></a>
{% endif %}
 </div> <!-- /pic -->
 <div class="detailscontainer">
  <div class="detailsmagic"></div><div class="details">
   <div class="name">
    {{ tutor.full_name }}
   </div> <!-- /name -->
   <ul>
    <li title="Adresse" class="street">{{ tutor.street }}</li>
    <li title="By" class="city">{{ tutor.city }}</li>
    <li title="Telefon" class="phone">{{ tutor.phone }}</li>
    <li title="Email" class="email"><a href="mailto:{{ tutor.email }}">{{ tutor.email }}</a></li>
    <li title="Studium" class="study">{{ tutor.study }}</li>
    <li title="Årskort" class="studentnumber">{{ tutor.studentnumber }}</li>
   </ul>
  </div> <!-- /details -->
  <div class="detailsoverflow"></div>
 </div> <!-- /detailscontainer -->
</div> <!-- /tutoraddress -->

{% endfor %}
</div>
{% endblock %}
