{% extends "base.html" %}
{% load thumbnail %}
{% load staticfiles %}
{% block title %}Adresseliste{% endblock %}
{% block head %}
<script type="text/javascript" src="{% static "navneleg.js" %}"></script>
{% endblock %}
{% block bodyclass %}tutors{% endblock %}
{% block content %}
<p>
Vælg gruppe:
<select onchange="location = this.value">
<option value="{% url 'tutors' %}">----</option>
{% for g in groups %}
<option value="{% url 'tutorgroup' g.handle %}"{% if group == g.handle %} selected="selected"{% endif %}>{{ g.name }}</option>
{% endfor %}
</select>
</p>
{% if group %}
<p><a href="{% url "tutordumpgroup" group=group %}">Eksporter gruppen til Google Contacts</a></p>
{% else %}
<p><a href="{% url "tutordump" %}">Eksporter alle tutorer til Google Contacts</a></p>
{% endif %}
<p>Vis som:
<label>
<input onclick="document.getElementsByClassName('tutorcontainer')[0].className = 'tutorcontainer tutorlist'"
name="tutorcontainer" type="radio" value="tutorlist" checked="checked"> Liste</label>
<label>
<input onclick="document.getElementsByClassName('tutorcontainer')[0].className = 'tutorcontainer tutortable'"
name="tutorcontainer" type="radio" value="tutortable"> Tabel</label>
</p>
<p>
Antal tutorer: {{ tutor_count }}
</p>
<p>
Gruppeansvarlig:
</p>
<div class="tutorcontainer tutorlist">
{% for tutor in tutor_list %}
<div class="tutoraddress tutor{{ tutor.studentnumber }}">
 <div class="pic">
  {% if tutor.picture %}
  <a target="_blank" href="{{ tutor.picture }}">
{% thumbnail tutor.picture "130x130" crop="center" as im %}
<img class="tutorpicture" src="{{ im.url }}" /></a>
{% endthumbnail %}
{% endif %}
 </div> <!-- /pic -->
 <div class="detailscontainer">
  <div class="detailsmagic"></div><div class="details">
   <div class="name">
    {{ tutor.full_name }}
   </div> <!-- /name -->
   <ul>
    <li title="Adresse" class="street">{{ tutor.street }}</li>
    <li title="By" class="city">{{ tutor.city }}</li>
    <li title="Telefon" class="phone">
    <a href="tel:{{ tutor.phone }}">{{ tutor.phone }}</a></li>
    <li title="Email" class="email"><a href="mailto:{{ tutor.email }}">{{ tutor.email }}</a></li>
    <li title="Studium" class="study">{{ tutor.study }}</li>
    <li title="Årskort" class="studentnumber">{{ tutor.studentnumber }}</li>
   </ul>
  </div> <!-- /details -->
  <div class="detailsoverflow"></div>
 </div> <!-- /detailscontainer -->
</div> <!-- /tutoraddress -->

{% endfor %}
</div>
{% endblock %}
