{% extends "base.html" %}
{% load thumbnail %}
{% load staticfiles %}
{% block title %}Adresseliste{% endblock %}
{% block head %}
<script type="text/javascript" src="{% static "navneleg.js" %}"></script>
{% endblock %}
{% block bodyclass %}tutors{% endblock %}
{% block content %}
<p>
Vælg gruppe:
<select onchange="location = this.value">
<option value="{% url 'tutors' %}">----</option>
{% for g in groups %}
<option value="{% url 'tutorgroup' g.handle %}"{% if group == g.handle %} selected="selected"{% endif %}>{{ g.name }}</option>
{% endfor %}
</select>
</p>
{% if group %}
<p><a href="{% url "tutordumpgroup" group=group %}">Eksporter gruppen til Google Contacts</a></p>
{% else %}
<p><a href="{% url "tutordump" %}">Eksporter alle tutorer til Google Contacts</a></p>
{% endif %}
<p>Vis som:
<label>
<input onclick="document.getElementsByClassName('tutorcontainer')[0].className = 'tutorcontainer tutorlist'"
name="tutorcontainer" type="radio" value="tutorlist" checked="checked"> Liste</label>
<label>
<input onclick="document.getElementsByClassName('tutorcontainer')[0].className = 'tutorcontainer tutortable'"
name="tutorcontainer" type="radio" value="tutortable"> Tabel</label>
</p>
<p>
Antal tutorer: {{ tutor_count }}
</p>
{% if leader_pk %}
<p>
{% if group == "gruppeansvarlige" %}
Gruppeansvarlig-ansvarlige:
{% elif group %}
Gruppeansvarlig:
{% else %}
Tutorformand:
{% endif %}
</p>
<div class="tutorcontainer tutorlist">
{% include "tutoraddress.html" with tutor=leader %}
</div>
{% endif %}
<div class="tutorcontainer tutorlist">
{% for tutor in tutor_list %}
{% if not tutor.pk == leader_pk %}
{% include "tutoraddress.html" %}
{% endif %}
{% endfor %}
</div>
{% endblock %}
