{% extends "base.html" %}
{% block title %}Upload billede{% endblock %}
{% block content %}
<form enctype="multipart/form-data" method="post" action="">{% csrf_token %}
<div>{{ form.non_field_errors }}</div>
{% if form.picture.errors %}
<div>{{ form.picture.errors }}</div>
{% endif %}
<div>Nuværende:<br>
<img src="{{ MEDIA_URL }}{{ tutorprofile.picture }}" style="max-width: 150px; max-height: 150px" /></div>
<div>Nyt billede: <input type="file" name="picture" /></div>
<div><input type="submit" value="Upload" /></div>
</form>
{% endblock %}
