{% extends "base.html" %}
{% block title %}Groups{% endblock %}

{% block content %}
<h1>Grupper</h1>
<table id="groupsTable">
<tr>
<th>Gruppe</th>
<th>Ansvarlig</th>
<th>Emailadresse</th>
<th>Antal medlemmer</th>
<th></th>
</tr>
{% for g in groups %}
<tr>
		
<td>{{ g.name }}</td>
<td>{{ g.leader.profile.name }}</td>
<td><a href="mailto:{{ g.handle }}@matfystutor.dk">{{ g.handle }}@matfystutor.dk</a> </td>
<td>{{ g.size}}</td>
<td style="padding:0"><a href="{{g.handle}}" style="font-size: 2.5em; text-align:left; width:100%; display: block">🛈</a></td>
</tr>
{% endfor %}
</table>

{% endblock %}
