{% extends "base.html" %}
{# vim: set sw=2: #}
{% block head %}
<style type="text/css">
  #id_text { width: 100%; }
</style>
{% endblock %}
{# vim: set sw=2: #}
{% block title %}Email{% endblock %}

{% block content %}
<h1>{{ page_title }}</h1>

<form method="post">{% csrf_token %}
  {{ form.non_field_errors }}
  <p>Afsenders navn: {{ form.sender_name }}{{ form.sender_name.errors }}</p>
  <p>Svar til: {{ form.sender_email }}@matfystutor.dk{{ form.sender_email.errors }}</p>
  <p>Emne: {{ form.subject }}{{ form.subject.errors }}</p>
  <p>Indhold:</p>
  <p>{{ form.text }}{{ form.text.errors }}</p>
  <p>Linjeombrydning: {{ form.wrapping }}{{ form.wrapping.errors }}</p>
  <p>
    <input name="wrap" type="submit" value="Ombryd linjer" />
    <input name="send" type="submit" value="Send mail!" />
    <input name="only_me" type="submit" value="Send kun til mig" />
  </p>
</form>

<p>Sender til {{ recipients|length }} adresse{{ recipients|pluralize:"r" }}:</p>
<ul>
  {% for email in recipients %}
  <li>{{ email }}</li>
  {% endfor %}
</ul>

{% endblock %}
