{% extends "base.html" %}
{% block title %}Gruppeansvarlige{% endblock %}
{% block head %}
<script>
</script>
<style type="text/css">
</style>
{% endblock %}

{% block content %}
<h1>Gruppeansvarlige</h1>

<p>
Her kan du vælge gruppeansvarlige!
</p>

{% if success %}Succes!{% endif %}

{{ form.non_field_errors }}
<form method="post" action="" class="twocol">{% csrf_token %}
{% for field in form %}
<div class="label">{{ field.label_tag }}</div>
<div class="field">{{ field }}
{{ field.errors }}</div>
{% endfor %}
<div class="field">
<input type="submit" value="Gem ændringer" />
</div>
</form>

{% endblock %}
