{% extends "base.html" %}
{% block title %}Nulstil kodeord{% endblock %}
{% block head %}
<script>
</script>
<style type="text/css">
</style>
{% endblock %}

{% block content %}
<h1>Nulstil kodeord</h1>

{% if confirm %}
<p>
Vil du virkelig nulstille kodeord for nedenstående mennesker?
</p>

<ul>
    {% for tutor in tutors %}
    <li>{{ tutor }}</li>
    {% endfor %}
</ul>
{% elif success %}
<p>
Succes!
</p>
{% else %}
<p>
Skriv årskortnumre på dem hvis kodeord du vil nulstille!
</p>
{% endif %}

<form method="post" action="">{% csrf_token %}
{{ form.non_field_errors }}
{{ form.as_p }}
{% if confirm %}
<input type="submit" value="Skift deres kodeord!" name="confirm" />
{% else %}
<input type="submit" value="Videre" />
{% endif %}
</form>

{% endblock %}
