{% extends 'templates/photologue/photo_detail.html' %}
{% load photologue_tags i18n %}

{% block content %}

    <script>
        window.onload = function() {
            window.scrollTo(0,document.body.scrollHeight); 
        }

        document.onkeydown = function(e) {
            console.log("Hej");
            e = e || window.event;
            switch(e.which || e.keyCode) {
                case 37: //left
                    link = document.getElementById("previous").getElementsByTagName("a")[0];
                    if (link != null) {
                        window.location.href = link.getAttribute("href");
                    }
                    break;
                case 39: //right
                    link = document.getElementById("next").getElementsByTagName("a")[0];
                    if (link != null) {
                        window.location.href = link.getAttribute("href");
                    }
                    break;
                default:
                    break;
            }
        }
    </script>

    <p><a href="../..">Tilbage til galleriet</a></p>

    <div class="row col-lg-12">
        <h1 class="page-header">{{ object.title }}</h1>
        <p class="muted"><small>{% trans "Published" %} {{ object.date_added }}</small></p>
    </div>

    <div class="row">
        <div class="col-md-6">
		    {% if object.caption %}<p>{{ object.caption|safe }}</p>{% endif %}
		    <a href="{{ object.image.url }}">
		        <img class="gallery-image" src="{{ object.get_display_url }}" class="thumbnail" alt="{{ object.title }}">
		    </a>
        </div>
        <div class="col-md-6">
            {% if object.public_galleries %}
                <table width="100%">
                    {% for gallery in object.public_galleries %}
                        <tr>
                            <td>Previous</td>
                            <td align="right">Next</td>
                        </tr>
                        <tr>
                            <td id="previous">{% previous_in_gallery object gallery %}</td>
	                        <td id="next" align="right">{% next_in_gallery object gallery %}</td>
                        </tr>
					{% endfor %}
				</table>
			{% endif %}
        </div>
    </div>

{% endblock %}
