{% extends 'base.html' %}

{% block title %}{{ album.gfyear }} / {{ album.title }}{% endblock title %}

{% block canonical_url %}{% url 'album' gfyear=album.gfyear album_slug=album.slug %}{% endblock canonical_url %}

{% block content %}
<!--
{% for file in files %}https://{{ request.get_host }}{{ file.file.url }}
{% endfor %}
-->
{% if edit_visibility_link %}
<p><a href="{{ edit_visibility_link }}">BEST: Udvælg billeder</a></p>
<p>{{ visible_count }} synlig{{ visible_count|pluralize:'e' }}
og {{ hidden_count }} skjult{{ hidden_count|pluralize:'e' }}
hvoraf {{ new_count }} er ny{{ new_count|pluralize:'e' }}.
</p>
<form onsubmit="return confirm('Er du sikker på at du vil offentliggøre alle nye billeder i albummet?')" method="post">
    {% csrf_token %}
    <input name="set_all_new_visible" type="submit" value="Gør alle nye billeder synlige" style="background-color: transparent" />
</form>
{% endif %}
<div class="row">
  <div>
    <ol class="breadcrumb">
      <li><a href="{% url 'gfyear' gfyear=album.gfyear  %}">{{ album.gfyear }}</a></li>
      <li class="active">{{ album.title }}</li>
    </ol>
  </div>
  <div>
      <p>
          {{ files|length }} billede{{ files|length|pluralize:"r" }}{% if album.publish_date %} fra d. {{ album.publish_date }}{% endif %}
      </p>
  </div>
</div>
<div class="panel-body">
  {% for file in files %}
  <div class="gallery-elem border">
    <a class="thumbnail" href="{% url 'image' gfyear=album.gfyear album_slug=album.slug image_slug=file.slug %}" alt="Se billede">
      <div class="thumbcap">
          <img src="{{ file.file.url }}" alt="{{ album.title }}">
      </div>
    </a>
  </div> <!-- col-xs-6 -->
  {% empty %}
  <div> <p>Albummet '{{ album.title }}' har ingen billeder endnu.</p></div>
  {% endfor %}
  <div style="width: 100%; display: flex; padding-left: 20px;">
    <a href="{% url 'gfyear' gfyear=album.gfyear  %}">Tilbage til {{ album.gfyear }}</a>
  </div>
</div> <!-- row -->
{% endblock content%}
