{% extends "base.html" %}
{% block title %}Galleri{% endblock %}

{% block canonical_url %}{% url 'gfyear' gfyear=show_year %}{% endblock canonical_url %}

{% block content %}
<div class="row">
	<div class="panel-group" id="accordition" role="tablist" aria-multiselectable="true">
		{% for year in years %}
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="heading{{year}}">
				<h4 class="panel-title">
					<a {% ifequal year show_year %} data-toggle="collapse" href="#collapse{{year}}" {% else %}
						href="{{year}}" {% endifequal %}>
						{{year}}
					</a>
				</h4>
			</div> <!-- panel-heading -->
			<div id="collapse{{year}}" class="panel-collapse collapse{% if year == show_year %} in{% endif %}"
				role="tabpanel" aria-labelledby="heading{{year}}">
				{% if year == show_year %}
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-12">
							{% for album, firstFile in albumSets %}
							{% ifchanged album.eventalbum %}{% if not album.eventalbum %}
						</div>
						<div class="col-xs-12">
							<hr>
							<h4>Årets gang:</h4>
						</div>
						<div class="col-xs-12">
							{% endif %}{% endifchanged %}
							<div class="col-xs-6 col-sm-4 col-md-3">
								<a class="thumbnail" href="{% url 'album' gfyear=album.gfyear album_slug=album.slug %}">
									<div class="thumbcap">
										{% if firstFile.type == "I" %}
										<img src="{{ firstFile.file.crop.253x253.url }}" alt="{{ album.title }}">
										{% endif %}
										<div class="caption">
											<h5>{{ album.title }}
												<small>{{ album.count }} billede{{ album.count|pluralize:"r" }}</small>
											</h5>
										</div>
									</div>
								</a>
							</div> <!-- col-xs-6 thumb -->
							{% endfor %}
						</div>
					</div> <!-- row-->
				</div> <!-- panel-body -->
				{% endif %}
			</div> <!-- collapse{{year}} -->
		</div> <!-- panel panel-default  -->
		{% empty %}
		<div class="col-xs-12">
			<p>Ingen albums med billeder fundet.</p>
		</div>
		{% endfor %}
	</div> <!-- panel-group -->
</div> <!-- row -->
{% endblock %}