{% extends "base.html" %}
{% block title %}your_data{% endblock %}

{% block content %}
<h1>Din data</h1>

<p>
    Når Mat/Fys-Tutorforeningen modtager personoplysninger fra Aarhus Universitet om nye
    studerende, så bliver de gemt på serveren prodekanus, som bruges af
    Mat/Fys-Tutorforeningen og andre studenterforeninger på Nat-Tech under Aarhus Universitet.
    Gennem denne server kan personoplysningerne kun tilgås af medlemmer af
    Mat/Fys-Tutorforeningen samt af en lille gruppe af ca. 5 nuværende og tidligere studerende,
    der er systemadministratorer for prodekanus. Alle systemadministratorer for prodekanus har
    indgået en fortrolighedserklæring med Mat/Fys-Tutorforeningen om at personoplysninger på
    prodekanus ikke må tilgås, medmindre det er nødvendigt for at hjælpe
    Mat/Fys-Tutorforeningen med at vedligeholde foreningens hjemmeside og mailsystem og
    eventuelle andre tekniske løsninger som foreningen kører. Det betyder, at
    personoplysningerne der gemmes på prodekanus kun bliver behandlet for at tjene
    Mat/Fys-Tutorforeningens formål og under ingen omstændigheder bliver videregivet til tredjepart.

</p>

<p>
    Hvis du har yderligere spørgsmål vedrørende din data,
    eller ønsker dine data slettet, kan du altid skrive en mail til
<a href="mailto:webfar@matfystutor.dk">
    webfar@matfystutor.dk</a>.
</p>


{% endblock %}