{% extends "base.html" %}
{% block title %}Gruppekatalog{% endblock %}

{% block content %}
    <h1>Gruppekataloget for Mat/Fys-Tutorgruppen</h1>

    <p>Dette er et katalog over de forskellige arbejdsgrupper i
        Mat/Fys-Tutorgruppen. For hver gruppe er angivet, hvornår i forløbet
        arbejdsbyrden er størst samt eventuelle fordelagtige kompetencer – disse er dog
        ikke et krav, medmindre det står specifikt angivet.</p>

    <ul>
        <li><a href="#bur">Buret</a></li>
        <li><a href="#eval">Evaluering</a></li>
        <li><a href="#hytte">Hytte</a></li>
        <li><a href="#hoestfest">Høstfest</a></li>
        <li><a href="#metro">Indkøb</a></li>
        <li><a href="#korrektur">Korrektur</a></li>
        <li><a href="#ifalab">Laboratorierundvisning på Fysik</a></li>
        <li><a href="#nanolab">Laboratorierundvisning på iNANO</a></li>
        <li><a href="#latex">LaTeX</a></li>
        <li><a href="#legegruppen">legegruppen</a></li>
        <li><a href="#parxafari">ParXafari</a></li>
        <li><a href="#gris">Praktiske grise</a></li>
        <li><a href="#csoplag">CS-Oplæg</a></li>
        <li><a href="#rkfl3">RusKursusForberedende Lang Lørdag med Leg</a></li>
        <li><a href="#rkfw-rus2tur">RusKursusForberedende Weekend og Rus2tursguide</a></li>
        <li><a href="#rusrevy">Rusrevy</a></li>
        <li><a href="#dias">Smiley</a></li>
        <li><a href="#sol">SOL</a></li>
        <li><a href="#sangbog">Sangbog</a></li>
        <li><a href="#sportsdag">Sportsdagsgruppen</a></li>
        <li><a href="#tutorbog">Tutorbog</a></li>
        <li><a href="#fest">Tutorfest</a></li>
        <li><a href="#toe">TØ i rusdagene</a></li>
        <li><a href="#web">Web</a></li>
        <li><a href="#wiki">Wiki</a></li>
    </ul>

    <h2 id="tutorbog">Tutorbog</h2>

    <p>Denne gruppes ansvar er at revidere og opdatere tutorhåndbogen, der er en vejledning til tutorerne om tutorårets
        gang.</p>

    <p>Arbejdsbyrde: Op til den særlige korrekturdeadline for tutorbogen 26. april 2021 og op til tryksagsdeadline 17.
        maj
        2021.</p>

    <h2 id="sangbog">Sangbog</h2>

    <p>En gruppe, der har til formål, at holde sangbogen up-to-date. Alle sangene prøves af, og nye sange tilføjes, mens
        nogle af de gamle vælges fra. Lav en sangbogsdag hvor sange bliver gennemgået/sunget og der bliver hygget.</p>

    <p>Arbejdsbyrde: Op til korrekturdeadline 26. april 2021 og op til tryksagsdeadline 17. maj 2021.</p>

    <p>Kompetencer: Musikalske evner er en fordel, men ikke et krav.</p>

    <h2 id="korrektur">Korrektur</h2>

    <p>Gruppen skal læse korrektur på samtlige tryksager i Tutorgruppen. Dette gælder stavning og grammatik, og det
        gælder i
        særdeleshed indholdet.</p>

    <p>Arbejdsbyrde: Lige efter korrekturdeadline 26. april 2021 til tryksagsdeadline d. 17. maj 2021.</p>

    <p>Kompetencer: Gode stave- og grammatikfærdigheder påkrævet. Desuden er gruppen hovedsageligt for folk, der har
        tutorerfaring og dermed viden om, hvorvidt indholdet i tryksagerne er korrekt.</p>

    <h2 id="latex">LaTeX</h2>

    <p>LaTeX-gruppen er en gruppe af tutorer, der hjælper andre arbejdsgrupper med LaTeX og Git. LaTeX-gruppens
        medlemmer er
        for det meste også medlem af en af grupperne, der bruger LaTeX og Git (dvs. sangbog, tutorbog, SOL).</p>

    <p>Arbejdsbyrde: Arbejdet kommer i høj grad til at ligge op til korrekturdeadline 26. april 2021 (med undtagelse af
        arbejde for SOLgruppen, der kan ligge helt frem til rusturene).</p>

    <p>Kompetencer: Du skal være god til LaTeX. Erfaring med Git er også at foretrække.</p>

    <h2 id="legegruppen">Legegruppen</h2>

    <p>Legegruppen har til ansvar at opdatere legebogen og udføre en legedag d. 16. april 2021 for tutorforeningen.
        Legebogen er et opslagsværk for lege, der kan benyttes af tutorer i forbindelse med rusugen og lignende.</p>

    <p>Arbejdsbyrde: Op til legedagen d. 16. maj 2021, op til korrekturdeadline 26. april 2021 og op til
        tryksagsdeadline d. 17. maj 2021.</p>

    <h2 id="wiki">Wiki</h2>

    <p>Gruppen står for at rydde op i de elektroniske manualer til brug af computerne på naturvidenskab (IFA, IMF og
        CS), som findes på på <a href="/wiki/">www.matfystutor.dk/wiki</a>. Derudover skal gruppen udarbejde et ark med
        links til AU-hjemmesider, som tutorerne skal gennemgå i rusugen.</p>

    <p>Arbejdsbyrde: Fordelt ud over foråret, wiki-siden og arket skal blot være klar inden rusdagene (d. 25.-27. august
        2021).</p>

    <p>Kompetencer: Kendskab til computersystemerne på CS/IFA/IMF.</p>

    <h2 id="web">Web</h2>

    <p>Webgruppen består af en webansvarlig i bestyrelsen og to web-trainees, der læres op i tutorgruppens hjemmeside
        med henblik på at disse trainees eventuelt kan opstille til webansvarlig i tutorbestyrelsen.
        Den webansvarlige holder rus- og tutorhjemmesiden opdateret igennem hele tutoråret.</p>

    <p>Arbejdsbyrde: Arbejdet er jævnt fordelt gennem tutoråret, typisk på nogle kodedage, der aftales indbyrdes. Dog
        skal rushjemmesiden være helt opdateret til rusdagene (25.-27. august 2021).</p>

    <p>Kompetencer: Kendskab til webprogrammering en fordel. (Python/Django)</p>

    <h2 id="gris">Praktiske grise</h2>

    <p>De praktiske grise hjælper med praktiske opgaver i forbindelse med afholdelse af stormøderne og rusugen. Dette
        indebærer f.eks. flytning af teffe og kage, opsætning af borde samt hjælpe med oprydning nogle aftener.</p>

    <p>Arbejdsbyrde: Gruppens arbejde ligger fordelt gennem året. I rusdagene kan der ligge oprydningsarbejde hvor man
        skal blive til at alle er taget hjem.</p>

    <h2 id="hytte">Hytte</h2>

    <p>Denne gruppe skal blandt andet bestille hytter til RKFW og rusture i 2021 (datoerne er fastlagt) og videregive
        oplysninger om hytterne til hytteansvarlige på dette års rusture.</p>

    <p>Arbejdsbyrde: Booking af hytter foregår i løbet af foråret, og informationer til hytteansvarlige skal være
        færdige inden 4. stormøde (7. september 2021).</p>

    <h2 id="metro">Indkøb</h2>

    <p>En lille gruppe, der står for indkøb til RKFW og rusturene samt bestilling af busser hertil. Der skal desuden
        udarbejdes en kogebog til disse og evalueres på mængder samt opskrifter. Det vil være en fordel, hvis man regner
        med at være tutor i mere end ét år.</p>

    <p>Arbejdsbyrde: Hovedsageligt inden RusKursusForberedende Weekend(RKFW) 17.-19. august 2021 og rusturene 10.-12.
        september
        2021.</p>

    <h2 id="rkfw-rus2tur">RusKursusForberedende Weekend og Rus2tursguide</h2>

    <p>Denne gruppe har til formål, at arrangere og afvikle RKFW (RusKursusForberedende Weekend), som er tutorernes
        hyttetur
        i foråret. Der skal lægges en tidsplan, arrangeres lege osv. Gruppen står ikke for indkøb, SOL eller bestilling
        af hytte men fungerer som hytteansvarlige.</p>

    <p>Desuden skal gruppen også rette i Rus2turs-guiden som er ment til russer der skal planlægge og afholde rus2tur.
        Det er en lille guide til russerne med gode råd og fif. Idéen er at samle information fra hyttegruppen,
        indkøbsgruppen og evt. egne erfaringer, om hvor man kan finde en hytte, hvor meget mad, man skal bestille, hvor
        man kan leje busser og den slags. Guiden skal opdateres og tilføjes alt det nødvendige der kan være. </p>

    <p>Arbejdsbyrde: Tiden op til RKFW 17.-19. august 2021 og på selve RKFW</p>

    <p>Rus2tursGuiden skal være færdig inden tutoråret er omme og laves efterfølgende arbejdet på RKFW, så den kan
        udgives til brug på rus2ture i foråret 2022 med erfaringen fra RKFW.</p>

    <h2 id="sol">SOL</h2>

    <p>SOL-gruppen står for at afholde SOL på RKFW (RusKursusForberedende Weekend), og eventuelle rettelser skal laves
        inden korrekturdeadline. Inden rusturene skal SOL-gruppen også sørge for at holde oplæg om SOL til holdets time
        for alle rusholdene.</p>

    <p>Arbejdsbyrde: Gruppens arbejde ligger især op til RKFW (17.-19. august 2021) samt før rusturene (10.-12. september
        2021).</p>

    <h2 id="rkfl3">RusKursusForberedende Lang Lørdag med Leg</h2>

    <p>Til RusKursusForberedende Lang Lørdag med Leg d. 8. maj 2021 skal denne gruppe arrangere en form for leg, der
        skal fungere som teambuilding, så alle tutorerne lærer hinanden at kende. Desuden skal gruppen bestille
        aftensmad, lave bordplan, underholdning og eventuelt hjælpe bestyrelsen med at stå i baren om aftenen.</p>

    <p>Arbejdsbyrde: Gruppens arbejde ligger op til og under RKFL³ (d. 8. maj 2021).</p>

    <!--
    <h2 id="hoestfest">Høstfest</h2>

    <p>Denne gruppe står for at arrangere og afholde tutorernes høstfest, som er tutorernes fest inden rusdagene.
        Gruppen arrangerer mad, bar, lokaler, underholdning og lignende.</p>

    <p>Arbejdsbyrde: Hovedsageligt op til og under høstfesten d. 19. august 2021</p>
    -->
    
    <h2 id="bur">Buret</h2>

    <p>Bur-gruppen står for den overordnede koordinering af rusdagene, heriblandt skemalægning, lokale planer,
        kommunikation
        med fakultetet og meget andet. Dette er en meget arbejdstung gruppe, og den er udelukkende forbeholdt folk, der
        tidligere har været tutorer. Som medlem af Bur-gruppen har man ikke mulighed for at blive holdtutor!</p>

    <p>Arbejdsbyrde: Arbejdet starter engang før sommerferien og topper for alvor op til og i rusdagene (d. 25.-27.
        august
        2021).</p>

    <p>Kompetencer: Tutorerfaring påkrævet.</p>

    <h2 id="toe">TØ i rusdagene</h2>

    <p>Gruppen skal arrangere TØ, som russerne skal have i rusdagene. Dette er gældende for datalogi, nanoscience og
        fysik. Man vil kun komme til at lave TØ til sin egen studieretning. Udover dette får hver studieretningsgruppe
        ansvaret for at udarbejde et ark med beskrivelse af arbejdsformer for hver studieretning.</p>

    <p>Arbejdsbyrde: Tiden op til rusdagene. Det skal være færdigt inden 2. stormøde (d. 23. august 2021) så evt.
        materiale kan blive trykt og komme i holdkuverterne.</p>

    <h2 id="parxafari">ParXafari</h2>

    <p>Gruppen skal arrangere og afholde ParXafari for russerne i rusdagene. Der skal findes passende discipliner/lege
        og
        laves et kreativt pointsystem.</p>

    <p>Arbejdsbyrde: Tiden op til ParXafari og på selve dagen 26. august 2021.</p>

    <h2 id="dias">Smiley</h2>

    <p>Smileygruppen har til formål at tilrette sidste års russmileyvideoer og sørge for, at de er opdateret og
        nydeligt. Dette kan både betyde, at man laver nye scener eller retter scener, der ikke virkede godt nok sidste
        år. I 2021 skal gruppen også inkludere Datavidenskab i IMF-smileyvideoen. Gruppen har også ansvaret for
        tutorsmileyvideoen, som skal kunne vises til 0.stormøde 2021.</p>

    <p>Arbejdsbyrde: Russmileyvideoerne skal være klar inden rusdagene (d. 25.-27. august 2021), og tutorsmileyvideoen
        skal være færdig inden generalforsamlingen d. 10. november 2021.</p>

    <p>Kompetencer: Generelle kreative evner, samt viljen til at medvirke i diasshowet.</p>

    <h2 id="rusrevy">Rusrevy</h2>

    <p>Denne gruppe står for at afholde rusrevy fredag i rusugen, som er en minirevy til ære for russerne. Der skal
        øves,
        laves manuskript, øves, fordeles roller og øves.</p>

    <p>Arbejdsbyrde: Hovedsageligt op til rusdagene 25.-27. august 2021. Vær forberedt på at bruge hele weekenden inden
        russtart til at øve!</p>

    <p>Kompetencer: Du skal turde stå på en scene</p>

    <h2 id="sportsdag">Sportsdagsgruppen</h2>

    <p>Gruppen har til ansvar at arrangere og afholde sportsdag for russerne. Der skal været udvalgt nogle
        discipliner/lege,
        som skal indgå i arrangementet. Desuden skal der udarbejdes en tidsplan for arrangementet, som kan tilpasses
        efter
        antal tilmeldte hvor til der skal findes dommere.</p>

    <p>Arbejdsbyrde: Tiden op til sportsdagen og på selve dagen 24. september 2021 (foreløbigt).</p>

    <h2 id="csoplag">CS-Oplæg</h2>

    <p>Denne gruppe skal planlægge et oplæg for dataloger på Katrinebjerg, hvor der bliver mulighed for at møde centrale
        personer og høre om, hvad folk laver på stedet.</p>

    <p>Arbejdsbyrde: Tiden op til oplægget og ved disse. Oplægget bør ligge umiddelbart efter rusdagene så
        russerne kan finde rundt eller i selve rusdagene (25.-27. august 2021).</p>

    <p>Kompetencer: Kun relevant for dataloger</p>

    <h2 id="ifalab">Laboratorierundvisning på Fysik</h2>

    <p>Skal planlægge rundvisning for fysikere på IFA, hvor der bliver mulighed for, at møde centrale personer og høre
        om,
        hvad folk laver på stedet. Der skal herudover også koordineres med
        Laboratorierundvisning på iNANO.</p>

    <p>Arbejdsbyrde: Tiden op til rundvisningerne og på disse. Rundvisningerne bør ligge umiddelbart efter rusdagene så
        russerne kan finde rundt, typisk et par fredage inde i semesteret.</p>

    <p>Kompetencer: Kun relevant for fysikere og nanoer.</p>

    <h2 id="nanolab">Laboratorierundvisning på iNANO</h2>

    <p>Skal planlægge rundvisning for nanoer i laboratorierne i det nye nano-hus, hvor der bliver mulighed for at møde
        centrale personer og høre om, hvad folk laver på stedet. Der skal herudover
        også koordineres med Laboratorierundvisning på Fysik.</p>

    <p>Arbejdsbyrde: Tiden op til rundvisningerne og på disse. Rundvisningerne bør ligge umiddelbart efter rusdagene så
        russerne kan finde rundt, typisk et par fredage inde i semesteret.</p>

    <p>Kompetencer: Kun relevant for nanoer og fysikere.</p>

    <h2 id="eval">Evaluering</h2>

    <p>Arbejdet her består i, at opdatere de forskellige evalueringsskemaer i Tutorgruppen (evaluering af rusdage og
        rusture) og sørge for, at disse bliver delt ud og indsamlet. Desuden skal gruppen samle op på evalueringerne i
        efteråret, således en samlet evaluering kan præsenteres på Evaluerende Stormøde.</p>

    <p>Arbejdsbyrde: Tiden før rusdagene (25.-27. august 2021) bruges på udarbejdelsen af skemaerne, mens tiden efter
        bruges
        på uddeling og indsamling af skemaer. Resultatet præsenteres på Evaluerende Stormøde d. 5. oktober 2021.</p>

    <h2 id="fest">Tutorfest</h2>

    <p>Står for at planlægge og afholde den store Tutorfest i efteråret. Der skal arrangeres mad, dekorationer,
        underholdning med mere.</p>

    <p>Arbejdsbyrde: Tiden op til tutorfesten og på dagen for festen d. 29. oktober 2021</p>

    <p>Kompetencer: Kendskab til at afholde fester på uni kan være en fordel </p>
{% endblock %}
