{% extends "base.html" %}
{% block title %}Gruppekatalog{% endblock %}

{% block content %}
    <h1>Gruppekataloget for Mat/Fys-Tutorforeningen</h1>

    <p>Dette er et katalog over de forskellige arbejdsgrupper i
        Mat/Fys-Tutorforeningen. For hver gruppe er angivet, hvornår i forløbet
        arbejdsbyrden er størst samt eventuelle fordelagtige kompetencer – disse er dog
        ikke et krav, medmindre det står specifikt angivet.</p>

    <ul>
        <li><a href="#bur">Buret™</a></li>
        <li><a href="#csoplag">CS-Oplæg</a></li>
        <li><a href="#eval">Evaluering</a></li>
        <li><a href="#hytte">Hytte</a></li>
        <li><a href="#hoestfest">Høstfest</a></li>
        <li><a href="#metro">Indkøb og bus</a></li>
        <li><a href="#korrektur">Korrektur</a></li>
        <li><a href="#ifalab">Laboratorierundvisning på Fysik</a></li>
        <li><a href="#nanolab">Laboratorierundvisning på iNANO</a></li>
        <li><a href="#latex">LaTeX-Git Support</a></li>
        <li><a href="#web">Web</a></li>
        <li><a href="#legegruppen">Legegruppen</a></li>
        <li><a href="#parxafari">ParXafari</a></li>
        <li><a href="#gris">Praktiske grise</a></li>
        <!-- <li><a href="#rkfl3">RusKursusForberedende Lang Lørdag med Leg</a></li> -->
        <li><a href="#rkfw-rus2tur">RusKursusForberedende Weekend og Rus2tursguide (RKFW)</a></li>
        <li><a href="#rusrevy">Rusrevy</a></li>
        <li><a href="#dias">Tutorsmiley</a></li>
        <li><a href="#sol">SOL</a></li>
        <!-- <li><a href="#vedtaegt">Vedtægtsgruppen</a></li> -->
        <li><a href="#sportsdag">Sportsdagsgruppen</a></li>
        <!-- <li><a href="#tutorbog">Tutorbog</a></li> -->
        <li><a href="#fest">Tutorfest</a></li>
        <li><a href="#sangbog">Sangbog</a></li>
        <!-- <li><a href="#toe">TØ i rusdagene</a></li> -->
        <li><a href="#tutorbog">Tutorbog</a></li>
        <!-- <li><a href="#wiki">Wiki</a></li> -->
    </ul>

    <h2 id="bur">Buret™</h2>

    <p>Bur-gruppen står for den overordnede koordinering af rusdagene, heriblandt skemalægning, lokaleplaner, 
        kommunikation med fakultetet og meget andet. Dette er en meget arbejdstung gruppe, og den er 
        udelukkende forbeholdt folk, der tidligere har været tutorer. Som medlem af Bur-gruppen har man 
        ikke mulighed for at blive holdtutor!</p>

    <p>Arbejdsbyrde: Arbejdet starter engang før sommerferien og topper for alvor 
        op til og i rusdagene (d. {{ firstDateRusuge }}.-{{ middleDateRusuge }}. {{ månedRusuge }} 2026).</p>

    <p>Kompetencer: Tutorerfaring påkrævet.</p>

    <h2 id="csoplag">CS-Oplæg</h2>

    <p>Denne gruppe skal planlægge et oplæg for dataloger på Katrinebjerg, hvor der bliver mulighed for at møde centrale
        personer og høre om, hvad folk laver på stedet.</p>

    <p>Arbejdsbyrde: Tiden op til oplægget og ved disse. Oplægget ligger i rusugen. 
        (d. {{ firstDateRusuge }}.-{{ middleDateRusuge }}. {{ månedRusuge }} 2026).</p>

    <p>Kompetencer: Kun relevant for dataloger.</p>

    <h2 id="eval">Evaluering</h2>

    <p>Arbejdet her består i at opdatere de forskellige evalueringsskemaer i tutorforeningen 
        (evaluering af rusdage og -ture) og sørge for, at disse bliver delt ud og indsamlet. 
        Desuden skal gruppen samle op på evalueringerne i efteråret, således at en samlet 
        evaluering kan præsenteres på Evaluerende Stormøde.</p>

    <p>Arbejdsbyrde: Tiden før rusdagene (d. {{ firstDateRusuge }}.-{{ middleDateRusuge }}. {{ månedRusuge }} 2026) 
        bruges på udarbejdelsen af skemaerne, mens tiden efter bruges på uddeling og indsamling af skemaer. 
        Resultatet præsenteres på Evaluerende Stormøde d. 23. september 2026.</p>

    <h2 id="hytte">Hytte</h2>

    <p>Denne gruppe skal blandt andet bestille hytter til RKFW og rusture i 2027 (datoerne er fastlagt) og videregive
        oplysninger om hytterne til hytteansvarlige på dette års rusture.</p>

    <p>Arbejdsbyrde: Booking af hytter foregår i løbet af foråret, og informationer til hytteansvarlige 
        skal være færdige inden 4. stormøde (18. august 2026).</p>

    <h2 id="hoestfest">Høstfest</h2>

    <p>Denne gruppe står for at arrangere og afholde tutorernes høstfest, som er tutorernes fest inden rusdagene.
        Gruppen arrangerer mad, bar, lokaler, underholdning og lignende.</p>
    
    <p>Arbejdsbyrde: Hovedsageligt op til og under høstfesten d. 15. august 2026.</p>
    
    <h2 id="metro">Indkøb og bus</h2>

    <p>En lille gruppe, der står for indkøb til RKFW og rusturene samt bestilling af busser hertil. 
        Der skal desuden udarbejdes en kogebog til disse og evalueres på mængder samt opskrifter. 
        Det vil være en fordel, hvis man regner med at være tutor i mere end ét år.</p>

    <p>Arbejdsbyrde: Hovedsageligt inden RusKursusForberedende Weekend (RKFW) 
        10.-12. april 2026 og rusturene 4.-6. september 2026.</p>

    <h2 id="korrektur">Korrektur</h2>

    <p>Gruppen skal læse korrektur på samtlige tryksager i tutorforeningen. Dette gælder stavning og grammatik, 
        og det gælder i særdeleshed indholdet.</p>
    
    <p>Arbejdsbyrde: Lige efter korrekturdeadline 7. maj 2026 til trykdeadline (endnu kke bestemt).</p>
    
    <p>Kompetencer: Gode stave- og grammatikfærdigheder påkrævet. Desuden er gruppen hovedsageligt for folk, 
        der har tutorerfaring og dermed viden om, hvorvidt indholdet i tryksagerne er korrekt.</p>
    
    <h2 id="ifalab">Laboratorierundvisning på Fysik</h2>

    <p>Skal planlægge rundvisning for fysikere på IFA, hvor der bliver mulighed for, at møde centrale personer 
        og høre om, hvad folk laver på stedet. Der skal herudover også koordineres med Laboratorierundvisning på iNANO.</p>
    
    <p>Arbejdsbyrde: Tiden op til rundvisningerne og på disse. Rundvisningerne bør ligge umiddelbart efter rusdagene så
        russerne kan finde rundt - typisk et par fredage inde i semesteret.</p>
    
    <p>Kompetencer: Kun relevant for fysikere og nanoer.</p>
    
    <h2 id="nanolab">Laboratorierundvisning på iNANO</h2>
    
    <p>Skal planlægge rundvisning for nanoer i laboratorierne i nano-huset, hvor der bliver mulighed for at møde centrale personer 
        og høre om, hvad folk laver på stedet. Der skal herudover også koordineres med Laboratorierundvisning på Fysik.</p>
    
    <p>Arbejdsbyrde: Tiden op til rundvisningerne og på disse. Rundvisningerne bør ligge umiddelbart efter rusdagene så
         russerne kan finde rundt - typisk et par fredage inde i semesteret.</p>
    
    <p>Kompetencer: Kun relevant for nanoer og fysikere.</p>

    <h2 id="latex">LaTeX-Git Support</h2>

    <p>LaTeX-Git Support-gruppen er en sammenlagt gruppe af tutorer, der hjælper andre arbejdsgrupper med LaTeX og Git. 
        LaTeX-Git Support gruppens medlemmer er for det meste også medlem af en af grupperne, der bruger LaTeX og Git 
        (dvs. sangbog, tutorbog, SOL).</p>

    <p>Arbejdsbyrde: En stor portion af arbejdet kommer i høj grad til at ligge op til korrekturdeadline 7. maj 2026 
        (med undtagelse af arbejde for SOLgruppen, der kan ligge helt frem til rusturene).</p>

    <p>Kompetencer: Du skal være god til LaTeX. Erfaring med Git er også at foretrække.</p>

    <h2 id="web">Web</h2>

    <p>Web-gruppen står for tutorforeningens hjemmeside. Den del af gruppens medlemmer, som ikke tager del i andre grupper, 
        vil have særligt skærpet fokus sammen med den webansvarlige i bestyrelsen og blive oplært i tutorforeningens hjemmeside. 
        Henblikket er at få lavet en god base for en ny tutorhjemmeside. Som sidegevinst kan disse trainees eventuelt opstille 
        til webansvarlig i tutorbestyrelsen. Den webansvarlige holder rus- og tutorhjemmesiden opdateret igennem hele tutoråret.</p>

    <p>Arbejdsbyrde: Jævnt fordelt gennem tutoråret, typisk på nogle kodedage, der aftales indbyrdes. 
        Dog skal rushjemmesiden være helt opdateret til rusdagene (19.-21. august 2026).</p>

    <p>Kompetencer: Kendskab til webprogrammering (Python/Django) en fordel, samt HTML/CSS. LaTeX og Git er naturligvis også en bonus.</p>

    <h2 id="legegruppen">Legegruppen</h2>

    <p>Legegruppen har til ansvar at opdatere legebogen og udføre lege til RKFL^3 d. 2. maj og en legedag d. 15. august 2026 for 
        tutorforeningen. Legebogen er et opslagsværk for lege, der kan benyttes af tutorer i forbindelse med rusugen og lignende.</p>

    <p>Arbejdsbyrde: Op til RKFL^3 d. 2. maj 2026, særligt op til legedagen d. 15. august 2026 og korrekturdeadline d. 7. maj 2026. 
        Også op til trykdeadline (Endnu ikke bestemt).</p>

    <h2 id="parxafari">ParXafari</h2>

    <p>Gruppen skal arrangere og afholde ParXafari for russerne i rusdagene. Der skal findes passende discipliner/lege
        og laves et kreativt pointsystem.</p>
    
    <p>Arbejdsbyrde: Tiden op til ParXafari og på selve dagen 20. august 2026.</p>

    <h2 id="gris">Praktiske grise</h2>

    <p>DDe praktiske grise hjælper med praktiske opgaver i forbindelse med afholdelse af stormøderne og rusugen. 
        Dette indebærer f.eks. flytning af teffe og kage, opsætning af borde samt at hjælpe med oprydning nogle aftener.</p>

    <p>Arbejdsbyrde: Gruppens arbejde ligger fordelt gennem året. I rusdagene kan der ligge oprydningsarbejde, 
        hvor man skal blive indtil alle er taget hjem.</p>

    <!-- >RusKursusForberedende Lang Lørdag med Leg (RKFL³)</h2>

    <p>Til RusKursusForberedende Lang Lørdag med Leg d. 20. april 2024 skal denne gruppe arrangere en form for leg, der
        skal fungere som teambuilding, så alle tutorerne lærer hinanden at kende. Desuden skal gruppen bestille
        aftensmad, lave bordplan, underholdning og eventuelt hjælpe bestyrelsen med at stå i baren om aftenen.</p>
    
    <p>Arbejdsbyrde: Gruppens arbejde ligger op til og under RKFL³ (d. 20. april 2024).</p> -->

    <h2 id="rkfw-rus2tur">RusKursusForberedende Weekend og Rus2tursguide (RKFW)</h2>

    <p>Denne gruppe har til formål, at arrangere og afvikle RKFW, som er tutorernes hyttetur i foråret. Der skal lægges en tidsplan, 
        arrangeres lege osv. Gruppen står ikke for indkøb, SOL eller bestilling af hytte, men fungerer som hytteansvarlige.</p>

    <p>Desuden skal gruppen også rette i Rus2turs-guiden, som er ment til russe,r der skal planlægge og afholde rus2tur. 
        Det er en lille guide til russerne med gode råd og fif. Idéen er at samle information fra hyttegruppen, 
        indkøbsgruppen og evt. egne erfaringer, om hvor man kan finde en hytte, hvor meget mad, man skal bestille, 
        hvor man kan leje busser og den slags. Guiden skal opdateres og tilføjes alt det nødvendige, der kan være.</p>

    <p>Arbejdsbyrde: Tiden op til RKFW 10.-12. april 2026 og på selve RKFW. Rus2tursGuiden skal være færdig inden tutoråret 
        er omme og laves efter arbejdet på RKFW, så den kan udgives til brug på rus2ture i foråret 2027 med erfaringen fra RKFW.</p>

    <p>Kompetencer: Det vil være en fordel at have været på hytteture før.</p>

    <h2 id="rusrevy">Rusrevy</h2>

    <p>Denne gruppe står for at afholde rusrevy fredag i rusugen, som er en minirevy til ære for russerne. Der skal øves,
        laves manuskript, øves, fordeles roller og øves.</p>
    
    <p>Arbejdsbyrde: Hovedsageligt op til rusdagene {{ firstDateRusuge }}.-{{ middleDateRusuge }}. {{ månedRusuge }} 2026. 
        Vær forberedt på at bruge hele weekenden inden russtart til at øve!</p>
    
    <p>Kompetencer: Du skal turde stå på en scene.</p>

    <h2 id="dias">Tutorsmiley</h2>

    <p>Tutorsmileygruppen har til formål at tilrette sidste års russmileyvideoer og sørge for, 
        at de er opdaterede og nydelige. Dette kan både betyde, at man laver nye scener eller retter scener, 
        der ikke virkede godt nok sidste år. De skal være klar til dette års russer. Gruppen har også ansvaret for 
        at lave en ny tutorsmileyvideo, som skal kunne vises til 0. stormøde 2027.</p>

    <p>Arbejdsbyrde: Russmileyvideoerne skal være klar inden rusdagene 
        (d. {{ firstDateRusuge }}.-{{ middleDateRusuge }}. {{ månedRusuge }} 2026), 
        og tutorsmileyvideoen skal være færdig inden generalforsamlingen d. 4. november 2026.</p>

    <p>Kompetencer: Generelle kreative evner, samt viljen til at medvirke i diasshowet.</p>

    <h2 id="sol">SOL</h2>

    <p>SOL-gruppen står for at afholde SOL på RKFW (RusKursusForberedende Weekend), og eventuelle rettelser skal laves 
        inden korrekturdeadline d. 7. maj 2026. SOL-gruppen står også for at gøre SOL-papirer og -spande klar inden rusturene. 
        Inden rusturene skal SOL-gruppen også sørge for diverse holdtutorer holder oplæg om SOL til holdets time for alle rusholdene.</p>

    <p>Arbejdsbyrde: Gruppens arbejde ligger især op til RKFW (10.-12. april 2026) samt før rusturene (4.-6. september 2026).</p>

    <!--<h2 id="vedtaegt">Vedtægtsgruppen</h2>

    <p>Gruppens ansvar er at gennemgå foreningens vedtægter og komme med forslag til ændringer/fornyelser af disse.
        Derudover skal denne gruppe også stå for en vedtægtsworkshop, hvor alle tutorer kan få hjælp til
        at komme med forslag til ændringer af vedtægterne og lave princippapirer.</p>

    <p>Arbejdsbyrde: Primært tiden op til workshoppen, som skal ligge senest 2 uger før generalforsamlingen d. 5. november 2025.</p>-->

    <h2 id="sportsdag">Sportsdagsgruppen</h2>

    <p>Gruppen har til ansvar at arrangere og afholde sportsdag for russerne. Der skal været udvalgt nogle discipliner/lege, 
        som skal indgå i arrangementet. Desuden skal der udarbejdes en tidsplan for arrangementet, 
        som kan tilpasses efter antal tilmeldte, hvortil der skal findes dommere.</p>

    <p>Arbejdsbyrde: Tiden op til sportsdagen d. 25. september 2026 og på selve dagen.</p>

    <h2 id="fest">Tutorfest</h2>

    <p>Står for at planlægge og afholde den store Tutorfest i efteråret. Der skal arrangeres mad, tema,  dekorationer,  underholdning, 
        uddeles kostumer med mere. Samt skal man også regne med at nogle stykker fra gruppen skal hjælpe til med rengøringen.</p>

    <p>Arbejdsbyrde: Tiden op til tutorfesten og på dagen for festen d. 23. oktober 2026.</p>

    <p>Kompetencer: Kendskab til at afholde fester på uni kan være en fordel.</p>

    <h2 id="sangbog">Sangbog</h2>

    <p>Sangbogsgruppen står for at afholde sangmøder, hvor den nyeste sangbog synges igennem og opdateres. Det vil f.eks. 
        indebære at fjerne eller tilføje sange i sangbogen. Møderne skal være åbne, så alle tutorer kan være med til sanghyggen. 
        Resultatet af gruppens arbejde er en ny sangbog, som russer og tutorer kan nyde i rusugen og på rusturene.</p>
    
    <p>Arbejdsbyrde:  Sangmøder i løbet af semesteret samt opsætning af den nye sangbog. Især tiden op til korrekturdeadline 
        d. 7. maj 2026 og trykdeadline (Endnu ikke bestemt).</p>
    
    <p>Kompetencer: Lyst til sang og evt. lidt kendskab til LaTeX.</p>
    
    <h2 id="tutorbog">Tutorbog</h2>

    <p>Tutorbogsgruppen står for at gennemgå og granske den nuværende tutorbog, så al info er korrekt. F.eks. vil der komme til 
        at være løbende fokus på implementering af Teams-kommunikation i foreningen, hvilket også skal stå i tutorbogen. 
        Tutorbogen kommer til at ligge online som PDF til alle tutorers gavn.</p>

    <p>Arbejdsbyrde:  Især tiden op til korrekturdeadline d. 7. maj 2026.</p>

    <p>Kompetencer: Man skal være erfaren tutor, så man faktisk kan finde fejl og mangler i tutorbogen, 
        samt vide, hvad der er relevant at tilføje.</p>

    <!-- <h2 id="toe">TØ i rusdagene</h2>

    <p>Gruppen skal arrangere TØ, som russerne skal have i rusdagene. Dette er gældende for datalogi, nanoscience og
        fysik. Man vil kun komme til at lave TØ til sin egen studieretning. Udover dette får hver studieretningsgruppe
        ansvaret for at udarbejde et ark med beskrivelse af arbejdsformer for hver studieretning.</p>

    <p>Arbejdsbyrde: Tiden op til rusdagene (d. 20.-22. august 2025). Det skal være færdigt inden 3. stormøde (d. 18. august 2025) så evt.
        materiale kan blive trykt og komme i holdkuverterne.</p> -->
    
    <!--<h2 id="web">Web</h2>

    <p>Webgruppen består af en webansvarlig i bestyrelsen og to web-trainees, der læres op i tutorforeningens hjemmeside
        med henblik på at disse trainees eventuelt kan opstille til webansvarlig i tutorbestyrelsen.
        Den webansvarlige holder rus- og tutorhjemmesiden opdateret igennem hele tutoråret.</p>

    <p>Arbejdsbyrde: Arbejdet er jævnt fordelt gennem tutoråret, typisk på nogle kodedage, der aftales indbyrdes. Dog
        skal rushjemmesiden være helt opdateret til rusdagene (21.-23. august 2024).</p>

    <p>Kompetencer: Kendskab til webprogrammering er en fordel. (Python/Django)</p>-->

    <!-- <h2 id="wiki">Wiki</h2>

    <p>Gruppen står for at rydde op i de elektroniske manualer til brug af computerne på naturvidenskab (IFA, IMF og
        CS), som findes på på <a href="/wiki/">www.matfystutor.dk/wiki</a>. Derudover skal gruppen udarbejde et ark med
        links til AU-hjemmesider, som tutorerne skal gennemgå i rusugen.</p>

    <p>Arbejdsbyrde: Fordelt ud over foråret, wiki-siden og arket skal blot være klar inden rusdagene (d. 20.-22. august
        2025).</p>

    <p>Kompetencer: Kendskab til computersystemerne på CS/IFA/IMF.</p> -->
{% endblock %}
