{% extends "base.html" %}
{% block title %}Guides{% endblock %}

{% block content %}
<h1>Guides</h1>

<p>Her finder du guides fra de sidste mange tutorår.</p>

<ul>
<li><a href="{{ MEDIA_URL }}guides/evaluering_2012.pdf">Metro (2012)</a></li>
<li><a href="{{ MEDIA_URL }}guides/rusteaterguide.pdf">Rusteater (2012)</a></li>
<li><a href="{{ MEDIA_URL }}guides/tutoreval.pdf">Tutorfest (2012)</a></li>
<li><a href="{{ MEDIA_URL }}guides/cs-lab_guide_(1).pdf">CS-Lab (2012)</a></li>
<li><a href="{{ MEDIA_URL }}guides/diasevaluering_2012_(1).pdf">Dias (2012)</a></li>
<li><a href="{{ MEDIA_URL }}guides/evaleval_2012.pdf">Evaluering (2012)</a></li>
<li><a href="{{ MEDIA_URL }}guides/hytter.pdf">Hytter (2012)</a></li>
<li><a href="{{ MEDIA_URL }}guides/hoestfestevaluering.pdf">Høstfest (2012)</a></li>
<li><a href="{{ MEDIA_URL }}guides/ifalab_(1).pdf">IFA-Lab (2012)</a></li>
<li><a href="{{ MEDIA_URL }}guides/korrektur-evaluering.pdf">Korrektur (2011)</a></li>
<li><a href="{{ MEDIA_URL }}guides/korrektur.pdf">Korrektur (2012)</a></li>
<li><a href="{{ MEDIA_URL }}guides/alfguide12.pdf">LaTeX (2012)</a></li>
<li><a href="{{ MEDIA_URL }}guides/evaluering_af_legebogsarbejdet_2012.pdf">Legebog (2012)</a></li>
<li><a href="{{ MEDIA_URL }}guides/evalueringparxafari.pdf">ParXafari (2011)</a></li>
<li><a href="{{ MEDIA_URL }}guides/parxafari_guide.pdf">ParXafari (2012)</a></li>
<li><a href="{{ MEDIA_URL }}guides/eval_guide_.pdf">RKFW (2012)</a></li>
<li><a href="{{ MEDIA_URL }}guides/rusbogseval.pdf">Rushåndbog (2011)</a></li>
<li><a href="{{ MEDIA_URL }}guides/guide_rusbog_2012.pdf">Rushåndbog (2012)</a></li>
<li><a href="{{ MEDIA_URL }}guides/eval.pdf">Sangbog (2012)</a></li>
<li><a href="{{ MEDIA_URL }}guides/soleval.pdf">SOL (2012)</a></li>
<li><a href="{{ MEDIA_URL }}guides/evaluering_(1).pdf">Sportsdag (2012)</a></li>
<li><a href="{{ MEDIA_URL }}guides/evaluering_tutorbog_2011.pdf">Tutorbog (2012)</a></li>
<li><a href="{{ MEDIA_URL }}guides/tutoreval.pdf">Tutorfest (2011)</a></li>
<li><a href="{{ MEDIA_URL }}guides/wiki_-_guide.pdf">Wiki (2012)</a></li>
<li><a href="{{ MEDIA_URL }}guides/evaluering_af_cslab.2011.pdf">CS-lab (2011)</a></li>
<li><a href="{{ MEDIA_URL }}guides/cs-lab2011.rundvisning.pdf">CS-lab bilag (2011)</a></li>
<li><a href="{{ MEDIA_URL }}guides/eval-r11.pdf">Dias (2011)</a></li>
<li><a href="{{ MEDIA_URL }}guides/evaluering_af_evalueringsgruppen_2010.pdf">Evaluering (2010)</a></li>
<li><a href="{{ MEDIA_URL }}guides/hackereval.pdf">Hackerwiki (2011)</a></li>
<li><a href="{{ MEDIA_URL }}guides/hoestfestevaluering2011.pdf">Høstfest (2011)</a></li>
<li><a href="{{ MEDIA_URL }}guides/ifa_labrundvisning_evaluering_2011.pdf">IFA labrundvisning (2011)</a></li>
<li><a href="{{ MEDIA_URL }}guides/evaluering_af_legebogsgruppearbejdet.pdf">Legebog (2011)</a></li>
<li><a href="{{ MEDIA_URL }}guides/lokaleevaluering2010.pdf">Lokaleevaluering (2010)</a></li>
<li><a href="{{ MEDIA_URL }}guides/evaluering_af_rkfw_2011.pdf">RKFW (2011)</a></li>
<li><a href="{{ MEDIA_URL }}guides/rusteaterevaluering1.pdf">Rusteater (2011)</a></li>
<li><a href="{{ MEDIA_URL }}guides/sangbogsevaluering_2011.pdf">Sangbog (2011)</a></li>
<li><a href="{{ MEDIA_URL }}guides/evaluering.pdf">SOL (2011)</a></li>
<li><a href="{{ MEDIA_URL }}guides/sportsdag.pdf">Sportsdag (2011)</a></li>
<li><a href="{{ MEDIA_URL }}guides/evaluering_tutorbog_2011.pdf">Tutorbog (2011)</a></li>
<li><a href="{{ MEDIA_URL }}guides/tutorfest.pdf">Tutorfest (2010)</a></li>
<li><a href="{{ MEDIA_URL }}guides/tweb-evaluering.pdf">Web-gruppen (2011)</a></li>
<li><a href="{{ MEDIA_URL }}guides/evaluering_af_cs.pdf">CS-lab (2010)</a></li>
<li><a href="{{ MEDIA_URL }}guides/diasshowevaluering.pdf">DIAS (2010)</a></li>
<li><a href="{{ MEDIA_URL }}guides/evaleval.pdf">Evaluering (2009)</a></li>
<li><a href="{{ MEDIA_URL }}guides/hackereval.pdf">Hacker (2010)</a></li>
<li><a href="{{ MEDIA_URL }}guides/evaluering_af_hyttegruppen_2010.pdf">Hytter (2010)</a></li>
<li><a href="{{ MEDIA_URL }}guides/hoestfest_2009.pdf">Høstfest (2009)</a></li>
<li><a href="{{ MEDIA_URL }}guides/hostfest_2010.pdf">Høstfest (2010)</a></li>
<li><a href="{{ MEDIA_URL }}guides/ifa-hackerevaluering_2010.pdf">IFA hacker (2010)</a></li>
<li><a href="{{ MEDIA_URL }}guides/ifa-labrundvisning_evaluering_2010.pdf">IFA-labrundvisning  (2010)</a></li>
<li><a href="{{ MEDIA_URL }}guides/evaluering_af_korrekturhgruppen.pdf">Korrektur (2010)</a></li>
<li><a href="{{ MEDIA_URL }}guides/legebog-eval.pdf">Legebog (2010)</a></li>
<li><a href="{{ MEDIA_URL }}guides/parxafarieval2010.pdf">ParXafari (2010)</a></li>
<li><a href="{{ MEDIA_URL }}guides/evaluering_af_rkfw_2010.pdf">RKFW eval (2010)</a></li>
<li><a href="{{ MEDIA_URL }}guides/eval_rusbog.pdf">Rusbog (2010)</a></li>
<li><a href="{{ MEDIA_URL }}guides/evaluering_af_rusteater.pdf">Rusteater eval (2010)</a></li>
<li><a href="{{ MEDIA_URL }}guides/sangbogseval.pdf">Sangbog (2010)</a></li>
<li><a href="{{ MEDIA_URL }}guides/sol-evaluering.pdf">SOL evaluering (2010)</a></li>
<li><a href="{{ MEDIA_URL }}guides/sportsdagseval2010.pdf">Sportsdag (2010)</a></li>
<li><a href="{{ MEDIA_URL }}guides/tutorbog_evaluering_2010.pdf">Tutorbog (2010)</a></li>
<li><a href="{{ MEDIA_URL }}guides/tutorfesteval.pdf">Tutorfest (2009)</a></li>
<li><a href="{{ MEDIA_URL }}guides/evaluering_af_daimihacker.pdf">Daimi Hacker (2009)</a></li>
<li><a href="{{ MEDIA_URL }}guides/daimilabeval.pdf">Daimi Lab (2009)</a></li>
<li><a href="{{ MEDIA_URL }}guides/gris08.pdf">Grise (2008)</a></li>
<li><a href="{{ MEDIA_URL }}guides/hytteeval.pdf">Hytte (2009)</a></li>
<li><a href="{{ MEDIA_URL }}guides/hacker_eval_2009.pdf">IFA Hacker (2009)</a></li>
<li><a href="{{ MEDIA_URL }}guides/ifa-lab_evaluering.pdf">IFA-lab (2009)</a></li>
<li><a href="{{ MEDIA_URL }}guides/eval_parkloeb.pdf">Parkløb (2009)</a></li>
<li><a href="{{ MEDIA_URL }}guides/rkfw_evaluering2009.pdf">RKFW (2009)</a></li>
<li><a href="{{ MEDIA_URL }}guides/rusbogseval.pdf">Rusbog (2009)</a></li>
<li><a href="{{ MEDIA_URL }}guides/rusteater.pdf">Rusteater (2009)</a></li>
<li><a href="{{ MEDIA_URL }}guides/soleval.pdf">SOL (2009)</a></li>
<li><a href="{{ MEDIA_URL }}guides/sportsdag09.pdf">Sporstdag (2009)</a></li>
<li><a href="{{ MEDIA_URL }}guides/tutorhaandbog.pdf">Tutorbog (2009)</a></li>
<li><a href="{{ MEDIA_URL }}guides/evaluering_af_evalueringsgruppe[1].pdf">Evalueringsgruppen (2008)</a></li>
<li><a href="{{ MEDIA_URL }}guides/eval2008hoest[1].pdf">Høstfest (2008)</a></li>
<li><a href="{{ MEDIA_URL }}guides/ifaeval08.pdf">IFA hacker (2008)</a></li>
<li><a href="{{ MEDIA_URL }}guides/lab-eval[1].pdf">Labrundvisning (2008)</a></li>
<li><a href="{{ MEDIA_URL }}guides/parxafari2008.pdf">ParXafari (2008)</a></li>
<li><a href="{{ MEDIA_URL }}guides/evaluering_af_rkfw.pdf">RKFW-andet (2008)</a></li>
<li><a href="{{ MEDIA_URL }}guides/rkfwmad(2008).pdf">RKFW-mad (2008)</a></li>
<li><a href="{{ MEDIA_URL }}guides/rusbog(2008).pdf">Rusbog (2008)</a></li>
<li><a href="{{ MEDIA_URL }}guides/rusteaterindhold[1].pdf">Rusteater (2007)</a></li>
<li><a href="{{ MEDIA_URL }}guides/rusteaterevaluering2007[1].pdf">Rusteater (2007)</a></li>
<li><a href="{{ MEDIA_URL }}guides/rusteatereval08.pdf">Rusteater (2008)</a></li>
<li><a href="{{ MEDIA_URL }}guides/evaluering.pdf">Sangbog (2007)</a></li>
<li><a href="{{ MEDIA_URL }}guides/sangbog_evaluering_08.pdf">Sangbog (2008)</a></li>
<li><a href="{{ MEDIA_URL }}guides/sangbogskorrektur.txt">Sangbogskorrektur (2007)</a></li>
<li><a href="{{ MEDIA_URL }}guides/soleval08[1].pdf">SOL (2008)</a></li>
<li><a href="{{ MEDIA_URL }}guides/uniformseval[1].pdf">Sponsor (2008)</a></li>
<li><a href="{{ MEDIA_URL }}guides/sportsdag_eval08.pdf">Sportsdag (2008)</a></li>
<li><a href="{{ MEDIA_URL }}guides/tutorbogseval.pdf">Tutorbog (2007)</a></li>
<li><a href="{{ MEDIA_URL }}guides/tutorbogsevaluering_-_2008.pdf">Tutorbog (2008)</a></li>
<li><a href="{{ MEDIA_URL }}guides/tutorbogskorrektur.pdf">Tutorbogskorrektur (2007)</a></li>
<li><a href="{{ MEDIA_URL }}guides/tutorfest2008.pdf">Tutorfest (2008)</a></li>
<li><a href="{{ MEDIA_URL }}guides/hacker_eval_07.pdf">DAIMI-hacker 2007</a></li>
<li><a href="{{ MEDIA_URL }}guides/gris07.pdf">Gris (2007)</a></li>
<li><a href="{{ MEDIA_URL }}guides/evalhoest07.pdf">Høstfest (2007)</a></li>
<li><a href="{{ MEDIA_URL }}guides/evaluering_af_ifa_hackergruppe_2007.pdf">IFA hacker  2007</a></li>
<li><a href="{{ MEDIA_URL }}guides/imfhackereval.pdf">IMF-hacker 2007</a></li>
<li><a href="{{ MEDIA_URL }}guides/korrekturrus.pdf">Korrekturlæsning, Rusbog (2007)</a></li>
<li><a href="{{ MEDIA_URL }}guides/lab07.pdf">Labrundvisning (2007)</a></li>
<li><a href="{{ MEDIA_URL }}guides/evaluering_af_parxafari_2007.pdf">ParXafari (2007)</a></li>
<li><a href="{{ MEDIA_URL }}guides/evalRKFW.pdf">RKFW-andet 2007</a></li>
<li><a href="{{ MEDIA_URL }}guides/rkfwmad.pdf">RKFW-mad 2007</a></li>
<li><a href="{{ MEDIA_URL }}guides/rusbog07.pdf">Rusbog (2007)</a></li>
<li><a href="{{ MEDIA_URL }}guides/1185864329.pdf">Rusbogsevaluering 2007</a></li>
<li><a href="{{ MEDIA_URL }}guides/ruskursus07.pdf">Ruskursus (2007)</a></li>
<li><a href="{{ MEDIA_URL }}guides/evalstat.xls">Rusugen, detaljeret (2007)</a></li>
<li><a href="{{ MEDIA_URL }}guides/rusdage07.pdf">Rusugen, sammendrag (2007)</a></li>
<li><a href="{{ MEDIA_URL }}guides/sol07.pdf">SOL (2007)</a></li>
<li><a href="{{ MEDIA_URL }}guides/sol_eval_2006.pdf">SOL eval 2006</a></li>
<li><a href="{{ MEDIA_URL }}guides/sportsdag.pdf">Sportsdag (2007)</a></li>
<li><a href="{{ MEDIA_URL }}guides/tfesteval07.pdf">Tutorfest (2007)</a></li>
<li><a href="{{ MEDIA_URL }}guides/tutorfest_eval_2006.pdf">Tutorfest eval 2006</a></li>
<li><a href="{{ MEDIA_URL }}guides/uniform07.pdf">Uniform (2007)</a></li>
<li><a href="{{ MEDIA_URL }}guides/hacker_evaluering.pdf">Daimi Hacker 2006</a></li>
<li><a href="{{ MEDIA_URL }}guides/dias_2006.pdf">Dias 2006</a></li>
<li><a href="{{ MEDIA_URL }}guides/Evaluering%20-%20Diasgruppen.pdf">Diasgruppens 2005</a></li>
<li><a href="{{ MEDIA_URL }}guides/Evaluering%20-%20Evalueringsgruppen.pdf">Evalueringsgruppen 2005</a></li>
<li><a href="{{ MEDIA_URL }}guides/Evaluering%20-%20Grise.pdf">Grise 2005</a></li>
<li><a href="{{ MEDIA_URL }}guides/eval.pdf">H&oslash;stfest</a></li>
<li><a href="{{ MEDIA_URL }}guides/hytte.pdf">Hyttegruppen 2006</a></li>
<li><a href="{{ MEDIA_URL }}guides/IFAhacker.pdf">Ifa hacker 2006</a></li>
<li><a href="{{ MEDIA_URL }}guides/evaluering_af_labrundvisning.pdf">Labrundvisning 2006</a></li>
<li><a href="{{ MEDIA_URL }}guides/Evaluering%20-%20NATO.pdf">NATO Løb-gruppens 2005</a></li>
<li><a href="{{ MEDIA_URL }}guides/parkloeb_evaluering_2006.pdf">Parkløb 2006</a></li>
<li><a href="{{ MEDIA_URL }}guides/rkfw_2006.pdf">RKFW 2006</a></li>
<li><a href="{{ MEDIA_URL }}guides/rusbog_2006.pdf">Rusbog 2006</a></li>
<li><a href="{{ MEDIA_URL }}guides/evaluering_af_rusdage.pdf">Rusdage (2006)</a></li>
<li><a href="{{ MEDIA_URL }}guides/rusevaluering_2006.pdf">Rusevaluering 2006</a></li>
<li><a href="{{ MEDIA_URL }}guides/rusteater_2006.pdf">Rusteater 2006</a></li>
<li><a href="{{ MEDIA_URL }}guides/Evaluering%20-%20rusteater.pdf">Rusteater-gruppens 2005</a></li>
<li><a href="{{ MEDIA_URL }}guides/sommergruppe_2006.pdf">Sommergruppe 2006</a></li>
<li><a href="{{ MEDIA_URL }}guides/Evaluering%20-%20sommergruppen.pdf">Sommergruppens 2005</a></li>
<li><a href="{{ MEDIA_URL }}guides/Evaluering-af-Tutorbog-2006.pdf">Tutorbog 2006</a></li>
<li><a href="{{ MEDIA_URL }}guides/uniformgruppen_2005.pdf">Uniformgruppen 2006</a></li>
<li><a href="{{ MEDIA_URL }}guides/Evaluering%20-%20DAIMI%20Hacker.pdf">DAIMI Hacker gruppen 2005</a></li>
<li><a href="{{ MEDIA_URL }}guides/Evaluering%20-%20IFA%20hacker.pdf">IFA-hackermanual 2005</a></li>
<li><a href="{{ MEDIA_URL }}guides/Evaluering%20-%20IMF%20hacker.pdf">IMF hacker 2005</a></li>
<li><a href="{{ MEDIA_URL }}guides/Evaluering%20-%20Tutor-%20kogebog.pdf">Kogebog gruppen 2005</a></li>
<li><a href="{{ MEDIA_URL }}guides/Evaluering%20-%20Noerd.pdf">Nørd-evaluering 2005</a></li>
<li><a href="{{ MEDIA_URL }}guides/Evaluering%20-%20Parkloeb.pdf">Parkløb 2005</a></li>
<li><a href="{{ MEDIA_URL }}guides/Evaluering%20-%20rkfw.pdf">RKFW 2005</a></li>
<li><a href="{{ MEDIA_URL }}guides/Evaluering%20-%20Rusbogen.pdf">Rusbog 2005</a></li>
<li><a href="{{ MEDIA_URL }}guides/Evaluering%20-%20sangbogsgruppen.pdf">Sangbog gruppen 2005</a></li>
<li><a href="{{ MEDIA_URL }}guides/Evaluering%20-%20Sportsdag.pdf">Sportsdag 2005</a></li>
<li><a href="{{ MEDIA_URL }}guides/Evaluering%20-%20Tutorfest.pdf">Tutorfest 2005</a></li>
<li><a href="{{ MEDIA_URL }}guides/Evaluering%20-%20Uniformgruppen.pdf">Uniformsgruppen 2005</a></li>
<li><a href="{{ MEDIA_URL }}guides/web2004.pdf">Web 2004</a></li>
</ul>

{% endblock %}
