{% extends "base.html" %}
{% block title %}Introduktion til det at være Tutor{% endblock %}

{% block content %}
<h1>Introduktion til det at være Tutor</h1>

<p>Dette er ment som en lille introduktion, til dem der ikke har været tutor
før, i hvad det indebærer at være tutor.</p>

<p style="text-align: center">
<img src="{{ STATIC_URL }}uploads/2011_Torsdag_img_0675_crop.jpg" style="max-width: 80%">
</p>

<h2>Hvorfor skal jeg melde mig?</h2>

<p>Du skal melde dig som tutor, fordi du gerne vil være med til at give de nye
studerende et brag af en studiestart og hjælpe dem godt i gang med deres tid på
universitetet. Når man har været tutor for et hold, så får man et helt specielt
samvær med netop de mennesker, hvilket strækker sig længere end blot den første
tid med dem. Det er ikke uhørt, at man kan få nogle rigtig gode venner, og at
man bliver lige så meget en del af ens rushold, som det hold man selv startede
på.</p>

<p>Som tutor kommer man til at indgå i et stort socialt netværk med folk fra
seks forskellige studieretninger (Datalogi, Fysik, It, Matematik,
Matematik-økonomi og Nanoscience) på tværs af årgangene. Disse mennesker har
alle til fælles, at de vil gøre deres bedste for at hjælpe de nye studerende,
og det gør dem i sig selv til enormt rare mennesker.</p>

<p>Dertil kommer en masse gode oplevelser.
Som tutor deltager du i en masse spændende og sjove arrangementer;
der er både rusdagene og hyttetur, sportsdag og andre arrangementer,
som du selv kender fra din tid som rus,
og så er der arrangementer kun for tutorerne, hvor vi lærer hinanden at kende,
såsom stormøder, hyggelørdage eller fester.</p>

<img src="{{ STATIC_URL }}uploads/rkfw-2012-fre-161433-crop.jpg" style="max-width: 100%">

<h2>Hvad forventes der af mig?</h2>

<p>Når man melder sig i foreningen, så er det med henblik på at ville hjælpe de
nye russer godt i gang. Dette betyder, at man går ind til dette med et åbent
sind, og at man er villig til at tage noget ansvar på skuldene, når det kræves
af en.</p>

<p>I løbet af tutoråret er der nogle arrangementer, der er obligatoriske at
møde op til i forbindelse med, at man er tutor. Dette indbefatter de stormøder,
der afholdes hen over året (det står i
<a href="{% url 'events' %}">kalenderen</a>, hvornår de ligger),
arbejdslørdage, rusdagene samt russernes hyttetur. Selvfølgelig kan det ske,
man ikke kan komme til et af de obligatoriske arrangementer, men så kan man
melde afbud på forhånd.</p>

<p>Når man bliver tutor, så kommer man samtidigt ind i en eller flere <a
href="{% url 'gruppekatalog' %}">arbejdsgrupper</a>. Dette er en gruppe,
hvor man udfører noget af det forberedende arbejde, som f.eks. kan være at
organisere busser til rusdage, forberede SOL (StudieOrienterendeLeg),
organisere rundvisninger, skrive rushåndbøger og des lige. I kraft af at man er
en del af denne gruppe, så forventes det selvfølgelig, at man deltager aktivt,
for så bliver de pågældende arrangementer eller skriverier jo bare bedre, og
russerne får en kanon oplevelse i rusdagene.</p>

<p>Når man kommer til rusdagene og rusarrangementerne, er man delt op i hold af
typisk fire tutorer, som har ansvaret for et rushold, og skal føre dem godt
igennem russtarten og den første tid på universitetet. Dette betyder, at man
skal arbejde sammen om at give dem en god oplevelse, hvilket indebærer, at man
skal være klar til at tage et ansvar og til at tage nogle initiativer. Ansvaret
er specielt at mærke, når man tager på hytteturen, fordi der er det tutorernes
opgave, at turen bliver en fantastisk oplevelse for alle der deltager, hvilket
kræver lidt mere af en, end man først forventer. Som holdtutor forventes man
derudover at hjælpe russerne som minimum i det første semester. Det vil sige,
at man skal hjælpe til med at organisere holdets time for at give vigtige
informationer videre til russerne og hjælpe med at organisere diverse hyggeting
internt på rusholdet (juleklip, tour de fredagsbar, julefrokost), hvis der er
stemning for disse.</p>

<h2>Hvordan melder jeg mig?</h2>

<p>Nu hvor du har en lille ide om, hvad du måske går ind til, så kan det ske,
at du får lyst til at deltage i løjerne.  Dette kan du selvfølgelig ansøge om,
og dette kan du få meget mere at vide om til 0. Stormøde,
som er d. 3. og 4. februar 2015 henholdsvis på Katrinebjerg og på Ny Munkegade
(info er at finde i
<a href="{% url 'events' %}">kalenderen</a> og ved dine tutorer).</p>

<p>Hvis du ikke kan komme til et af disse, så er det til 1. Stormøde i Peter
Bøgh Andersen auditoriet i IT-byen d. 10. februar 2015 at selve ansøgningen
skydes i gang.</p>

<p>Hvis man nu ikke kan komme der, så send en mail til <a href="{% url 'kontakt' %}">
bestyrelsen</a> før 1. Stormøde. Så kan vi forklare, hvordan du ellers kan
søge om at blive tutor.</p>

<p style="text-align: center">
<img src="{{ STATIC_URL }}uploads/2012_RKFLL_IMG_5043_crop.jpg" style="max-width: 80%">
</p>

{% endblock %}
