{% extends "base.html" %}
{% block title %}Regler{% endblock %}

{% block content %}

<h1>Regler</h1>

<p>Denne side giver et overblik over reglerne i Mat/Fys-Tutorforeningen. Mere præcise formuleringer kan findes på siden <a href="{% url 'vedtaegter' %}">vedtægter</a>.</p>

<h2>Advarselssystem</h2>
Bryder man en regel i Mat/Fys-Tutorforeningen, vil bestyrelsen på baggrund af eksisterende advarsler og graden af forseelsen enten uddele en skriftlig advarsel eller ekskludere én fra foreningen. Som udgangspunkt vil anden advarsel medføre udelukkelse, hvorefter man ikke længere er tilladt at deltage i de resterende arrangementer for tutoråret.

<h2>Obligatorisk arbejde</h2>


<h3>Arbejdsgrupper</h3>
Som tutor forventes du at deltage aktivt i de arbejdsgrupper du indgår i. Det vil sige at møde op når det aftales i gruppen, samt udføre det arbejde det forventes af dig af den gruppeansvarlige og dine andre medtutorer.

<h3>Obligatoriske arrangementer</h3>
Fremmøde til stormøderne og RKFL'er er obligatorisk - ved sygdom eller andre forhold kan man selvfølgelig melde afbud til bestyrelsen på <a href=mailto:best@matfystutor.dk>best@matfystutor.dk</a> med årsag senest 24 timer før.

<h3>Studiestart</h3>
Er man holdtutor skal man selvfølgelig også deltage i rusdagene, samt ens rusholds HT i perioden efter studiestart.

<h2>Andre regler</h2>
"Smutvejen" fra Matematisk bagom Nano mod Katrinebjerg må ikke benyttes i rusugen, hverken med eller uden russer. 
Man må som tutor ikke score eller blive scoret af en rus før efter hytteturen.

{% endblock %}
