{% extends "base.html" %}
{% block title %}Regler{% endblock %}

{% block content %}

<h1>Regler</h1>
<h3>(jf. §3 stk. 3 i vedtægterne)</h3>
Denne side giver et overblik over reglerne i Mat/Fys-Tutorforeningen. Mere præcise formuleringer kan findes på siden <a href="{% url 'vedtaegter' %}">vedtægter</a>. <br><br>
Desuden skal retningslinjerne udarbejdet i samarbejde med fakultetet overholdes.

<h2>Advarselssystem</h2>
Bryder man en regel i Mat/Fys-Tutorforeningen, vil bestyrelsen på baggrund af eventuelle eksisterende advarsler og graden af forseelsen enten uddele en skriftlig advarsel eller ekskludere én fra foreningen. <br><br>Bemærk: Èn særlig grov forseelse kan medføre udelukkelse uden tidligere advarsler. <br><br> Som udgangspunkt vil anden advarsel medføre udelukkelse, hvorefter man ikke længere er tilladt at deltage i de resterende arrangementer for tutoråret.

<h2>Obligatorisk arbejde</h2>

<h3>Arbejdsgrupper</h3>
Som tutor forventes du at deltage aktivt og seriøst i de arbejdsgrupper du indgår i. Det vil sige, at man møder op når det aftales i gruppen, samt udfører det arbejde, der forventes af dig af gruppen. <br> <br> 
Såfremt du er forhindret til en gruppeaktivitet, har du pligt til at melde begrundet afbud til din gruppeansvarlige. <br><br> 
Den gruppesansvarlige har pligt til at give besked til bestyrelsen hvis et medlem udebliver fra gruppeaktiviteter.

<h3>Obligatoriske arrangementer</h3>
Fremmøde til stormøderne og RKFL'erne er obligatorisk - ved sygdom eller andre forhold kan man selvfølgelig melde begrundet afbud til næstformanden på <a href=mailto:nf@matfystutor.dk>nf@matfystutor.dk</a> senest 24 timer før, så vidt muligt.

<h3>Studiestart</h3>
Er man holdtutor skal man selvfølgelig deltage i rusdagene. Herudover ser vi gerne, at man deltager i ens rusholds HT i perioden efter studiestart.

<h2>Andre regler</h2>
"Smutvejen" fra Matematisk bagom Nano mod Katrinebjerg må ikke benyttes i rusugen, hverken med eller uden russer. <br><br>
Man må som tutor under ingen omstændigheder score eller blive scoret af en rus før hytteturen er overstået. Brud på dette medfører direkte udelukkelse af foreningen. <br><br>
Det er selvfølgelig altid muligt at melde sig ud af tutorforeningen, hvis man ikke kan/ønsker at deltage i tutorarbejdet mere. Dette gøres ved at kontakte bestyrelsen på <a href=mailto:best@matfystutor.dk>best@matfystutor.dk</a>. <br><br>
Det er strengt forbudt som tutor at introducere/opfordre ens russer til at indføre hædringer & klandringer (herunder også "bødekasser" og lignende).<br><br>
Man skal i løbet af sommerferien udfylde tutorbekræftelsen (medmindre man er i Buret). Hvis man ikke gør det inden den deadline, som bestyrelsen fastsætter, betragtes man som udmeldt af foreningen.

{% endblock %}
