{% extends "base.html" %}
{% block title %}Rus2tur{% endblock %}

{% block content %}
<h1>Rus2Tur</h1>

<p>
Rus2Ture er hytteture i forlængelse af rusturene, og afholdes således af rushold og eventuelt
deres tutorer.
</p>

<p>
Der kan findes en guide til afvikling af Rus2Tur (og selvfølgelig dem derefter)
<a href="https://matfystutor.dk/upload/docs/2022/udgivelser/Rus2TurGuide2022.pdf">her</a>.
</p>
<p>
    Derudover kan du finde en guide til hvordan man finder sponsorer til rus2ture
    <a href="https://matfystutor.dk/upload/docs/2025/udgivelser/master-1.pdf">her</a>.
</p>

<!--
<p>
Mat/Fys-Tutorforeningen må ikke tage imod sponsorater, men arrangerer man selv en Rus2Tur, 
må man gerne finde eventuelle samarbejdspartnere, og i den forbindelse kan man læse 
<q>Rus2Tur-Sponsor Edition</q>-guiden <a href="https://matfystutor.dk/upload/docs/2022/udgivelser/Rus2TurSponsorEdition2024.pdf" alt="rus2tur sponsor guide">her</a>.
</p>
-->

<p>
En generator til at lave krydsliste med navne kan findes <a href="/krydsliste">her</a>
    og en tom krydsliste kan findes <a href="/static/krydsliste.pdf">her</a>
</p>

{% endblock %}
