{% extends "base.html" %}
{% block title %}Rus2tur{% endblock %}

{% block content %}
<h1>Rus2tur</h1>

<p>
Rus2ture er hytteture i forlængelse af rusturene, og afholdes således af rushold og eventuelt
deres tutorer.
</p>

<p>
Det er muligt for rushold, der gerne vil på rus2tur, at få et tilskud fra
Mat/Fys-Tutorgruppen.
</p>

<p>
Tilskuddet er finansieret af overskuddet fra auktionerne på rusturene.
</p>

<p>
Tilskud gives, såfremt:
</p>

<ul>
<li>Der er sendt en ansøgning til tutorforeningens økonomiansvarlig på
<a href="mailto:oekonomi@matfystutor.dk">oekonomi@matfystutor.dk</a>
inden den 1. marts der indeholder:
<ol>
<li>Navn på kontaktperson for turen samt mailadresse på denne.</li>
<li>Hvilke hold der tager afsted.</li>
<li>Forventet antal deltagere.</li>
<li>Hvilken hytte (hvis det er fastlagt).</li>
<li>Kontooplysninger, tilskuddet skal overføres til.</li>
</ol>
</li>
<li>
ydermere forventer vi at få en evaluering af de hytter, vi ikke har brugt i tutorforeningen før.
Hvis man er i tvivl, om det er en hytte vi har brugt, kan man henvende sig til økonomiansvarlig.
</li>
</ul>

<p>
Størrelsen af tilskuddet:
</p>

<p>
Det er meget forskelligt fra år til år alt efter hvor mange, der tager på rus2tur og hvor stort
overskuddet fra auktionerne har været, da vi deler overskuddet ud således, at alle ture får det
samme antal kroner pr. deltager.
</p>

<p>
Der gives ikke tilskud til rus<var>n</var>ture, for <var>n</var> ≥ 3
</p>

{% endblock %}
