{% extends "base.html" %}
{% block title %}Rus2tur{% endblock %}

{% block content %}
<h1>Rus2tur</h1>

<p>
Rus2ture er hytteture i forlængelse af rusturene, og afholdes således af rushold og eventuelt
deres tutorer.
</p>

<p>
Der kan findes en guide til afvikling af Rus2tur (og selvfølgelig dem derefter)
<a href="https://matfystutor.dk/upload/docs/2017/udgivelser/Rus2Tur.pdf">her</a>.
</p>

<p>
En generator til at lave krydsliste med navne kan finde <a href="/krydsliste">her</a>
    og en tom krydsliste kan findes <a href="/static/krydsliste.pdf">her</a>
</p>

{% endblock %}
