{% extends "base.html" %}
{% block title %}Vedtægter{% endblock %}

{% block content %}

<div class="vedt">
<h1>Vedtægter</h1>

Vedtaget 14. november 2017. Disse vedtægter findes også som <a href="{{ STATIC_URL }}vedtaegter-matfystutor-20171114.pdf">PDF</a>.

<h2 id="par1"><span class="par"><a href="#par1">§1</a></span><br> Navn og tilhørsforhold</h2>

<h3>Stk. 1</h3>

<p>Foreningens navn er Mat/Fys-Tutorgruppen.</p>

<h3>Stk. 2</h3>

<p>Foreningens hjemsted er på Aarhus Faculty of Science and
Technology, Aarhus Universitet.</p>

<h2 id="par2"><span class="par"><a href="#par2">§2</a></span><br> Formål</h2>

<h3>Stk. 1</h3>

<p>At afholde introduktion, jf. Stk. 2, for nye
studerende på bacheloruddannelserne under:</p>

<ul>
<li>Institut for Matematik</li>
<li>Institut for Fysik og Astronomi</li>
<li>Institut for Datalogi</li>
<li>Interdiciplinary Nanoscience Center</li>
</ul>

<p>med undtagelse af bacheloruddannelsen i IT produktudvikling.</p>

<h3>Stk. 2</h3>

<p>Denne introduktion omfatter blandt andet:</p>

<ul>
<li>Introduktion til studiet.</li>
<li>Introduktion til studievaner og det at studere på universitetet.</li>
<li>At hjælpe de nye studerende med at blive integrerede i det sociale miljø på studiet.</li>
</ul>

<h2 id="par3"><span class="par"><a href="#par3">§3</a></span><br> Medlemmer</h2>

<h3>Stk. 1</h3>

<p>Alle studerende ved de i Stk. 1, §2 nævnte institutter og centre kan søge om optagelse i foreningen.</p>

<h3>Stk. 2</h3>

<p>Bestyrelsen beslutter ud fra ansøgningerne, hvem der optages som
medlem. Der prioriteres som udgangspunkt efter:</p>

<ul>
<li>Antallet af tutorer skal være tilstrækkeligt til at løse årets opgaver.</li>
<li>Erfaring som tutor.</li>
<li>Fagfordeling skal afspejle de nye studerendes fagfordeling.</li>
<li>Kønsfordeling.</li>
</ul>

<h3>Stk. 3</h3>

<p>Foreningens medlemmer forventes at overholde de i §4
opstillede regler, samt yderligere retningslinjer udstukket af den
siddende bestyrelse.</p>

<h3>Stk. 4</h3>

<p>Et kvalificeret flertal på 2/3 af bestyrelsen kan ekskludere
et medlem af foreningen, hvis dette ikke overholder de
i Stk. 3 angivne regler, eller hvis
bestyrelsesflertallet vurderer det nødvendigt.</p>

<h3>Stk. 5</h3>

<p>Medlemskab af foreningen ophører senest efter næstkommende ordinære generalforsamling.</p>

<h3>Stk. 6</h3>

<p>Kun medlemmer af foreningen er stemmeberettiget til generalforsamlinger.</p>

<h2 id="par4"><span class="par"><a href="#par4">§4</a></span><br> Regler for medlemmer</h2>

<h3>Stk. 1</h3>

<p>Medlemmer skal deltage aktivt i de arbejdsgrupper, de indgår i.</p>

<h3>Stk. 2</h3>

<p>Medlemmer deltager aktivt i de arrangementer som Mat/Fys-Tutorgruppen
afholder.</p>

<h3>Stk. 3</h3>

<p>Medlemmer skal som udgangspunkt altid møde op til de arrangementer,
hvor der er mødepligt. Såfremt et medlem ikke kan deltage i et
sådant arrangement, skal medlemmet melde afbud til den/de
ansvarlige.</p>

<h2 id="par5"><span class="par"><a href="#par5">§5</a></span><br> Bestyrelsen</h2>

<h3>Stk. 1</h3>

<p>Bestyrelsen har ansvaret for foreningens daglige drift og
administration.</p>

<h3>Stk. 2</h3>

<p>Bestyrelsen vælges på generalforsamlingen, som beskrevet
i §7.</p>

<h3>Stk. 3</h3>

<p>Bestyrelsen er beslutningsdygtig når 2/3 af bestyrelsen
er tilstede. Der bestemmes ved almindeligt flertal.</p>

<h3>Stk. 4</h3>

<p>Bestyrelsen skal bestå af mindst 7 personer, der er aktive
studerende ved de i Stk. 1, §2 nævnte
institutter. Hvis ikke dette er tilfældet skal bestyrelsen indkalde
til ekstraordinær generalforsamling.</p>

<h3>Stk. 5</h3>

<p>Alle bestyrelsesmøder er offentlige, dog kan bestyrelsen lukke enkelte
punkter på dagsordenen i forbindelse med eksempelvis personsager.</p>

<h3>Stk. 6</h3>

<p>Alle bestyrelsesmedlemmer kan indkalde til
bestyrelsesmøde. Indkaldelse skal finde sted minimum 7 dage før mødets
afholdelse pr. mail til foreningens medlemmer.</p>

<h2 id="par6"><span class="par"><a href="#par6">§6</a></span><br> Bestyrelsesposter</h2>

<h3>Stk. 1</h3>

<p>Bestyrelsen består af følgende poster</p>

<ul>
<li>En koordineringsgruppe på 3 personer (jf. Stk. 2)</li>
<li>En økonomi-ansvarlig (jf. Stk. 4)</li>
<li>En bur-ansvarlig (jf. Stk. 5)</li>
<li>En "praktiske-grise"-ansvarlig (jf. Stk. 6)</li>
<li>En web-ansvarlig (jf. Stk. 7)</li>
<li>To menige medlemmer</li>
</ul>

<h3>Stk. 2</h3>

<p>Koordineringsgruppens hovedopgave er
at koordinere foreningens arbejdsgrupper samt
indkaldelse til møder med bestyrelsen
(jf. Stk 6, §5) eller alle foreningens
medlemmer. Den har ligeledes ansvaret for indkaldelse til og
afholdelse af generalforsamlingen.</p>

<h3>Stk. 3</h3>

<p>Koordineringsgruppen vælger en formand for foreningen blandt
koordineringsgruppens medlemmer ved almindeligt flertal.</p>

<h3>Stk. 4</h3>

<p>Den økonomi-ansvarlige står for foreningens økonomi. Det er
dennes ansvar at der der lægges et budget samt at holde regnskab
med foreningens midler. Den økonomi-ansvarlige skal desuden
præsentere det reviderede regnskab på den ordinære
generalforsamling.</p>

<h3>Stk. 5</h3>

<p>Den bur-ansvarlige er ansvarlig for arbejdsgruppen "Buret", hvis
opgave det er at koordinere tutorarbejdet i selve rusugen.</p>

<h3>Stk. 6</h3>

<p>Den "praktiske grise"-ansvarlige står for gruppen "de praktiske
grise". Denne gruppe hjælper koordineringsgruppen og bestyrelsen i
det hele taget med de praktiske opgaver i forbindelse med foreningens
drift.</p>

<h3>Stk. 7</h3>

<p>Den web-ansvarlige har ansvaret for foreningens webgruppe, hvis opgave
det er at vedligeholde samt udvikle foreningens websider og
mailsystemer.</p>

<h2 id="par7"><span class="par"><a href="#par7">§7</a></span><br> Generalforsamlingen</h2>

<h3>Stk. 1</h3>

<p>Der afholdes ordinær generalforsamling hvert år i perioden
september til november. Generalforsamlingen indkaldes af bestyrelsen
senest 4 uger før afholdelse. Indkaldelse skal ske ved email til
medlemmer samt et opslag på tutorforeningens
hjemmeside. Indkaldelsen skal indeholde dagsordenen for
generalforsamlingen.
Indkaldelsen skal desuden indeholde information om
hvordan man tilkendegiver at man opstiller til bestyrelsen.</p>

<h3>Stk. 2</h3>

<p>Dagsordenen skal som minimum indeholde punkterne</p>

<ol>
<li>Valg af dirigent, referent samt stemmetællere</li>
<li>Godkendelse af indkaldelse og dagsorden</li>
<li>Beretning fra den afgående bestyrelse</li>
<li>Fremlæggelse af det reviderede regnskab til godkendelse</li>
<li>Behandling af indkomne forslag</li>
<li>Valg til bestyrelsen jf. Stk. 4</li>
<li>Valg af 2 suppleanter til bestyrelsen</li>
<li>Valg af 2 revisorer samt 1 revisorsuppleant</li>
<li>Eventuelt</li>
</ol>

<h3>Stk. 3</h3>

<p>Opstilling som kandidat til bestyrelsen skal være den afgående
bestyrelse i hænde senest 7 dage før
generalforsamlingen. Generalforsamlingen kan dog vælge, ved
almindeligt flertal, at lade yderligere kandidater opstille på m\o
det.</p>

<h3>Stk. 4</h3>

<p>Der stemmes skriftligt om de enkelte poster, i den rækkefølge
angivet i Stk. 1, §6. Hver stemmeberettiget medlem kan
stemme en gang pr. person der skal vælges. Hvis en kandidat
vælges til en post bortfalder dennes kandidatur til andre poster
straks. Valget til de enkelte poster afgøres før der stemmes om
næste post.</p>

<h2 id="par8"><span class="par"><a href="#par8">§8</a></span><br> Ekstraordinær generalforsamling</h2>

<h3>Stk. 1</h3>

<p>Ekstraordinær generalforsamling kan afholdes, når bestyrelsen
finder det nødvendigt, og skal afholdes, når mindst 1/3 af
medlemmerne fremsætter skriftlig begrundet anmodning om det over
for bestyrelsen.</p>

<p>Såfremt foreningens medlemmer fremsætter anmodning om afholdelse af
ekstraordinær generalforsamling skal denne afholdes senest 4 uger
efter anmodningen er kommet til bestyrelsens kendskab.</p>

<h3>Stk. 2</h3>

<p>Indkaldelsesfristen for en ekstraordinær generalforsamling er 2
uger.</p>

<h3>Stk. 3</h3>

<p>Dagsordenen til den ekstraordinære generalforsamling skal som minimum
indeholde punkterne</p>

<ol>
<li>Valg af dirigent, referent samt eventuelle stemmetællere</li>
<li>Godkendelse af indkaldelse og dagsorden</li>
<li>Behandling af indkomne forslag</li>
<li>Eventuelt</li>
</ol>

<h3>Stk. 4</h3>

<p>Såfremt anmodningen om afholdelse af ekstraordinær generalforsamling
tilkendegiver krav eller ønske om valg af ny bestyrelse skal den
ekstraordinære generalforsamling vælge en ny bestyrelse. Valget
forløber som det tilsvarende valg på den ordinære
generalforsamling. Inden valget skal den afgående bestyrelse fremlægge
en beretning.</p>

<h2 id="par9"><span class="par"><a href="#par9">§9</a></span><br> Tegningsregler og daglig ledelse</h2>

<h3>Stk. 1</h3>

<p>Foreningen tegnes af</p>

<ul>
<li>Formanden</li>
<li>Den økonomi-ansvarlige</li>
</ul>

<h3>Stk. 2</h3>

<p>De i Stk. 1 nævnte må hver individuelt disponere over foreningens midler.</p>

<h2 id="par10"><span class="par"><a href="#par10">§10</a></span><br> Regnskab og revision</h2>

<h3>Stk. 1</h3>

<p>Foreningens regnskabsår er fra generalforsamling til
generalforsamling.</p>

<h3>Stk. 2</h3>

<p>Regnskabet udføres af den økonomi-ansvarlige og revideres af de
valgte revisorer.</p>

<h3>Stk. 3</h3>

<p>Det reviderede regnskab præsenteres og godkendes på
generalforsamlingen.</p>

<h2 id="par11"><span class="par"><a href="#par11">§11</a></span><br> Vedtægtsændringer</h2>

<h3>Stk. 1</h3>

<p>Forslag til vedtægtsændringer skal være bestyrelsen i
hænde senest 2 uger før generalforsamlingen hvor de ønskes
behandlet.</p>

<h3>Stk. 2</h3>

<p>Forslag modtaget af bestyrelsen offentliggøres senest 7 dage før
generalforsamlingen til alle medlemmer af foreningen.</p>

<h3>Stk. 3</h3>

<p>Vedtagelse af forslag til vedtægtsændringer kræver
2/3 flertal på generalforsamlingen.</p>

<h2 id="par12"><span class="par"><a href="#par12">§12</a></span><br> Foreningens opløsning</h2>

<h3>Stk. 1</h3>

<p>Opløsning af foreningen kan kun finde sted på ordinær
generalforsamlinger hvor 80% for foreningens medlemmer stemmer
herfor.</p>

<h3>Stk. 2</h3>

<p>Foreningens formue skal i tilfælde af opløsning overgå til en
studenterstøttende fond.</p>

<h2 id="par13"><span class="par"><a href="#par13">§13</a></span><br> Vedtagelse og ikrafttræden</h2>

<h3>Stk. 1</h3>

<p>Disse vedtægter er vedtaget på foreningens
ordinære generalforsamling tirsdag den 11. november 2014
med umiddelbar ikrafttræden
og erstatter alle tidligere vedtægter.</p>
</div>

<h1>Yderligere regler</h1>

<h3>Følgende er de yderligere regler der er udstukket af den siddende bestyrelse (jf. §3 stk. 3 i ovenstående vedtægter).</h3>

<p>For at være tutor i Mat/Fys-Tutorgruppen, skal man overholde de regler, der står i foreningens vedtægter, §4.</p>

<p>Desuden skal man overholde de retningslinjer, der er udarbejdet i samarbejde med fakultetet.</p>

<p>For at deltage aktivt i gruppearbejdet, skal man deltage i de møder, som gruppen holder. Afbud med årsag meldes til den gruppeansvarlige. Den gruppeansvarlige står for at give besked til koordineringsgruppen, hvis et medlem udebliver fra gruppemøderne. Dette vil resultere i en skriftlig advarsel.</p>

<p>Der er mødepligt til stormøderne samt til de RusKursusForberedende Lange Lørdage i foråret. Afbud med årsag meldes til koordineringsgruppen. Ved en enkelt udeblivelse får man en skriftlig advarsel.</p>

<p>Man skal i løbet af sommerferien udfylde tutorbekræftelsen (medmindre man er i Buret).
Hvis man ikke gør det inden den deadline, som bestyrelsen fastsætter,
betragtes man som udmeldt af foreningen.</p>

<p>Som holdtutor skal man derudover også deltage i rusdagene og så vidt muligt alle holdets timer i perioden efter russtart.</p>

<p>To advarsler medfører en ekskludering. Bestyrelsen kan i særlige tilfælde vælge at dispensere herfra.</p>

<p>Ved ekskludering vil man ikke have adgang til de resterende arrangementer, der vil blive afholdt i Mat/Fys-Tutorgruppen i det pågældende tutorår.</p>

<p>Det er selvfølgelig altid muligt at melde sig ud af tutorgruppen hvis man ikke kan/ønsker at deltage i tutorarbejdet mere. Dette gøres ved at kontakte bestyrelsen.</p>

<p>Yderligere regler:</p>
<ul>
<li>Som holdtutor må man ikke være sammen med en af sine egne russer før rusturen er forbi.</li>
<li>På hytteturene er det ikke tilladt at have bil med.</li>
</ul>

{% endblock %}
