/* vim:set noet ts=3 sts=3 sw=3: */
html,body {
	margin: 0;
	font-family: Lucida-Grande, Calibri, Arial, Verdana, Sans-Serif;
	color: #444;
	background-color: #eee;
}

a:focus {
	-moz-outline: none;
}

img {
	border: 0;
}

a {
	text-decoration: none;
	color: #117900;
	outline: none;
}

a:hover {
	text-decoration: underline;
}

.clear {
	clear: both;
}

#background {
	background-color: #eee;
	background-image: -moz-linear-gradient(top, rgb(221,221,221) 0%, rgb(238,238,238) 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(221,221,221)), color-stop(100%,rgb(238,238,238))); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, rgb(221,221,221) 0%,rgb(238,238,238) 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top, rgb(221,221,221) 0%,rgb(238,238,238) 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top, rgb(221,221,221) 0%,rgb(238,238,238) 100%); /* IE10+ */
	background-image: linear-gradient(to bottom, rgb(221,221,221) 0%,rgb(238,238,238) 100%); /* W3C */
	background-repeat: repeat-x;
	width: auto;
	height: 550px;
}

body.test #background {
	background-color: #ff0;
	height: 80px;
	background-image: none;
}

#main {
	width: 700px;
	margin: 0 auto;
	padding: 10px 0;
}

body.tutors #main {
	width: auto;
	max-width: 850px;
}

body.wide #main {
	width: 950px;
	overflow-x: scroll;
	resize: horizontal;
}

body.fullwidth #main {
	width: auto;
}

.spacer {
	height: 10px;
}

#header {
	background-color: #fff;
	width: 696px;
	height: 146px;
	border-radius: 7px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
	border: solid 2px #fff;
	overflow: hidden;
	margin: 0 auto;
}

#login {
	float: right;
	padding-right: 1em;
}

#login a {
	color: white;
	text-decoration: underline;
}

#content {
	margin-top: 10px;
	background-color: #fff;
	border-radius: 7px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
	border: solid 2px #fff;
	padding: 20px;
}

.entry-wrapper {
	margin: 20px;
	border-bottom: dashed 1px #C5C5C5;
}

h1 {
	margin: 0px;
}

/*
h3 {
	margin: 0px;
	font-size: 12px;
	font-weight: normal;
	color: #C5C5C5;
}
*/

.vedt h2 {
	text-align: center;
}

.vedt h3 {
	font-size: 100%;
	margin: 0 1em 0 0;
	padding: 0;
	float: left;
}

/** customer submit form styles **/

#login fieldset {
	padding: 0;
	margin: 0;
	border: none;
	height: 44px;
   text-align: right;
}

#login fieldset a {
	margin-left: .5em;
}

#login input {
	border: none;
	border-radius: 4px;
	font-size: 11px;
	line-height: 11px;
	outline: none;
	background-color: #222;
	color: #999;
	width: 80px;
	height: 22px;
	padding-left: 5px;
	-webkit-box-sizing: border-box;
   	-moz-box-sizing: border-box;
   	box-sizing: border-box; 
}

.win.ie input {
	line-height: 22px;
	padding: 6px;
}

#login input:focus {
	border: none;
	color: white;
}

#login input.submit-button {
	width: 50px;
	height: 22px;
	cursor: pointer;
	background-color: #eee;
	border: none;
	color: #333;
	font-size: 11px;
	line-height: 17px;
}

.gecko #login input.submit-button {
	height: 23px;
}

.win.chrome #login input.submit-button {
	height: 21px;
	line-height: 21px;
}

.mac.chrome #login input.submit-button {
	height: 21px;
	line-height: 18px;
	margin-top: 10px;
}

.win.ie #login input.submit-button {
	line-height: 11px;
}

.win.ie9 #login input.submit-button {
	line-height: 12px;
}


/* Menu */

#menu {
	margin-top: 10px;
	height: 44px;
	line-height: 44px;
	color: white;
	background-color: #444;
	border-radius: 7px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
	border: solid 2px #fff;
	font-size: 14px;
}

#menu-list {
	float: left;
	margin-left: 5px;
}

ul.topnav {
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
	height: 44px;
	line-height: 44px;
	color: white;
	background-color: #444;
}

ul.topnav li {
	float: left;
	margin: 0;
	padding: 0px 20px 0px 20px;
	border-right: solid 1px #333;
	position: relative; /*--Declare X and Y axis base for sub navigation--*/
}

ul.topnav li a{
	color: #fff;
	display: block;
	text-decoration: none;
	float: left;
}

ul.topnav li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: -1px;
	top: 44px;
	background-color: #444;
	margin: 0;
	padding: 0;
	display: none;
	float: left;
	border-radius: 0px 0px 7px 7px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
	font-size: 12px;
	border-left: solid 1px #333;
	border-right: solid 1px #333;
	border-bottom: solid 1px #333;
   z-index: 1;
}

ul.topnav li ul.subnav li{
	height: 30px;
	line-height: 30px;
	margin: 0;
	padding: 0;
	clear: both;
	border-right: none;
	border-top: solid 1px #333;
}

html ul.topnav li ul.subnav li a {
	float: left;
	width: 100px;
	background: #444;
	padding-left: 20px;
	border-radius: 0px 0px 7px 7px;
	cursor: pointer;
}

.trigger:hover ul.subnav {
	display: block;
	}

.trigger ul.subnav {
	display: none;
}

html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
	text-decoration: underline;
}

.groupselect {
	text-align: right;
}

.tutoraddress {
	float: left;
	width: 360px;
	margin: 5px 15px;
	padding: 0;
	height: 130px;
	position: relative;
	word-wrap: break-word;
	border: 1px solid #ccc;
}
.tutoraddress.selected {
	width: 752px;
}
body.board .tutoraddress {
	width: 290px;
}
#groupleadlabel {
	margin-bottom: 3px;
}

.tutoraddress {
	font-size: 90%;
	position: relative;
}

.tutoraddress:first-child {
	margin-bottom: 45px;
}
.tutoraddress:first-child + * {
	clear: left;
}
.searchresults .tutoraddress:first-child + * {
	clear: none;
}

/* Tutor pictures.
 * When the client has JavaScript disabled, the following CSS will resize and
 * crop images to 130px in height and at most 130px in width. Image will be
 * anchored at the top left corner.
 * When the client has JavaScript enabled, a piece of JS will detect if the
 * image is portrait (height > width). If so, the image will get the "portrait"
 * class.
 * In any case, the JavaScript will center the image in the 130px x 130px
 * container.
 */
.tutoraddress .pic {
	position: absolute;
	top: 0; left: 0;
	width: 130px;
	height: 130px;
	background-color: #f8f8f8;
	overflow: hidden;
	text-align: center;
}
.tutoraddress .pic img {
	height: 100%;
}
.tutoraddress .pic img.portrait {
	height: auto;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.detailscontainer {
	margin-left: 140px;
	white-space: nowrap;
}

.detailsmagic, .details {
	vertical-align: middle;
	display: inline-block;
}

.detailsmagic {
	height: 130px;
}

.details {
	width: 100%;
}



.tutoraddress .name {
	font-weight: bold;
	font-size: 105%;
	color: #3B5998;
}

.tutors .tutoraddress .name, .tutors .tutoraddress li {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.board .tutoraddress .name, .board .tutoraddress li {
	white-space: normal;
}

.tutoraddress a {
	color: inherit;
}

.tutoraddress ul, .tutoraddress li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.tutoraddress.selected li:before {
	display: inline-block;
	content: attr(title);
	color: #999;
	width: 100px;
}

.tutoraddress li.street, .tutoraddress li.city {
	display: none;
}

.tutoraddress.selected li.street, .tutoraddress.selected li.city {
	display: block;
}

.tutors .tutoraddress .name {
	cursor: pointer;
}

.tutors .tutoraddress.selected .name {
	cursor: auto;
}

/* */
table.uploadform, table.uploadform td {
	margin: 0;
	padding: 0;
}
table.uploadform td {
	border: 0;
	border-bottom: 1px solid black;
	padding: 5px 0;
	vertical-align: top;
	width:50%;
}
table.uploadform td.left {
	width: 348px;
}
table.uploadform td.right {
	width: 348px;
}
table.uploadform input.field, table.uploadform textarea {
	width: 350px;
}
table.uploadform textarea {
	height: 100px;
}

/* Hvis man ønsker alternerende tabel baggrund */
td.altTabBg1, td.altTabBg2 {
	color: black;
}
td.altTabBg1 {
	background-color: #c7ccd7;
}

.eventsevent {
	padding: 20px 0;
	overflow: auto; /*floatfix*/
}

.newsItem h2, .newsBody, .eventsevent {
	border-bottom: 3px solid #ddd;
}

.newsItem h2 {
	margin-bottom: .5em;
	padding-bottom: .5em;
}

.newsItem + .newsItem {
	margin-top: 2em;
}

.newsItem h2 {
	margin-top: 0;
}

.newsBy {
	font-size: 90%;
}

.newsBy .dato {
	margin: 0 1em;
}

.newsBy .dato a:link, .newsBy .dato a:visited {
	color: inherit;
}

.newsBy .dato a:hover {
	color: #117900;
}

.newsBody {
	padding: .5em 0;
	color: #333;
	margin: 0;
}

.twocol .field {
	margin-left: 160px;
}

.twocol .errorlist {
	margin: 0 0 10px 160px;
	font-size: 90%;
	line-height: normal;
}

.twocol .field ul, .twocol .field li {
	list-style-type: none;
	display: inline;
	margin: 0;
	padding: 0;
}

.twocol .label {
	float: left;
	width: 150px;
	text-align: right;
}

.twocol {
	line-height: 30px;
}

.datebox {
	float: left;
	width: 40px;
	text-align: center;
	margin-right: 10px;
	border: 1px solid #eee;
	border-bottom-color: #bbb;
	border-right-color: #bbb;
}

.datebox .month {
	display: block;
	background-color: #3c3;
	color: white;
	font-weight: bold;
	font-size: 10px;
	line-height: 150%;
}

.stormoede .month { background-color: #c33; }
.fest .month { background-color: #d92; }
.rkfw .month { background-color: #d92; }
.rkfl .month { background-color: #c39; }

.datebox .day {
	display: block;
	background-color: #f8f8f8;
	color: black;
	font-weight: bold;
	font-size: 16px;
	line-height: 150%;
}

.eventsevent .eventtitle {
	font-weight: bold;
}

.eventtitle, .eventtime {
	margin-left: 50px;
}

.referat {
	clear: both;
	margin: 0 0 1em 0;
}
