<div><span><span>Kære {{ navn }}</span><br></div>
	
<div><span style="font-weight:bold"><font size="4"><font color="#ff6600">Tillykke</font> <font color="#ff0000">TILLYKKE</font> <font color="#cc33cc">tillykke</font> <font color="#6600cc">:-D</font></font></span><br>

</div><div><br></div><div><span>Du er blevet udtrukket som tutor for tutoråret 2013 og er kommet i puljen
med <font color="#3333ff"><b>holdtutorer</b></font>. </span><br></div><div><span>Da vi ikke kender antallet af kommende russer endnu,
kan vi dog ikke garantere, at du bliver holdtutor.</span><br>

</div><div><br></div><div><span>Vi har oprettet en konto til dig inde på tutorhjemmesiden: <font color="#00cccc" size="4"><b><a href="http://matfystutor.dk">matfystutor.dk</a></b></font>.
For at aktivere denne konto, skal du gå ind på dette link:</span><br>

</div><div><a href="{{ activation }}">{{ activation }}</a><br></div>
<div><br></div>
<div><span>Vi har fordelt folk i grupper og har forsøgt at opfylde alles ønsker så vidt
muligt. Du er kommet i <font color="#33ff33" size="4"><b>{{ group1 }}</b></font> og <font color="#009900" size="4"><b>{{ group2 }}</b></font></span><span>. Den gruppeansvarlige for
hver gruppe </span><span>indkalder snarest til et gruppemøde. Hvis du er blevet valgt
til gruppeansvarlig, får du en separat </span><span>mail om dette. </span><br>

</div><div><br></div>
<div><span>Du skal også gå ind under <b><font color="#ffcc00">&quot;Personligt&quot; --&gt; &quot;Profil&quot;</font></b> og
udfylde oplysningerne om dig selv. Desuden </span><span>skal du
uploade et vellignende og sobert billede af dig selv under
<font color="#ff6600">&quot;<b>Personligt&quot; --&gt; &quot;Upload Billede&quot;</b></font>.</span><br>

</div><div><br></div><div><span>Hvis du har spørgsmål eller kommentarer, er du velkommen til at kontakte
os på <b><font color="#ff0000"><a href="mailto:best@matfystutor.dk">best@matfystutor.dk</a></font></b>.
</span><span>Hvis der er problemer med din tutorkonto kan du også skrive direkte
til den webansvarlige på </span><span><b><font color="#cc66cc"><a href="mailto:webtumling@matfystutor.dk">webtumling@matfystutor.dk</a></font></b>.</span><br>

</div><div><br></div><div><span>Vi glæder os til at ses til <font size="4" color="#6600cc"><b>RKFL&sup2; d. 2. marts</b></font>.
Tidspunkt og sted melder vi ud, så snart det ligger </span><span>fast. </span><br></div><div><br>

</div><div><span>På vegne af tutorbestyrelsen,</span><br></div><div><span>
Mathias Rav</span><br></div></span>
