{% extends "base.html" %}
{% block title %}Tutorbekræftelse{% endblock %}

{% block content %}
    <h1>Tutorbekræftelse</h1>

    {% if success %}
        <p class="success_message">Din tutorbekræftelse er modtaget!</p>
    {% endif %}

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}

    <form method="post">{% csrf_token %}
        {% if form.non_field_errors %}
            {{ form.non_field_errors }}
        {% endif %}
        <p>
            <label>{{ form.study.label }}<br>
                {{ form.study }}
            </label>
        </p>
        <p>
            <label>{{ form.experience.label }}<br>
                {{ form.experience }}
            </label>
        </p>
        <p>
            <label>{{ form.priorities.label }}<br>
                {{ form.priorities }}
            </label>
        </p>
        <p>
            <label>{{ form.firstaid.label }}<br>
                {{ form.firstaid }}
            </label>
        </p>
        <p>
            <label>{{ form.resits.label }}<br>
                {{ form.resits }}
            </label>
        </p>
        <p>
            <label>{{ form.rusfriends.label }}<br>
                {{ form.rusfriends }}
            </label>
        </p>
        <p>
            <label>{{ form.previous_tutor.label }}<br>
                {{ form.previous_tutor }}
            </label>
        </p>
        <p>
            <label>{{ form.comment.label }}<br>
                {{ form.comment }}
            </label>
        </p>
        <input type="submit" value="Indsend tutorbekræftelse"/>
    </form>

{% endblock %}
