{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Tutorbekræftelse{% endblock %}
{% block head %}
<style>
    .confirmation {
        display: inline-block;
        border: 1px solid black;
        width: 400px;
        height: 500px;
        vertical-align: middle;
    }
    .confirmation .picture {
        float: left;
        width: 100px;
        height: 180px;
    }
    .confirmation .picture img {
        max-width: 100px;
        max-height: 180px;
    }
    .confirmation .study {
        clear: left;
        float: left;
        width: 100px;
        height: 100px;
        text-transform: uppercase;
        font-size: 200%;
        text-align: center;
        word-break: break-all;
    }
    .confirmation .resits,
    .confirmation .rusfriends,
    .confirmation .comment {
        min-height: 5em;
    }
    .confirmation .tutor, .confirmation .study {
        font-weight: bold;
    }
    .confirmation .studylong,
    .confirmation .tutor, .confirmation .experience,
    .confirmation .resits, .confirmation .priorities, .confirmation .firstaid,
    .confirmation .rusfriends, .confirmation .comment,
    .confirmation .internal_notes {
        margin-left: 100px;
    }
</style>
{% endblock %}
{% block bodyclass %}fullwidth{% endblock %}

{% block content %}
<h1>Tutorbekræftelser</h1>

{% for confirmation in confirmation_list %}<div class="confirmation">
    <div class="picture">
	{% thumbnail confirmation.tutor.profile.picture "100x180" as im %}
        <img src="{{ im.url }}">
	{% empty %}
        Intet billede
	{% endthumbnail %}
    </div>
    <div class="study">{{ confirmation.study_short }}</div>
    <div class="tutor">{{ confirmation.tutor.profile.get_full_name }}</div>
    <div class="studylong">{{ confirmation.study }}</div>
    <div class="priorities">Ønsker: {{ confirmation.priorities }}</div>
    <div class="experience">Erfaring: {{ confirmation.experience }}</div>
    <div class="firstaid">Førstehjælp: {{ confirmation.firstaid }}</div>
    <div class="resits">Reeksamener: {{ confirmation.resits }}</div>
    <div class="rusfriends">Kendte russer: {{ confirmation.rusfriends|linebreaksbr }}</div>
    <div class="comment">Kommentar: {{ confirmation.comment|linebreaksbr }}</div>
    <div class="internal_notes">Notat: {{ confirmation.internal_notes }}</div>
</div>{% endfor %}

{% endblock %}
