{% extends "base.html" %}
{% block title %}Tutorbekræftelse{% endblock %}
{% block head %}
<style>
    .confirmationtable {
    }
    .confirmationtable th, .confirmationtable td {
        padding-left:  0.5em;
        padding-right: 0.5em;
        vertical-align: top;
    }
    .confirmationtable .name {
        max-width: 200px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
</style>
<script>
    function edit_note(a) {
        a.previousSibling.style.display = 'inline';
        var f = a.previousSibling.internal_notes;
        if (f) {
            f.focus();
            f.select();
            f.onkeypress = text_keypress;
        }
        a.style.display = 'none';
    }
    function text_keypress(ev) {
        if (ev.keyCode == 27) {
            // Hide note without saving
            var f = this.form;
            f.reset();
            f.style.display = 'none';
            f.nextSibling.style.display = '';
            f.nextSibling.focus();
        }
    }
</script>
{% endblock %}
{% block bodyclass %}fullwidth{% endblock %}

{% block content %}
<h1>Tutorbekræftelser</h1>

<p><a href="{% url 'confirmation_reminder' %}">Send reminder</a></p>

<table class="confirmationtable" cellspacing="0">
<thead>
<tr>
    <th>Navn</th>
    <th>Studium</th>
    <th>Tutor type</th>
    <th>Erfaring</th>
    <th>Reeksamener</th>
    <th>Ønsker</th>
    <th>Førstehjælp</th>
    <th>Kendte russer</th>
    <th>Tidligere ansøgt</th>
    <th>Kommentar</th>
    <th>Notat</th>
</tr>
</thead>
<tbody>
{% for confirmation in confirmation_list %}
<tr id="confirmation_{{ confirmation.pk }}">
    <td class="name" title="{{ confirmation.tutor.profile.name }}">
        {{ confirmation.tutor.profile.name }}</td>
    <td>{{ confirmation.study }}</td>
    <td>{{ confirmation.tutortype }}</td>
    <td>{{ confirmation.experience }}</td>
    <td>{{ confirmation.resits }}</td>
    <td>{{ confirmation.priorities }}</td>
    <td>{{ confirmation.firstaid }}</td>
    <td>{{ confirmation.rusfriends|linebreaksbr }}</td>
    <td>{{ confirmation.previous_tutor|linebreaksbr }}</td>
    <td>{{ confirmation.comment|linebreaksbr }}</td>
    <td><form method="post" style="display: none" action="{% url 'confirmation_edit_note' %}">{% csrf_token %}
            <input type="hidden" name="tutor" value="{{ confirmation.tutor.pk }}">
            <input name="internal_notes" value="{{ confirmation.internal_notes }}">
    </form><a href="#" onclick="edit_note(this); return false">{{ confirmation.internal_notes|default:"(ingen)" }}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
