{% extends "base.html" %}
{% block title %}Tutorbekræftelse{% endblock %}
{% block head %}
<style>
    .confirmationtable {
        border-top: 1px solid black;
    }
    .confirmationtable th, .confirmationtable td {
        padding-left:  0.5em;
        padding-right: 0.5em;
        border-bottom: 1px solid black;
        vertical-align: top;
    }
</style>
<script>
    function edit_note(a) {
        a.previousSibling.style.display = 'inline';
        a.style.display = 'none';
    }
</script>
{% endblock %}
{% block bodyclass %}fullwidth{% endblock %}

{% block content %}
<h1>Tutorbekræftelser</h1>

<p><a href="{% url 'confirmation_reminder' %}">Send reminder</a></p>

<table class="confirmationtable" cellspacing="0">
<tr>
    <th>Navn</th>
    <th>Studium</th>
    <th>Erfaring</th>
    <th>Reeksamener</th>
    <th>Ønsker</th>
    <th>Førstehjælp</th>
    <th>Kendte russer</th>
    <th>Kommentar</th>
    <th>Notat</th>
</tr>
{% for confirmation in confirmation_list %}
<tr id="confirmation_{{ confirmation.pk }}">
    <td>{{ confirmation.tutor.profile.get_full_name }}</td>
    <td>{{ confirmation.study }}</td>
    <td>{{ confirmation.experience }}</td>
    <td>{{ confirmation.resits }}</td>
    <td>{{ confirmation.priorities }}</td>
    <td>{{ confirmation.firstaid }}</td>
    <td>{{ confirmation.rusfriends|linebreaksbr }}</td>
    <td>{{ confirmation.comment|linebreaksbr }}</td>
    <td><form method="post" style="display: none" action="{% url 'confirmation_edit_note' %}">{% csrf_token %}
            <input type="hidden" name="tutor" value="{{ confirmation.tutor.pk }}">
            <input name="internal_notes" value="{{ confirmation.internal_notes }}">
            <input type="submit" value="Gem">
    </form><a href="#" onclick="edit_note(this); return false">{{ confirmation.internal_notes|default:"(ingen)" }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
