{% extends "base.html" %}
{% block title %}Begivenheder{% endblock %}
{% block content %}
<h1>Begivenheder</h1>
{% if user.is_authenticated %}
<p>Tilføj feedet til din Google-kalender eller lignende:
<a href="{% url events_ical %}">{{ SITE_URL }}{% url events_ical %}</a>
</p>
{% endif %}
{% for event in event_list %}
{% ifchanged %}<h2 style="margin-bottom: 0">{{ event.start_date|date:"F Y"|capfirst }}</h2>{% endifchanged %}
<div class="eventsevent {{ event.category }}">
<div class="eventdate">
    <span class="month">{{ event.start_date|date:"M"|upper }}</span>
    <span class="day">{{ event.start_date|date:"j" }}</span>
</div>
<div class="eventtitle"><a href="{% url event event.pk %}">{{ event.title }}</a></div>
<div class="eventtime">{{ event.start_date|date:"l j. F"|lower|capfirst }}
{% if event.start_date != event.end_date %}
til {{ event.end_date|date:"l j. F"|lower }}
{% endif %}
</div>
</div>
{% endfor %}
{% endblock %}
