{% extends "base.html" %}
{% block title %}{{ event.title }}{% endblock %}

{% block content %}
<div class="eventdate">
    <span class="month">{{ event.start_date|date:"M"|upper }}</span>
    <span class="day">{{ event.start_date|date:"j" }}</span>
</div>
<h1>{{ event.title }}</h1>
<div style="clear: both; padding-top: 10px;">{{ event.start_date|date:"l j. F"|lower|capfirst }}
{% if event.start_date != event.end_date %}
til {{ event.end_date|date:"l j. F"|lower }}
{% endif %}
</div>

<p style="white-space: pre-wrap">{% if event.description %}<strong>Beskrivelse:</strong> {{ event.description }}{% else %}Ingen beskrivelse.{% endif %}</p>

{% if user.is_authenticated %}
{% if event.is_rsvp_possible %}
{% if rsvpform %}
<form action="" method="post">{% csrf_token %}
{{ rsvpform.as_p }}
<input type="submit" value="Opdater tilbagemelding" />
</form>
{% endif %}
{% endif %}

{% if accept %}
<h2>Kommer</h2>
<ol>
{% for tu in accept %}
<li>{{ tu.profile.name }}</li>
{% endfor %}
</ol>
{% endif %}
{% if decline %}
<h2>Kommer ikke</h2>
<ol>
{% for tu in decline %}
<li>{{ tu.profile.name }}</li>
{% endfor %}
</ol>
{% endif %}
{% if no_answer %}
<h2>Intet svar</h2>
<ol>
{% for tu in no_answer %}
<li>{{ tu.profile.name }}</li>
{% endfor %}
</ol>
{% endif %}
{% endif %}

{% endblock %}
