{% extends "base.html" %}
{% block title %}Begivenheder{% endblock %}

{% block content %}
<div class="eventdate">
    <span class="month">{{ event.start_date|date:"M"|upper }}</span>
    <span class="day">{{ event.start_date|date:"j" }}</span>
</div>
<h1>{{ event.title }}</h1>
<div style="clear: both; padding-top: 10px;">{{ event.start_date|date:"l j. F"|lower|capfirst }}
{% if event.start_date != event.end_date %}
til {{ event.end_date|date:"l j. F"|lower }}
{% endif %}
</div>

<p style="white-space: pre-wrap">{% if event.description %}<strong>Beskrivelse:</strong> {{ event.description }}{% else %}Ingen beskrivelse.{% endif %}</p>

{% if user.is_authenticated %}
{% if event.is_rsvp_possible %}
{% if rsvpform %}
<form action="" method="post">{% csrf_token %}
{{ rsvpform.as_p }}
<input type="submit" value="Opdater tilbagemelding" />
</form>
{% endif %}
{% endif %}

{% if event.rsvp or event.participants.all %}
<h2>RSVP</h2>
<ul>
{% for participant in event.participants.all %}
<li>{{ participant.tutor.profile.user.get_full_name }}: {{ participant.status }}</li>
{% endfor %}
</ul>
{% endif %}
{% endif %}

{% endblock %}
