<div class="eventsevent {{ event.category }}">
<div class="datebox">
    <span class="month">{{ event.start_date|date:"M"|upper }}</span>
    <span class="day">{{ event.start_date|date:"j" }}</span>
</div>
<div class="eventtitle"><a href="{% url 'event' event.pk %}">{{ event.title }}</a>
{% if event.location %}&ndash; <span class="eventlocation">{{ event.location }}</span>{% endif %}
</div>
<div class="eventtime">{{ event.start_date|date:"l j. F"|lower|capfirst }}
{% if event.start_time != None %}
{{ event.start_time }}
{% endif %}
{% if event.start_date == event.end_date %}
    {% if event.end_time != None %}
    - {{ event.end_time }}
    {% endif %}
{% endif %}
{% if event.start_date != event.end_date %}
til {{ event.end_date|date:"l j. F"|lower }}
    {% if event.end_time != None %}
    - {{ event.end_time }}
    {% endif %}
{% endif %}
</div>
{% if user.is_authenticated %}
{% if event.is_rsvp_possible %}
<div class="rsvp">
    <form method="post" action="/events/rsvp/{{ event.id }}/">
	{% csrf_token %}
    {% if event.rsvp_title %}
    {{ event.rsvp_title }}:
    {% else %}
    RSVP:
    {% endif %}
	<select name="status" onchange="selectchange(this)">
	    {% if event.rsvp_status == "none" %}<option value="">Vælg...</option>{% endif %}
	    <option value="yes"{% if event.rsvp_status == "yes" %} selected{% endif %}>Kommer</option>
	    <option value="no"{% if event.rsvp_status == "no" %} selected{% endif %}>Kommer ikke</option>
                <option value="sandwich1"{% if event.rsvp_status == "sandwich1" %} selected{% endif %}>Lakse sandwich</option>
        <option value="sandwich2"{% if event.rsvp_status == "sandwich2" %} selected{% endif %}>Italiensk pølse sandwich</option>
        <option value="sandwich3"{% if event.rsvp_status == "sandwich3" %} selected{% endif %}>Kylling/bacon sandwich</option>
        <option value="sandwich4"{% if event.rsvp_status == "sandwich4" %} selected{% endif %}>Roastbeef sandwich</option>
                <option value="sandwich5"{% if event.rsvp_status == "sandwich5" %} selected{% endif %}>Vegansk sandwich</option>
	</select>
	<span class="saved"></span>
    </form>
</div>
{% endif %}
{% if not event.is_rsvp_possible %}
{% if event.rsvp_status != 'none' %}
    {% if event.rsvp_title %}
        {{ event.rsvp_title }}:
    {% else %}
        RSVP:
    {% endif %}
{% endif %}
{% if event.rsvp_status == "yes" %}Kommer{% endif %}
{% if event.rsvp_status == "no" %}Kommer ikke{% endif %}
{% if event.rsvp_status == "sandwich1" %}Lakse sandwich{% endif %}
    {% if event.rsvp_status == "sandwich2" %}Italiensk pølse sandwich{% endif %}
    {% if event.rsvp_status == "sandwich3" %}Kylling/bacon sandwich{% endif %}
    {% if event.rsvp_status == "sandwich4" %}Roastbeef sandwich{% endif %}
    {% if event.rsvp_status == "sandwich5" %}Vegansk sandwich{% endif %}
{% endif %}
{% endif %}
</div>
