{% extends "base.html" %}
{% block title %}
{{ event.title }}: Tilmelding for {{ tutor.profile.name }}
{% endblock %}

{% block content %}
<div class="datebox">
    <span class="month">{{ rsvp.event.start_date|date:"M"|upper }}</span>
    <span class="day">{{ rsvp.event.start_date|date:"j" }}</span>
</div>
<h1>{{ rsvp.event.title }}</h1>
<h2>{{ rsvp.tutor.profile.name }}</h2>

<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Gem tilbagemelding" />
</form>

{% endblock %}
