{% extends "base.html" %}
{% block title %}KOT-optag{% endblock %}
{% block head %}
<style>
.kot td { text-align: center; }
</style>
{% endblock %}

{% block content %}
<h1>KOT-optag</h1>

<table class="kot">
    {% for row in year_list %}
    {% ifchanged %}
    <tr>
        <th>År</th>
        {% for cell in row.cells %}
        <th>{{ cell.name }}</th>
        {% endfor %}
    </tr>
    {% endifchanged %}
    <tr>
        <td>{{ row.year }}</td>
        {% for cell in row.cells %}
        <td>{{ cell.kot }}/{{ cell.count }}/{{ cell.arrived }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endblock %}
