{% extends "base.html" %}
{% block title %}KOT-optag{% endblock %}
{% block head %}
<style>
.kot td { text-align: center; }
</style>
{% endblock %}

{% block content %}
<h1>KOT-optag</h1>

<p>
x/y/z betyder x optaget ifølge KOT; y i fakultetets lister; z ankommet i rusdagene.
</p>

<p>
KOT-hovedtal findes hos
<a href="http://ufm.dk/uddannelse-og-institutioner/statistik-og-analyser/sogning-og-optag-pa-videregaende-uddannelser/grundtal-om-sogning-og-optag/kot-hovedtal">
Uddannelses- og Forskningsministeriet</a>.
</p>

<table class="kot">
    {% for row in year_list %}
    {% ifchanged %}
    <tr>
        <th>År</th>
        {% for cell in row.cells %}
        <th>{{ cell.name }}</th>
        {% endfor %}
    </tr>
    {% endifchanged %}
    <tr>
        <td>{{ row.year }}</td>
        {% for cell in row.cells %}
        {% if cell.value %}
        <td>{{ cell.value }}</td>
        {% else %}
        <td>{{ cell.kot }}/{{ cell.count }}/{{ cell.arrived }}</td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endblock %}
