{% extends "base.html" %}
{% block title %}{{ BURET }}{% endblock %}
{% block head %}
<style>
dt { font-weight: bold; }
dd { margin: 0 0 1em; }
</style>
{% endblock %}

{% block content %}
<h1>{{ BURET }}</h1>

<p>Her er de ting, du har adgang til, fordi du er i {{ BURET }} (eller i tutorbestyrelsen).</p>

<dl>

<dt><a href="{% url 'rusinfo_list' %}">Russer</a></dt>
<dd>Her kan du ændre russers postadresse, telefonnummer, og kodeord på rushjemmesiden.
Holdtutorer har adgang til at ændre disse ting for deres eget hold.</dd>

<dt><a href="{% url 'burtavle_admin' %}">Burtavle</a></dt>
<dd>Her kan du ændre holdstatus (rød/gul/grøn), skrive en besked på burtavlen og ændre farven på fuglen.</dd>

<dt><a href="{% url 'handout_list' %}">Tilmeldinger</a></dt>
<dd>Her kan du gemme og hente tilmeldingslister, som holdtutorerne afleverer i rusdagene
(spis en rus-adresse, hytteturstilmelding, osv.).</dd>

<dt><a href="{% url 'tutor_numbers' %}">Tutornumre</a></dt>
<dd>Her kan du se alle holdtutorers telefonnumre </dd>

<dt><a href="{% url 'reg_rus_list' %}">Registrering</a></dt>
<dd>Her kan du markere russer som ankommet og flytte dem til et andet hold,
og læse/skrive interne bemærkninger til enkelte russer og rushold.</dd>

<dt><a href="{% url 'reg_changes' %}">Ændrede russer</a></dt>
<dd>Til fakultetet: En liste af russer der er flyttet til et andet rushold, eller som vi har oprettet manuelt i systemet.</dd>

<dt><a href="{% url 'import_session_choose' %}">Importer russer</a></dt>
<dd>Til webfar inden rusdagene: Indfør ruslister fra fakultetet i bursystemet og på rushjemmesiden.
Bruges med omtanke og en rolig hånd!</dd>

</dl>

{% endblock %}
