{% extends "base.html" %}
{% block title %}Tilmeldingsliste{% endblock %}
{% block head %}
<style>
.list-item-with-checkbox {
    list-style-type: none;
}
.list-item-checkbox {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px 0.35em 0.25em -1.6em;
    vertical-align: middle;
}
</style>
{% endblock %}

{% block content %}
<h1>Tilmeldingsliste</h1>

{% if form.non_field_errors %}
{{ form.non_field_errors }}
{% endif %}

<form method="post">{% csrf_token %}
    {% if presets %}
    <p>Standardlister:</p>
    <ul>
        {% for preset in presets %}
        <li class="list-item-with-checkbox"><label>
            <input {% if preset.checked %}checked="checked"{% endif %}
                class="list-item-checkbox" type="checkbox"
                name="preset_{{ preset.i }}" />
            {{ preset.name }}</label></li>
        {% endfor %}
    </ul>
    <input type="submit" name="make_presets" value="Opret valgte" />

    {% endif %}
    <p>Navn: {{ form.name }} {{ form.name.errors }}</p>
    <p>Slags: {{ form.kind }} {{ form.kind.errors }}</p>
    <p>Note: {{ form.note }} {{ form.note.errors }}</p>
    <input type="submit" value="Gem" />
    {% if delete %}
    <input type="submit" value="Slet" name="delete" />
    {% endif %}
</form>

{% endblock %}
