{% extends "base.html" %}
{% block title %}Rusliste{% endblock %}
{% block head %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<style>

.notes { display: none; }
.notes:target { display: table-row; }

#main {
    width: auto;
}

#content {
    margin-right: 160px;
    position: relative;
}

#recentchanges {
    position: absolute;
    right: -160px;
    width: 150px;
    top: 0;
    margin-top: -2px;
}

.rc_inner {
    background-color: white;
    border: 1px solid white;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
    padding: 1em;
    font-size: 80%;
}

#recentchanges h1 {
    font-size: 100%;
    margin-top: 0;
    margin-bottom: 8px;
}

#changelist, #changelist li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}

#changelist li {
    margin: 8px 0;
}

.oopscontainer {
    position: fixed;
    top: 3px;
    left: 3px;
    right: 3px;
    text-align: center;
}
.oops {
    background-color: #ff8;
    border: 2px solid #fc3;
    color: #900;
    font-weight: bold;
    padding: 5px 15px;
    display: inline-block;
}

.noteslist, .noteslist li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.noteslist li {
    background-color: #eef;
    padding: 3px;
    margin: 2px;
    max-width: 480px;
}

.noteform_body {
    width: 380px;
}

.ruslist tr:hover {
    background-color: #eef;
}

td form { display: inline; }

</style>
<script>
///////////////////////////////////////////////////////////////////////////////
// Display an "oops", i.e. a yellow warning message saying the user should
// refresh the page.
///////////////////////////////////////////////////////////////////////////////
var oopsBox = null;
function oops(reason) {
    if (!oopsBox) {
        var c = document.body.appendChild(document.createElement('div'));
        c.className = 'oopscontainer';
        oopsBox = c.appendChild(document.createElement('div'));
        oopsBox.className = 'oops';
    }
    oopsBox.innerHTML = 'Noget gik galt. Du bør måske <a href=".">opdatere siden</a>. ';
    if (reason)
        oopsBox.appendChild(document.createTextNode('('+reason+')'));
    return reason;
}

///////////////////////////////////////////////////////////////////////////////
// Rus object containing an interpretation of a rus DOM node.
///////////////////////////////////////////////////////////////////////////////
function Rus(row, rusclass, pk, arrived, studentnumber, name, address, phone, email, note) {
    this.row = row;
    this.rusclass = rusclass;
    this.pk = pk;
    this.arrived = arrived;
    this.studentnumber = studentnumber;
    this.name = name;
    this.address = address;
    this.phone = phone;
    this.email = email;
    this.note = note;
}

///////////////////////////////////////////////////////////////////////////////
// Helper for list filtering.
// Show/hide the rus DOM node based on the search string.
// Returns true if the string was found.
///////////////////////////////////////////////////////////////////////////////
Rus.prototype.change_display_filter = function (str) {
    var strlower = str.toLowerCase();
    function match(s) {
        return (''+s).toLowerCase().indexOf(strlower) != -1;
    }
    var found = (str == ''
        || match(this.studentnumber)
        || match(this.name)
        || match(this.phone));
    this.row.style.display = found ? '' : 'none';
    return found;
};

///////////////////////////////////////////////////////////////////////////////
// RPC helper. Sets the given named field to the given value, or oops if the
// field name is invalid. Also updates the DOM.
///////////////////////////////////////////////////////////////////////////////
Rus.prototype.set_field = function (name, value) {
    if (name == 'arrived') {
        var new_value = value ? 'ja' : 'nej';
        var change_value = value ? 'nej' : 'ja';
        this.row.cells[1].firstChild.nodeValue = value ? 'ja' : 'nej';
        this.row.cells[1].querySelector('input[type=submit]').value = '\u2192 '+change_value;
    }
    else if (name == 'studentnumber') this.row.cells[2].textContent = this.studentnumber = value;
    else if (name == 'name') this.row.cells[3].textContent = this.name = value;
    else if (name == 'address') this.row.cells[4].textContent = this.address = value;
    else if (name == 'phone') this.row.cells[5].textContent = this.phone = value;
    else if (name == 'email') this.row.cells[6].textContent = this.email = value;
    else if (name == 'note') {
        this.row.cells[7].querySelector('a').textContent = this.note = value;
    } else if (name == 'rusclass') {
        this.rusclass.removeRus(this);
        var newClass = rusclass_from_pk(value);
        this.rusclass = newClass;
        this.rusclass.addRus(this);
    } else {
        throw oops("Ukendt rus field ["+name+"]");
    }
};

///////////////////////////////////////////////////////////////////////////////
// Construct a Rus instance from a DOM element.
///////////////////////////////////////////////////////////////////////////////
function rus_from_tr(rusclass, row) {
    var pk = row.getAttribute('data-ruspk');

    var arrivedString = row.cells[1].textContent.replace(/[^a-z]*/g, '');
    var arrived;
    if (arrivedString == 'ja') arrived = true;
    else if (arrivedString == 'nej') arrived = false;
    else throw oops("Couldn't parse yes/no: ["+arrivedString+"]");

    var studentnumber = row.cells[2].textContent;
    var name = row.cells[3].textContent;
    var address = row.cells[4].textContent;
    var phone = row.cells[5].textContent;
    var email = row.cells[6].textContent;
    var note = row.cells[7].textContent;

    return new Rus(row, rusclass, pk, arrived, studentnumber, name, address, phone, email, note);
}

///////////////////////////////////////////////////////////////////////////////
// Rusclass object containing an interpretation of a rusclass DOM node.
///////////////////////////////////////////////////////////////////////////////
function Rusclass(el, pk, name) {
    this.el = el;
    this.pk = pk;
    this.name = name;
    this.russes = [];
}

///////////////////////////////////////////////////////////////////////////////
// Helper for list filtering.
// Filter the rusclass widget by the given string.
// Returns true if the string was found.
///////////////////////////////////////////////////////////////////////////////
Rusclass.prototype.change_display_filter = function (str) {
    function prefix(s1, s2) {
        return s1.length <= s2.length && s1 == s2.substring(0, s1.length);
    }
    var found = false;
    if (prefix(str.toLowerCase(), this.name.toLowerCase())) {
        found = true;
        for (var i = 0, l = this.russes.length; i < l; ++i) {
            this.russes[i].change_display_filter('');
        }
    } else {
        for (var i = 0, l = this.russes.length; i < l; ++i) {
            if (this.russes[i].change_display_filter(str)) {
                found = true;
            }
        }
        if (str == '') found = true;
    }
    this.el.style.display = found ? 'block' : 'none';
    return found;
};

Rusclass.prototype.get_row_container = function () {
    return this.el.querySelector('table.ruslist tbody');
};

///////////////////////////////////////////////////////////////////////////////
// RPC helper. Sets this.name and any DOM strings containing the rusclass name.
///////////////////////////////////////////////////////////////////////////////
Rusclass.prototype.set_name = function (new_name) {
    this.name = new_name;
    this.el.querySelector('h2').textContent = new_name;
};

Rusclass.prototype.removeRus = function (rus) {
    var i = 0, l = this.russes.length;
    while (i < l) {
        if (this.russes[i].pk == rus.pk) break;
        ++i;
    }
    if (i == l) throw oops('removeRus: none found');
    this.russes.splice(i, 1);
};

Rusclass.prototype.addRus = function (rus) {
    var i = 0, l = this.russes.length;
    while (i < l) {
        if (!(this.russes[i].studentnumber < rus.studentnumber)) break;
        ++i;
    }
    if (i == l) this.get_row_container().appendChild(rus.row);
    else this.get_row_container().insertBefore(rus.row, this.russes[i].row);
    this.russes.splice(i, 0, rus);
};

///////////////////////////////////////////////////////////////////////////////
// Construct a Rusclass instance from a DOM element.
///////////////////////////////////////////////////////////////////////////////
function rusclass_from_element(el) {
    var pk = el.getAttribute('data-rusclass');
    var h2 = el.querySelector('h2');
    if (!h2) throw oops('rusclass_from_element: no h2');
    var name = h2.textContent;

    var rusclass = new Rusclass(el, pk, name);

    var ruslist = el.querySelector('.ruslist');

    for (var i = 0, l = ruslist.rows.length; i < l; ++i) {
        var row = ruslist.rows[i];
        if (row.hasAttribute('data-ruspk')) {
            rusclass.russes.push(rus_from_tr(rusclass, row));
        }
    }
    return rusclass;
}

///////////////////////////////////////////////////////////////////////////////
// Get the list of rusclasses, or construct it from the DOM.
//
// The result is an array of Rusclass instances.
///////////////////////////////////////////////////////////////////////////////
var _rusclasses = null;
function rusclasses_from_dom() {
    if (_rusclasses != null) return _rusclasses;
    var rusclasses = document.getElementsByClassName('rusclass');
    var res = [];
    for (var i = 0, l = rusclasses.length; i < l; ++i) {
        res.push(rusclass_from_element(rusclasses[i]));
    }
    return _rusclasses = res;
}

///////////////////////////////////////////////////////////////////////////////
// Find rus/rusclass by primary key, or oops if none found.
///////////////////////////////////////////////////////////////////////////////
function rus_from_pk(pk) {
    var rc = rusclasses_from_dom();
    function search_class(rusclass) {
        for (var i = 0, l = rusclass.russes.length; i < l; ++i) {
            var rus = rusclass.russes[i];
            if (rus.pk == pk) return rus;
        }
        return null;
    }
    for (var i = 0, l = rc.length; i < l; ++i) {
        var rus = search_class(rc[i]);
        if (rus) return rus;
    }
    throw oops("Kunne ikke finde rus med pk ["+pk+"]");
}

function rusclass_from_pk(pk) {
    var rc = rusclasses_from_dom();
    for (var i = 0, l = rc.length; i < l; ++i) {
        if (rc[i].pk == pk) return rc[i];
    }
    throw oops("Kunne ikke finde rusclass med pk ["+pk+"]");
}

///////////////////////////////////////////////////////////////////////////////
// List filtering
///////////////////////////////////////////////////////////////////////////////
var search_timer = null;
function search_keyup(str) {
    if (search_timer) clearTimeout(search_timer);
    search_timer = setTimeout(function () {
        search_timer = null;
        var rc = rusclasses_from_dom();
        for (var i = 0, l = rc.length; i < l; ++i) rc[i].change_display_filter(str);
    }, (str == '' ? 0 : 100));
}

var shown_notes = null;
function show_notes(id) {
    if (shown_notes) {
        shown_notes.style.display = 'none';
        if (shown_notes.id == id) id = null; // toggle off
        shown_notes = null;
    }
    if (id) {
        shown_notes = document.getElementById(id);
        if (shown_notes) {
            var disp = (shown_notes.tagName.toLowerCase() == 'tr') ? 'table-row' : 'block';
            shown_notes.style.display = disp;
        }
    }
}

///////////////////////////////////////////////////////////////////////////////
// RPC methods called by the web server when another user changes some data.
///////////////////////////////////////////////////////////////////////////////
var RPC = {
    'change_log_entry': function (data) {
        var changelist = document.getElementById('changelist');
        var li = document.createElement('li');
        li.title = data['time'];
        li.textContent = data['short_message'];
        changelist.insertBefore(li, changelist.firstChild);
    },
    'change_log_effect': function (data) {
        var model = data['model'];
        var pk = data['pk'];
        var what = data['what'];
        if (what != 'modified') {
            throw oops('Ukendt ChangeLogEffect.what = ['+what+']');
        }
        var field = data['field'];
        var new_value = data['new_value'];
        if (model == 'rus') {
            var rus = rus_from_pk(pk);
            rus.set_field(field, new_value);
        } else if (model == 'rusclass') {
            if (field != 'name') {
                throw oops('Ukendt rusclass field ['+field+']');
            }
            var rusclass = rusclass_from_pk(pk);
            rusclass.set_name(new_value);
        } else {
            throw oops('Ukendt ChangeLogEffect.model = ['+model+']');
        }
    }
};

function get_newest_change_pk() {
    return document.getElementById('changelist').getAttribute('data-newest');
}

function set_newest_change_pk(pk) {
    return document.getElementById('changelist').setAttribute('data-newest', pk);
}

function get_rpc() {
    var reg_rpc_url = "{% url reg_rpc %}";
    function success(data) {
        /* data is something like
           {'pk': 123,
            'payloads': [
             {'method': 'change_log_effect', 'data': ...}
            ]
           }
           */
        try {
            set_newest_change_pk(data.pk);
            for (var i = 0, l = data['payloads'].length; i < l; ++i) {
                var method = data['payloads'][i]['method'];
                if (!(method in RPC)) throw oops("Ukendt RPC metode "+method);
                var f = RPC[method];
                f(data['payloads'][i]['data']);
            }
        } catch (e) {
            throw oops(e);
        }
        get_rpc();
    }
    var rpcRequest = ($.getJSON(
        reg_rpc_url, {'pk': get_newest_change_pk()}, success)
        .error(function() { get_rpc(); }));
}

window.addEventListener('load', get_rpc, 'false');
</script>
{% endblock %}

{% block content %}
<h1>Rusliste</h1>

<p>Du kan søge efter navn, årskortnummer, telefonnummer og holdnavn.</p>

<p>Søg: <input onkeyup="search_keyup(this.value)"></p>

<div id="recentchanges">
<div class="rc_inner">
    <h1>Seneste ændringer</h1>
    <em>(nyeste øverst)</em>
    <ul id="changelist" data-newest="{{ change_list_newest }}">
        <!--
        <li>201205911 er ankommet - Mathias Mavraganis</li>
        <li>201205923 skifter navn - Lauge Hoyer</li>
        <li>201205945 tilføjet note - Mathias Mavraganis</li>
        <li>201205945 skifter hold til Mat 1 - Mathias Mavraganis</li>
        <li>201212345 ny rus - Mathias Mavraganis</li>
        -->
        {% for entry in change_list %}
        <li title="{{ entry.time }}">{{ entry.short_message }}
        {% if entry.can_rollback %}
        <form method="post" action="{% url reg_undo pk=entry.pk %}" style="display:inline">{% csrf_token %}
            <input type="submit" value="&#x238c;" class="link_button" />
        </form>
        {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
</div>

<div style="display: none">
<table>
<tbody>
{% for rus in rus_list %}
{% ifchanged %}
</tbody>
</table>
</div>

{% if rus.rusclass %}
<div class="rusclass" data-rusclass="{{ rus.rusclass.pk }}">
<h2>{{ rus.rusclass }}</h2>
<ul class="noteslist">
{% for note in rus.rusclass.notes %}
<li>{{ note.body }}</li>
{% endfor %}
<li>
<form method="post" action="{% url reg_notes %}">{% csrf_token %}
<input type="hidden" name="subject_kind" value="rusclass" />
<input type="hidden" name="subject_pk" value="{{ rus.rusclass.pk }}" />
<input name="body" class="noteform_body" />
<input type="submit" name="new_note" value="Tilføj" class="noteform_submit" />
</form>
</li>
</ul>
{% else %}
<div class="rusclass" data-rusclass="">
<h2>Intet hold</h2>
{% endif %}

<table class="ruslist">
<col span="8" />
<thead>
<tr>
<th style="min-width: 1em">Skift hold</th>
<th style="min-width: 1em">Ankommet</th>
<th style="min-width: 6em">Årskort</th>
<th style="min-width: 1em">Navn</th>
<th style="min-width: 10em">Adresse</th>
<th style="min-width: 5em">Telefon</th>
<th style="min-width: 7em">Email</th>
<th style="min-width: 1em">Note</th>
</tr>
</thead>
<tbody>
{% endifchanged %}
<tr data-ruspk="{{ rus.pk }}">
<td>
    <form method="post" action="{% url reg_change_class %}" onsubmit="return reg_change('{% url reg_change_class_ajax %}')">{% csrf_token %}
        <input type="hidden" name="rus" value="{{ rus.pk }}" />
        {{ change_class_form_rusclass }}
        <input type="submit" value="Skift" class="link_button" />
    </form>
</td>
<td>{{ rus.arrived|yesno:"ja,nej" }}<form
method="post" action="{% url reg_change_arrived pk=rus.pk %}"
onsubmit="return reg_change_arrived('{% url reg_change_arrived_ajax pk=rus.pk %}')">{% csrf_token %}
<input type="hidden" name="rus" value="{{ rus.pk }}" />
<input type="submit" value="&rarr; {{ rus.arrived|yesno:"nej,ja" }}" class="link_button" />
</form>
</td>
<td>{{ rus.profile.studentnumber }}</td>
<td>{{ rus.profile.get_full_name }}</td>
<td>{{ rus.profile.address }}</td>
<td>{{ rus.profile.phone }}</td>
<td>{{ rus.profile.email }}</td>
<td><a href="#notes-rus-{{ rus.pk }}" onclick="show_notes('notes-rus-{{ rus.pk }}'); return false">
{% for note in rus.notes %}<div>{{ note.body }}</div>
{% endfor %}
{% if not rus.notes %}(ingen){% endif %}
</a></td>
</tr>
<tr class="notes" id="notes-rus-{{ rus.pk }}">
<td colspan="8">
<ul class="noteslist">
{% for note in rus.notes %}
<li>{{ note.body }}</li>
{% endfor %}
<li>
<form method="post" action="{% url reg_notes %}">{% csrf_token %}
<input type="hidden" name="subject_kind" value="rus" />
<input type="hidden" name="subject_pk" value="{{ rus.pk }}" />
<input name="body" class="noteform_body">
<input type="submit" name="new_note" value="Tilføj" class="noteform_submit">
</form>
</li>
</ul>
</td>
</tr>
{% endfor %}
</tbody>
</table>

<div id="csrf_token">{% csrf_token %}</div>

{% endblock %}
