{% extends "base.html" %}
{% block title %}Ny rus{% endblock %}
{% block head %}
<style>
.notelist {
	line-height: 100%;
	margin: 0;
}
</style>
{% endblock %}

{% block content %}
<h1>Ny rus</h1>

<p>Her kan du oprette en ny rus.
Hvis du ikke kender russens årskortnummer,
skal du skrive et unikt brugernavn til russen.</p>

<p>Hvis du laver fejl i årskortnummer eller navn,
så kan webfar slette/ændre det gennem Djangos administrationsside.
(I så fald er det bedst at slette både rus-objektet og det tilhørende tutorprofil- og bruger-objekt
og indtaste russen på ny.)
</p>

{{ form.non_field_errors }}
<form method="post" class="twocol">{% csrf_token %}
    <div class="label">{{ form.name.label_tag }}</div>
    <div class="field">{{ form.name }}</div>
    {{ form.name.errors }}
    <div class="label">{{ form.studentnumber.label_tag }}</div>
    <div class="field">{{ form.studentnumber }}</div>
    {{ form.studentnumber.errors }}
    <div class="label">{{ form.email.label_tag }}</div>
    <div class="field">{{ form.email }}</div>
    {{ form.email.errors }}
    <div class="label">{{ form.arrived.label_tag }}</div>
    <div class="field">{{ form.arrived }}</div>
    {{ form.arrived.errors }}
    <div class="label">{{ form.note.label_tag }}</div>
    <div class="field">{{ form.note }}</div>
    {{ form.note.errors }}
    <div class="label">{{ form.rusclass.label }}</div>
    <div class="field">
    {% for rusclass in rusclass_list %}
    <div>
    <label><input type="radio" name="rusclass" value="{{ rusclass.pk }}">
	    {{ rusclass }} ({{ rusclass.arrived_rus_count }}/{{ rusclass.rus_count }})</label>
    {% if rusclass.notes %}
    <ul class="notelist">
        {% for note in rusclass.notes %}
        <li>{{ note.body }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    </div>
    {% endfor %}
    </div>
    {{ form.rusclass.errors }}
    <div class="field"><input type="submit" value="Opret" /></div>
</form>
{% endblock %}
