{% extends "base.html" %}
{% block title %}{{ rusclass }}{% endblock %}
{% block head %}
<style>
.rusinfo input {
    border: 0;
    margin: 1px;
    background-color: transparent;
    border-bottom: 1px solid gray;
}
.rusinfo input:hover, .rusinfo input.changed, .rusinfo input:focus {
    border: 1px solid black;
    margin: 0 0 1px;
    background-color: white;
}
.rusinfo input.changed {
    background-color: #ff8;
}
.rusinfo td {
    text-align: center;
    vertical-align: top;
}
.rusinfo .errorlist {
    border: 0 none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: #c33;
    font-weight: bold;
    list-style-type: none;
}
</style>
<script>
function hook_inputs() {
    var inputs = document.querySelectorAll('.rusinfo input');
    function onchange() {
        if (this.value != this.defaultValue) this.classList.add('changed');
        else this.classList.remove('changed');
    }
    for (var i = 0, l = inputs.length; i < l; ++i) {
        inputs[i].onchange = onchange;
    }
}
window.addEventListener('load', hook_inputs, false);
</script>
{% endblock %}

{% block content %}
<h1>{{ rusclass }}</h1>

<p>For at lave et nyt kodeord til en rus, skal du indtaste russens emailadresse,
vælge "Nulstil kodeord", og så vil der blive sendt et nyt kodeord til den valgte email.</p>

<p>De kontaktoplysninger, du indtaster her, vil blive synlige for alle tutorer
og russer der logger ind på rushjemmesiden.</p>

<p>Hvis navn eller årskortnummer er forkert eller mangler,
skal du kontakte den webansvarlige i tutorbestyrelsen.</p>

{% if form_errors %}
<p>Formularen er ikke udfyldt korrekt.</p>
{% endif %}

{% if form_saved %}
{% if changes %}
<p>Dine ændringer er gemt.</p>
{% else %}
<p>Ingen ændringer.</p>
{% endif %}
{% endif %}
{{ form.non_field_errors }}
<form method="post">{% csrf_token %}
<table cellspacing="0" class="rusinfo">
<thead>
<tr>
<th>Årskort</th>
<th>Navn</th>
<th>Adresse</th>
<th>Postnr. og by</th>
<th>Email</th>
<th>Telefon</th>
<th>Nulstil kodeord</th>
</tr>
</thead>
<tbody>
{% for rus in rus_list %}
<tr>
    <td>{{ rus.profile.studentnumber|default_if_none:"" }}</td>
    <td>{{ rus.profile.name }}</td>
    <td>{{ rus.street_field }} {{ rus.street_field.errors }}</td>
    <td>{{ rus.city_field }} {{ rus.city_field.errors }}</td>
    <td>{{ rus.email_field }} {{ rus.email_field.errors }}</td>
    <td>{{ rus.phone_field }} {{ rus.phone_field.errors }}</td>
    <td>{% if rus.profile.studentnumber %}{{ rus.reset_password_field }}
        {% endif %}
        {{ rus.reset_password_field.errors }}</td>
</tr>
{% endfor %}
</tbody>
</table>
<input type="submit" value="Gem ændringer" />
</form>

{% endblock %}
