from .base import *

# Disable in production
DEBUG = True

#ADMINS = ( ('Navn', 'email@example.com'), )
#MANAGERS = ADMINS

# For inspiration on ways to spell ENGINE, see
# https://docs.djangoproject.com/en/1.4/ref/settings/#std:setting-DATABASES

DATABASES['default'] = {
    'ENGINE': 'django.db.backends.sqlite3',
    'NAME': 'db.sqlite3',
    'USER': '',
    'PASSWORD': '',
    'HOST': '',
    'PORT': '',
}

# Generate using pwgen -sy 50 1
SECRET_KEY = '...'

# Change after general assembly when new board has been elected in November
YEAR = 2014

# Change after 1. stormoede when new groups have been formed in February
# Emails sent to tutor groups (other than 'best') use this year to look up
TUTORMAIL_YEAR = 2014

# Change in summer when new rusclasses are formed
# Emails sent to rusclasses (and rusclass tutors) use this year to look up
RUSMAIL_YEAR = 2013

# set to production in production
BODY_CLASS = 'test'

# Enable in production
#STATIC_ROOT = root('../static')

#STATIC_URL = 'http://matfystutor.dk/static/'

#MEDIA_URL = 'http://matfystutor.dk/upload/'

#MEDIA_ROOT = root('../upload/')

#SITE_URL = 'http://matfystutor.dk'

# Enable if you have HTML tidy installed
#TIDY_NEWS_HTML = True

# For security measures, set this to only your domain.
#ALLOWED_HOSTS = ['matfystutor.dk', 'www.matfystutor.dk', '127.0.0.1']
