# For inspiration on ways to spell ENGINE, see
# https://docs.djangoproject.com/en/1.4/ref/settings/#std:setting-DATABASES

db = {
    'ENGINE': 'django.db.backends.mysql',
    'NAME': 'mftutor',
    'USER': 'mftutor',
    'PASSWORD': 'hunter2',
    'HOST': '',
    'PORT': '',
}

# Generate using pwgen -sy 50 1
SECRET_KEY = '...'

YEAR = 2013

