<!DOCTYPE html>
<!-- vim:set sw=2 sts=2 et: -->
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{{ STATIC_URL }}stylesheet.css" type="text/css" media="screen, projection" />
  <title>{% block fulltitle %}{% block title %}Forside{% endblock %} - Mat/Fys-Tutorgruppen{% endblock %}</title>
  <meta name="description" content="" />
  <script type="text/javascript" src="{{ STATIC_URL }}css_browser_selector.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}MainJavaScripts.js"></script>
</head>
<body>
<div id="background">
<div id="main">
<div class="spacer"></div>
<div id="header"><a href="TODO url"><img src="{{ STATIC_URL }}images/header.jpg" /></a></div>
<div id="menu">
  <div id="menu-list">
    <ul class="topnav">
      <li class="trigger">
      <a href="{% url news %}">Info</a>
      <ul class="subnav">
        <li><a href="{% url news %}">Nyheder</a></li>
        <li><a href="TODO url">Bestyrelsen</a></li>
        <li><a href="TODO url">Vedtægter</a></li>
        <li><a href="TODO url">Kalender</a></li>
        <li><a href="TODO url">Gruppekatalog</a></li>
        <li><a href="TODO url">Rus2Tur</a></li>
        <li><a href="TODO url">Sponsor</a></li>
        <li><a href="TODO url">Kontakt</a></li>
      </ul>
      </li>
      {% if user.is_authenticated %}
      <li class="trigger">
      <a href="{% url tutors %}">Tutorer</a>
      <ul class="subnav">
        <li><a href="TODO url">Billeder</a></li>
        <li><a href="{% url tutors %}">Adresser</a></li>
        <li><a href="TODO url">Kalender</a></li>
        <li><a href="TODO url">Rus2Tur</a></li>
        <li><a href="TODO url">Mailalias</a></li>
      </ul>
      </li>
      <li class="trigger">
      <a href="#" style="cursor: default" onclick="return false">Personligt</a>
      <ul class="subnav">
        <li><a href="{% url profile_view %}">Profil</a></li>
        <li><a href="{% url groups_view %}">Mine Grupper</a></li>
        <li><a href="{% url password_change %}">Ændre kodeord</a></li>
        <li><a href="TODO url">Tilmeldinger</a></li>
        <li><a href="TODO url">Upload Billede</a></li>
      </ul>
      </li>
      {% endif %}
      {% if perms.tutor.is_admin %}
      <li class="trigger">
      <a href="{% url admin:index %}">Administration</a>
      <ul class="subnav">
        <li><a href="TODO url">Aliaser</a></li>
        <li><a href="TODO url">Evalueringer</a></li>
        <li><a href="TODO url">Forsidenyheder</a></li>
        <li><a href="TODO url">Kalender</a></li>
        <li><a href="TODO url">Menupunkter</a></li>
        <li><a href="TODO url">Referater</a></li>
        <li><a href="TODO url">Tilmeldinger</a></li>
      </ul>
      </li>
      {% endif %}
    </ul>
  </div>
  <div id="login">
    {% if tutor %}
    {{ tutorprofile.user.get_full_name }}&nbsp;&nbsp;
    <a href="{% url tutor.views.logout_view %}?next={{ request.get_full_path }}">Log ud</a>
    {% else %}
    <form method="post" action="{% url tutor.views.login_view %}">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ request }}" />
      <fieldset>
        <input name="username" type="text" id="user-login" value="Årskortnr" onfocus="if (this.value == 'Årskortnr') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Årskortnr';}" />
        <input name="password" type="text" id="password-login" value="Password" onfocus="if (this.value == 'Password') {this.value = '';} if (this.type == 'text') {this.type = 'password'};" onblur="if (this.value == '') {this.value = 'Password';} if (this.type == 'password' &amp;&amp; this.value == 'Password') {this.type = 'text'};" />
        <input name="login" type="submit" class="submit-button" value="LOGIN" />
      </fieldset>
    </form>
    {% endif %}
  </div>
</div>
<div id="content">
  {% block content %}{% endblock %}
<div class="clear"></div>
</div>
</div>
<div class="spacer"></div>
</div>
</body>
</html>
