{% extends "base.html" %}
{% block title %}Sponsor{% endblock %}

{% block content %}
<h1>Sponsorér Mat/Fys-Tutorgruppen</h1>

<h2>Vil du have 150 levende reklamesøjler?</h2>

<p>Vi er en forening af frivillige studerende, der introducerer ca. 550 nye studerende på naturvidenskab til Århus by og livet på universitetet i deres føste studietid. For at kunne gennemføre dette er det vigtigt, at tutorerne er synlige og i stand til at samle opmærksomhed. Vi har erfaring for at det virker bedst hvis tutorerne er iført uniformer. Vi beder derfor om hjælp til at skaffe nye uniformer til tutorerne.</p>

<p>Det er muligt at få jeres logo på skulderen af tutorernes t-shirts.</p>

<p>Hvis I er interesseret i dette, kan I henvende jer til os på<br>
<a href="mailto:best@matfystutor.dk">best@matfystutor.dk</a></p>

{% endblock %}
