{% extends "base.html" %}
{% block title %}Adresseliste{% endblock %}
{% block content %}
<p>
Vælg gruppe:
<select onchange="location = this.value">
<option value="{% url tutors %}">----</option>
{% for g in groups %}
<option value="{% url tutorgroup g.handle %}"{% if group == g.handle %} selected="selected"{% endif %}>{{ g.name }}</option>
{% endfor %}
</select>
</p>
<p>
Gruppeansvarlig:
</p>
<div>
{% for tutor in tutor_list %}
<div class="tutoraddress">
 <div class="pic">
  {% if tutor.profile.picture %}
  <a target="_blank" href="{{ tutor.profile.picture.url }}">
<img class="tutorpicture" src="{{ tutor.profile.picture.url }}" /></a>
{% endif %}
 </div> <!-- /pic -->
 <div class="detailscontainer">
  <div class="details">
   <div class="name">
    {{ tutor.profile.get_full_name }}
   </div> <!-- /name -->
   <ul>
    <li>{{ tutor.profile.street }}</li>
    <li>{{ tutor.profile.city }}</li>
    <li>{{ tutor.profile.phone }}</li>
    <li>{{ tutor.profile.user.email }}</li>
    <li>{{ tutor.profile.study }}</li>
    <li>{{ tutor.profile.studentnumber }}</li>
   </ul>
  </div> <!-- /details -->
  <div class="detailsoverflow"></div>
 </div> <!-- /detailscontainer -->
</div> <!-- /tutoraddress -->

{% endfor %}
</div>
{% endblock %}
