{% extends "base.html" %}
{% block title %}Adresseliste{% endblock %}
{% block content %}
{% for tutor in tutor_list %}
<div class="tutoraddress">
 <div class="pic">
  {% if tutor.profile.picture %}
  <a target="_blank" href="{{ tutor.profile.picture.url }}">
<img class="tutorpicture" src="{{ tutor.profile.picture.url }}" /></a>
{% endif %}
 </div> <!-- /pic -->
 <div class="detailscontainer">
  <div class="details">
   <div class="name">
    {{ tutor.profile.user.get_full_name }}
   </div> <!-- /name -->
   <ul>
{# <?php if ($bestpage): ?> #}
{#     <li><?php echo $data->getBoardRole(); ?></li> #}
{#     <li><?php echo obfuscateEmailAddress($mail); ?></li> #}
{# <?php else: // $bestpage ?> #}
    <li>{{ tutor.profile.street }}</li>
    <li>{{ tutor.profile.city }}</li>
    <li>{{ tutor.profile.phone }}</li>
    <li>{{ tutor.profile.user.email }}</li>
    <li>{{ tutor.profile.study }}</li>
    <li>{{ tutor.profile.studentnumber }}</li>
{#<?php endif; // $bestpage ?>#}
   </ul>
  </div> <!-- /details -->
  <div class="detailsoverflow"></div>
 </div> <!-- /detailscontainer -->
</div> <!-- /tutoraddress -->

{% endfor %}
{% endblock %}
