{% extends "base.html" %}
{% block title %}Vedtægter{% endblock %}

{% block content %}
<h1>Vedtægter</h1>

<p>Læs tutorforeningens <a href="{{ STATIC_URL }}vedtaegter-matfys-20121106.pdf">vedtægter som PDF</a>.</p>

<h1>Regler for ekskludering af tutorer</h1>

<p>For at være tutor i Mat/Fys-Tutorgruppen, skal man overholde de regler, der står i foreningens vedtægter:</p>

<blockquote style="font-style: italic">
	<p>§4 Regler for medlemmer</p>
	<p>Stk. 1</p>
	<p>Medlemmerne deltager aktivt i de arbejdsgrupper de indgår i.</p>
	<p>Stk. 2</p>
	<p>Medlemmer deltager aktivt i de arrangementer som Mat/Fys-Tutorgruppen afholder.</p>
	<p>Stk. 3</p>
	<p>Medlemmerne skal som udgangspunkt altid møde op til de arrangementer, hvor der er mødepligt. Såfrem et medlem ikke kan deltage i et sådant arrangement, skal medlemmet melde afbud til den/de ansvarlige.</p>
</blockquote>

<p>Desuden skal man overholde de retningslinjer, der er udarbejdet i samarbejde med fakultetet.</p>

<p>For at deltage aktivt i gruppearbejdet, skal man deltage i de møder, som gruppen holder. Afbud med årsag meldes til den gruppeansvarlige. Den gruppeansvarlige står for at give besked til bestyrelsen, hvis et medlem udebliver fra gruppemøderne. Dette vil resultere i en skriftlig advarsel. Hvis situationen forbliver uforandret herefter, kan bestyrelsen vælge af ekskludere pågældende tutor.</p>

<p>Der er mødepligt til stormøderne samt arbejdslørdagene i foråret. Ved enkelt udeblivelse får man en skriftlig advarsel. To udeblivelser medfører ekskludering.</p>

<p>Som holdtutor skal man derudover også deltage i rusdagene og så vidt muligt alle holdets timer i perioden efter russtart.</p>

<p>Ved ekskludering vil man ikke have adgang til de resterende arrangermenter, der vil blive afholdt i Mat/Fys-Tutorgruppen.</p>

<p>Det er selvfølgelig altid muligt at melde sig ud af tutorgruppen hvis man ikke kan/ønsker at deltage i tutorarbejdet mere. Dette gøres ved at kontakte bestyrelsen.</p>

{% endblock %}
